/*
div {
  border: 1px solid red;
}
*/

body {
  font-family: 'Lato';
  font-weight: 300;
  color: #111;
}

.clickable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  outline: none;
}

.ui.icon.input {
  padding: 3px 5px;
  width: 100%;
  max-width: 350px;
}

.ui.search .prompt {
  border: 1px solid #85B7D9;
  border-radius: .35rem !important;
}

.ui.search .ui.input input {
  padding: 0.3em 1em;
}

.ui.search .result .title,
.ui.search .result .description {
  display: inline-block;
  padding-right: 10px;
}

.ui.search .results {
  margin-top: 0;
  margin-left: 5px;
}

.ui.search .results .content {
  white-space: nowrap;
}

.ui.search .results .message .header {
  color: #333333;
  font-weight: 400;
}

.ui.search > .results .result .title {
  font-weight: 500;
  font-size: 0.95em;
}
