{% extends 'analysispage.html' %}

{% block title %}Gene List &#187; <span>{{ gene_list }}</span>{% endblock %}

{% block links %}
Gene Lists: <a href="{% url 'gene_lists_home' %}">My Gene Lists</a>
{% endblock %}

{% block desc %}
{% endblock %}

{% block right %}
    <a href="{% url 'gene_list_download' gene_list.slug %}" class="btn btn-primary">Download</a><br/>
    {% if user == gene_list.owner %}
        <a href="{% url 'gene_list_edit' gene_list.slug %}" class="btn btn-primary">Edit</a><br/>
        <a href="{% url 'gene_list_delete' gene_list.slug %}" class="btn btn-danger">Delete</a><br/>
    {% endif %}
{% endblock %}

{% block innercontent %}
    {% include "gene_lists/gene_list_content.html" %}
{% endblock %}

