<div class="container">
    <dl class="dl-horizontal">

        <dt>Name</dt>
        <dd>{{ gene_list }}</dd>

        <dt>Description</dt>
        <dd>{{ gene_list.description }}</dd>

        <dt># Genes</dt>
        <dd>{{ gene_list.num_genes }}</dd>

        <dt>Curator</dt>
        <dd>
            {% if gene_list.owner %}
                {{ gene_list.owner.profile }}
            {% else %}
                <em>No owner</em>
            {% endif %}
        </dd>

        <dt>Last updated</dt>
        <dd>
            {% if gene_list.last_updated %}
                {{ gene_list.last_updated }}
            {% else %}
            {% endif %}
        </dd>

    </dl>
    <h2 class="section-header">Genes In This Gene List</h2>
    <table class="table table-big">
        <thead>
            <tr>
                <th>Gene</th>
                <th>Gene Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for gene in genes %}
                <tr>
                    <td>{{ gene.symbol }}</td>
                    <td>{{ gene.gene_type }}</td>
                    <td><a href="{% url 'gene_info' gene.gene_id %}">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>