{% extends 'analysispage.html' %}

{% block title %}Gene Lists{% endblock %}

{% block desc %}
    <p>
        This page shows all of the gene lists that are available in your account.
    </p>
{% endblock %}

{% block right %}
    <a href="{% url 'gene_lists_add' %}" class="btn btn-primary">Add a new gene list</a>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <h2 class="section-header">My Gene Lists</h2>
        <p>
            You are the curator for the following gene lists. 
	    Click on the gene list to <b>edit</b> or <b>delete</b> it.
        </p>
        {% with user_lists as gene_lists %}
            {% include 'gene_lists/table.html' %}
        {% endwith %}


        <h2 class="section-header">Public Gene Lists</h2>
        <p>The following gene lists have been made public by other users:</p>
        {% with public_lists as gene_lists %}
            {% with True as show_user %}
                {% include 'gene_lists/table.html' %}
            {% endwith %}
        {% endwith %}
    </div>
{% endblock %}
