<table class="table">
    <thead>
        <tr>
            <th>List</th>
            {% if show_user %}<th>Curator</th>{% endif %}
            <th>Description</th>
            <th style="min-width: 5em"> # Genes</th>
            <th style="min-width: 15em">Last updated</th>
        </tr>
    </thead>
    <tbody>
        {% for gene_list in gene_lists %}
            <tr>
                <td>
                    <strong>
                        <a href="{% url 'gene_list' slug=gene_list.slug %}">{{ gene_list.name }}</a>
                    </strong>
                </td>
                {% if show_user %}
                    <td>
                        {% if gene_list.owner %}
                            {{ gene_list.owner.profile }}
                        {% endif %}
                    </td>
                {% endif %}
                <td>{{ gene_list.description }}</td>
                <td>{{ gene_list.num_genes }}</td>
                <td>{{ gene_list.last_updated }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>