table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc, table.dataTable thead .sorting {
    background-image: none;  /* this is needed to fix sort arrows */
}

.dataTables_filter {
    position: relative;
    bottom:10px;
}

.dataTables_paginate {
    margin-top:10px;
}