.idea*
*.iml
*.sqlite3
*.log

ui/node_modules
ui/jest*

docs/*.rst
docs/_build
docs/Makefile

*.pyc
*.DS_Store

deploy/secrets/gcloud*
deploy/secrets/minikube*
deploy/secrets/kube-solo*
deploy/secrets/shared*

pedigree_images/*