.idea*
*.iml
*.sqlite3
*.log

ui/node_modules
ui/jest*
ui/dist
static/

*.pyc
*.DS_Store
.ipynb_checkpoints

deploy/secrets/gcloud*/*
deploy/secrets/gcloud*/*
deploy/*.tar.gz

pedigree_images/*
seqr_settings

django_key
.coverage
