version: '2.4'

services:
  postgres:
    image: gcr.io/seqr-project/postgres:gcloud-prod
    environment:
      - PGPORT=5433
      - POSTGRES_PASSWORD=docker-compose-postgres-password
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: pg_isready -h postgres -U postgres
      interval: 5s
      timeout: 10s
      retries: 100


  redis:
    image: gcr.io/seqr-project/redis:gcloud-prod
    healthcheck:
      test: redis-cli ping
      interval: 3s
      timeout: 5s
      retries: 100


  elasticsearch:
    image: gcr.io/seqr-project/elasticsearch:gcloud-prod-elasticsearch
    volumes:
      - ./data/elasticsearch:/usr/share/elasticsearch/data
    container_name: elasticsearch
    environment:
      - http.host=0.0.0.0
      - discovery.type=single-node
      - cluster.routing.allocation.disk.threshold_enabled=false
    healthcheck:
      test: bash -c "curl -s elasticsearch:9200/_cat/health | grep green"
      interval: 3s
      timeout: 5s
      retries: 100
    ports:
      - 9200:9200


  kibana:
    image: gcr.io/seqr-project/kibana:gcloud-prod
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      elasticsearch:
        condition: service_healthy
    healthcheck:
      test: bash -c "curl -s kibana:5601 | grep kibana"
      interval: 3s
      timeout: 5s
      retries: 100

  seqr:
    image: gcr.io/seqr-project/seqr:gcloud-prod
    volumes:
    - ./data/readviz:/readviz
    ports:
      - 80:8000
    environment:
      - SEQR_GIT_BRANCH=dev
      - PYTHONPATH=/seqr
      - STATIC_MEDIA_DIR=/seqr_static_files
      - POSTGRES_SERVICE_HOSTNAME=postgres
      - POSTGRES_SERVICE_PORT=5433
      - POSTGRES_PASSWORD=docker-compose-postgres-password
      - ELASTICSEARCH_SERVICE_HOSTNAME=elasticsearch
      - REDIS_SERVICE_HOSTNAME=redis
      - KIBANA_SERVICE_HOSTNAME=kibana
      - PGHOST=postgres
      - PGPORT=5433
      - PGUSER=postgres
      - GUNICORN_WORKER_THREADS=4
    depends_on:
      postgres:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: bash -c "curl -s 'http://localhost:8000' | grep html"


  pipeline-runner:
    image: gcr.io/seqr-project/pipeline-runner:gcloud-prod
    volumes:
      - ./data/seqr-reference-data:/seqr-reference-data
      - ./data/vep_data:/vep_data
      - ./data/input_vcfs:/input_vcfs
      - ~/.config:/root/.config
    depends_on:
      elasticsearch:
        condition: service_healthy

