Django>=4.2,<4.3                  # core server-side framework
django-anymail                    # for sending emails using cloud-based mail service providers
django-clickhouse-backend
django-csp                        # for setting CSP headers
django-guardian                   # object-level permissions for database records. Behind a major version due to missing Python 2 support
django-hijack                     # allows admins to login as other user
django-notifications-hq           # notification app
django-cors-headers               # allows CORS requests for client-side development
django-storages[google]           # alternative GCS storage backend for the django media_root
social-auth-app-django>5.0.0      # the package for Django to authenticate users with social medieas
social-auth-core                  # the Python social authentication package. Required by social-auth-app-django
elasticsearch==7.9.1              # elasticsearch client
elasticsearch-dsl==7.2.1          # elasticsearch query utilities
gunicorn                          # web server
jmespath
openpyxl                          # library for reading/writing Excel files
pillow                            # required dependency of Djagno ImageField-type database records
psycopg                           # postgres database access
pyliftover                        # GRCh37/GRCh38 liftover
requests                          # simpler way to make http requests
redis<4.6                         # client lib for the redis in-memory database - used for caching server-side objects
requests-toolbelt                 # for troubleshooting requests
slacker                           # library for sending slack messages
slugify                           # used for encoding names for guids
tqdm                              # convenient way to create progress bar for long-running command-line operations
whitenoise
feedparser
markdownify
tenacity
