Django==1.11.29                  # core server-side framework. Behind a major version due to missing Python 2 support
django-anymail==7.0.0            # for sending emails using cloud-based mail service providers
django-guardian==1.5.1           # object-level permissions for database records. Behind a major version due to missing Python 2 support
django-hijack==2.1.10            # allows admins to login as other user
django-cors-headers==3.0.2       # allows CORS requests for client-side development
social-auth-app-django==4.0.0    # the package for Django to authenticate users with social medieas
social-auth-core==3.3.3          # the Python social authentication package. Required by social-auth-app-django
google-auth==1.22.1              # for Google service account client and secure sessions using access tokens

elasticsearch==7.9.1             # elasticsearch client
elasticsearch-dsl==7.2.1	     # elasticsearch query utilities
gunicorn==19.10.0                # web server
jmespath==0.9.4
openpyxl==2.6.4                  # library for reading/writing Excel files
pillow==7.1.0                    # required dependency of Djagno ImageField-type database records
psycopg2==2.8.4                  # postgres database access
pyliftover==0.4                  # GRCh37/GRCh38 liftover
requests==2.22.0                 # simpler way to make http requests
redis==3.3.11                    # client lib for the redis in-memory database - used for caching server-side objects
requests-toolbelt==0.9.1         # for troubleshooting requests
slacker==0.13.0                  # library for sending slack messages
slugify==0.0.1                   # used for encoding names for guids
tqdm==4.40.2                     # convenient way to create progress bar for long-running command-line operations
whitenoise==3.3.0                # simplified static file handling. Behind a major version due to missing Python 2 support

