Django
Markdown
MySQL-python
PyVCF
PyYAML
awesome-slugify
django-appconf
django-compressor
django-crispy-forms
django-extensions
django-pretty-times
gunicorn
ipython
pandas
Pillow
progressbar
psycopg2
pymongo
pysam
requests
selenium
sh
simplejson
six
