{% extends "base.html" %}

{% block content %}
    <div class="container">
        <dl class="dl-horizontal">
            <dt>Username</dt>
            <dd>{{ user.username }}</dd>
            <dt>Email</dt>
            <dd>{{ user.email }}</dd>
            <dt>Name</dt>
            <dd>{{ profile.display_name }}</dd>
            <dt>Last Login</dt>
            <dd>{{ user.last_login }}</dd>
            <dt>Projects</dt>
            <dd>
                <ul>
                {% for p in projects %}
                    <li><a href="{% url 'project_home' p.project_id %}">{{ p }}</a></li>
                {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
{% endblock %}