{% extends 'analysispage.html' %}



{% block title %}<p>Phenotypes Upload</p>{% endblock %}

{% block links %}
<script>
$(document).ready(
		function(){
			var base = window.location;
			var urlFields = new String(base).split("/");
			var projectId = urlFields[urlFields.length-1];
			sessionStorage.setItem("projectId", projectId);
			$('#projId').text(projectId);
			$('#project_home_url').attr("href","/project/"+projectId);
		});
</script>

<style>
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.invalid-json-error-msg{
	color: red;
}
</style>


<script>
/**
 * Start processing the uploaded file
 */
function file_drop_handler(fileList) {
	for (var i = 0, numFiles = fileList.length; i < numFiles; i++) {
		  var f=fileList[i];
		  var reader = new FileReader();
		  reader.readAsText(f);
		  reader.onload = function(e) {
			    var phenotypesAsJson = parseValidJson(reader.result);
			    if (phenotypesAsJson){
			    	validateUploadedPhenotypes(phenotypesAsJson);
			    }
			    else{
			    	$('#file-processing-status-container').append('<span class="invalid-json-error-msg">Sorry, that file is not valid JSON, was it exported from PhenoTips?</span>');
			    	$('#file-processing-status-container').append('&nbsp&nbsp&nbsp&nbsp'+getResetButton());
			    }
		};
	}
}

/**
 * Parse valid JSON and return parsed JSON obj
 * ARGS:
 *	 s is a string
 * Returns:
 *	 a parsed object or null
 */
 function parseValidJson(s){
     if (typeof(s) != 'string' || s == null){
    	  console.log('input file not valid JSON, it is either null or not a string. Returning null');
          return null;
     }
	 try{
	 	obj = JSON.parse(s);
        if (typeof(obj) == "object" && obj != null) {
           return obj;
        }
     }
	 catch(e){
	 	console.log('not valid JSON! Returning null');
	 	return null;
     }
 }
 
 
 /**
 * Make sure the entered phenotypes file is ready for upload into local instance of PhenoTips
 * Validations done are:
 * 1. Do the project inidividual IDs match the given sample IDs
 *
 */
function validateUploadedPhenotypes(phenotypesAsJson){
	toggleInProgressSpinner('on', "making sure the sample IDs match what we have in seqr for this project..");
	var url = '/api/reports/project/' + sessionStorage.projectId +'/individuals';
	$.ajax({url: url, 
		 	success: function(result){
		 		var individuals={};
				for (var i in result['individuals']){
					individuals[result['individuals'][i]['indiv_id']] = result['individuals'][i];
				}
				var mappedStatus=validateSampleIds(phenotypesAsJson,individuals);
				sessionStorage.setItem("processedPhenotypesSubmission", JSON.stringify(mappedStatus));
		 		toggleInProgressSpinner('off',"Complete");
				idMappingStatusMessage(mappedStatus);
		 	},
		 	error:function(jqXHR, textStatus, errorThrown){
		 		console.log(errorThrown);
		 		console.log(textStatus);
		 	},
		    async:true,  
	 });
}
 
 /**
 * Show a message about the status of IDs in common between input phenotypes and seqr sample IDs
 */
 function idMappingStatusMessage(mappedStatus){
	 var message = '<span>';
	 message += 'We found '+ Object.keys(mappedStatus['mapped']).length.toString() +' IDs that mapped to IDs in <i>seqr</i>,';
	 message += ' and ' + Object.keys(mappedStatus['unmapped']).length.toString() + ' IDs that did not.';
	 if (Object.keys(mappedStatus['mapped']).length != 0){
		 message += ' We can only process the mapped IDs at this point. <strong>The unmapped will be ignored.</strong><br>';
		 message += 'Shall I continue?';
		 message += '</span>';
		 $("#file-processing-status-container").append(message);
		 $("#continue-button-container").empty();
		 $("#continue-button-container").append('<button type="button" onClick="continueWithSubmission()" class="btn btn-primary">Continue with upload</button>');
		 $("#continue-button-container").append('&nbsp&nbsp' + getResetButton());
	 }
	 else{
		 message += "<span>We can only process the mapped IDs at this point, and <strong>we didn't find any sorry.</strong><br>";
		 message += '</span>';
		 $("#file-processing-status-container").append(message);
		 $("#continue-button-container").empty();
		 $("#continue-button-container").append(getResetButton());
	 }
	 return;
 }
 
 /**
 * Continue submitting these mapped phenotypes to insert into local phenotips instance
 **/
 function continueWithSubmission(){
	 var mapped = JSON.parse(sessionStorage['processedPhenotypesSubmission'])['mapped'];
	 for (var i in mapped){
		 startInsertingPhenotypes(i,mapped[i]);
	 }
 }
 
 
 /**
  * Start inserting this individuals phenotypes into seqr
  * indiv_id is sample id
  * payload are the phenotypes to insert as JSON
  */
 function startInsertingPhenotypes(indiv_id,payload){
	    toggleInProgressSpinner('on',"Inserting in matched samples into seqr, this may take a few seconds per sample..");
 		var url = '/api/phenotips/proxy/project/' + sessionStorage.projectId + '/individual/' + indiv_id ;
 		$.ajax({url: url, 
			 	type:'POST',
			 	data:{"phenotypes":JSON.stringify(payload)},
 			 	success: function(result){
 			 		toggleInProgressSpinner('off');
 			 		$('#'+indiv_id).empty();
 			 		if (result['status_code']=='204'){
 			 			$('#'+indiv_id).append('<span class="label label-success">successfully uploaded</span>');
 			 			console.log(result);
 			 		}
 			 		else{
 			 			console.log(result);
 			 			$('#'+indiv_id).append('<span class="label label-danger">problem uploaded phenotypes:&nbsp'+ result['response'] +'</span>');
 			 		}
 			 	},
 			 	error:function(jqXHR, textStatus, errorThrown){
 			 		console.log(errorThrown);
 			 		console.log(textStatus);
 			 	},
 			    async:true,  
 		 });
 	}

 
 /**
 * Given a JSON of phenotypes, and a collection of individuals in seqr, makes sure they map together.
 * Given phenotype sample IDs must be a subset of the set of individual ids in this project
 **/
 function validateSampleIds(phenotypesAsJson,individuals){
	 var mapped={}
	 var unmapped={}
	 //if a list of individuals, do in a loop
	 if (Array.isArray(phenotypesAsJson)){
		 for (var i in phenotypesAsJson){
			 if (!individuals.hasOwnProperty(phenotypesAsJson[i]['external_id'])){
				 $('#file-processing-updates-container').append('<span class="label label-danger">unmapped ID</span><span> ' + phenotypesAsJson[i]['external_id']  +'</span><br>');
				 unmapped[phenotypesAsJson[i]['external_id']]=phenotypesAsJson[i];
			 }
			 else{
				 $('#file-processing-updates-container').append('<span class="label label-success">successfully mapped ID</span>&nbsp&nbsp<span>' + phenotypesAsJson[i]['external_id']  +'</span>&nbsp&nbsp<span id="'+ phenotypesAsJson[i]['external_id'] +'"></span><br>');
				 mapped[phenotypesAsJson[i]['external_id']]=phenotypesAsJson[i];
			 }
		 }
	 }
	 else{
		 if (!individuals.hasOwnProperty(phenotypesAsJson['external_id'])){
			 $('#file-processing-updates-container').append('<span class="label label-danger">unmapped ID</span><span> ' + phenotypesAsJson['external_id']  +'</span><br>');
			 unmapped[phenotypesAsJson['external_id']]=phenotypesAsJson;
		 }
		 else{
			 $('#file-processing-updates-container').append('<span class="label label-success">successfully mapped ID</span>&nbsp&nbsp<span>' + phenotypesAsJson['external_id']  +'</span>&nbsp&nbsp<span id="'+ phenotypesAsJson['external_id'] +'"></span><br>');
			 mapped[phenotypesAsJson['external_id']]=phenotypesAsJson;
		 }
	 }
	 return {'mapped':mapped, 'unmapped':unmapped};
 }
 
/**
 * Get a generic reset button HTML
 */
function getResetButton(){
	return '<button type="button" onClick="location.reload();" class="btn btn-primary">Reset</button>';
}
 
 
/**
 * Toggles a in progress spinner to page
 * state can be: on | off
 */
function toggleInProgressSpinner(state,message){
	 if (state=='on'){
		 $('h4#in-progress-modal-title').empty();
		 $('h4#in-progress-modal-title').append(message);
		 $('#in-progress-spinner-container').append('<i class="loading-in-progress fa fa-spinner fa-spin fa-3x fa-fw"></i>');
		 $('#myModal').modal('show');
	 }
	 else{
		 $('#myModal').modal('hide');
	 }
} 
</script>



Project: <a id="project_home_url" href=""><span id="projId"></span></a>
{% endblock %}
{% block innercontent %}
    {% include 'javascript.html' %}
    {% include 'family_warnings.html' %}



<div class="container">

<span>Please select a file of phenotypes exported from a <a href="https://phenotips.org/">PhenoTips</a> instance.</span>
<br><br>


<label class="btn btn-default btn-file btn-primary">
    Select file <input type="file" style="display: none;" onchange="file_drop_handler(this.files)">
</label>
<br><br>
<div id="file-processing-status-container"></div>
<br><br>
<div id="continue-button-container"></div>
<br><br>
<div id="file-processing-updates-container"></div>

</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="in-progress-modal-title" class="modal-title">
        	Processing..
        </h4>
      </div>
      <div class="modal-body">
           <i class="loading-in-progress fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>
    </div>
  </div>
</div>

{% endblock %}
