{% extends 'analysispage.html' %}



{% block title %}<p>Project Report</p>{% endblock %}

{% block links %}
<script>
$(document).ready(
		function(){
			var base = window.location;
			var urlFields = new String(base).split("/");
			var projectId = urlFields[urlFields.length-1];
			localStorage.setItem("projectId", projectId);
			$('#projId').text(projectId);
			$('#project_home_url').attr("href","/project/"+projectId);
		});
</script>

<script>
/**
 * Start processing the uploaded file
 */
function file_drop_handler(fileList) {
	for (var i = 0, numFiles = fileList.length; i < numFiles; i++) {
		  console.log(fileList[i]);
		  var f=fileList[i];
		  var reader = new FileReader();
		  reader.readAsText(f);
		  console.log(reader);
		  reader.onload = function(e) {
			    var phenotypesAsJson = parseValidJson(reader.result);
		};
	}
}

/**
 * Parse valid JSON and return parsed JSON obj
 * ARGS:
 *	 s is a string
 * Returns:
 *	 a parsed object or null
 */
 function parseValidJson(s){
     if (typeof(s) != 'string' || s == null){
    	  console.log('input file not valid JSON, it is either null or not a string. Returning null');
          return null;
     }
	 try{
	 	obj = JSON.parse(s);
        if (typeof(obj) == "object" && obj != null) {
           return obj;
        }
     }
	 catch(e){
	 	console.log('not valid JSON! Returning null');
	 	return null;
     }
 }
</script>



Project: <a id="project_home_url" href=""><span id="projId"></span></a>
{% endblock %}
{% block innercontent %}
    {% include 'javascript.html' %}
    {% include 'family_warnings.html' %}



<div class="container">

<span>Please select a file of phenotypes exported from a <a href="https://phenotips.org/">PhenoTips</a> instance below.</span>
<br><br>


<label class="btn btn-default btn-file btn-primary">
    Select file <input type="file" style="display: none;" multiple onchange="file_drop_handler(this.files)">
</label>

</div>

{% endblock %}
