{% extends "staff/table_layout.html" %}

{% block dataTable %}

<br />
<br />
<b>Elasticsearch Host:</b><br />
{{ elasticsearch_host }} <br />
<br />

<b>Disk status:</b>
<table id="diskStatusDataTable" class="display">
    <thead>
        <tr>
            <th>Node name</th>
            <th>Disk available</th>
            <th>Disk used</th>
            <th>Disk percentage used</th>
        </tr>
    </thead>
   {% for disk in disk_stats %}
        <tr>
            <td>{{ disk.node_name }}</td>
            <td>{{ disk.disk_available }}</td>
            <td>{{ disk.disk_used }}</td>
            <td>{{ disk.disk_percent_used }}</td>
        </tr>
    {% endfor %}
</table>

<br />
<b>Loaded Indices:</b>
<table id="dataTable" class="display">
    <thead>
        <tr>
            <th />
            <th>project</th>
            <th>data type</th>
            <th>genome version</th>
            <th>index</th>
            <th># records</th>
            <th>size</th>
            <th>created date</th>
            <th>file path</th>
        </tr>
    </thead>

    {% for index in indices %}
        <tr>
            <td />
            <td><a href="/project/{{ index.project_guid }}/project_page">{{ index.project_id }}</a></td>
            <td>{{ index.sample_type }}</td>
            <td>{{ index.genome_version }}</td>
            <td>{{ index.index }}</td>
            <td>{{ index.docs_count }}</td>
            <td>{{ index.store_size }}</td>
            <td>{{ index.creation_date_string }}</td>
            <td>{{ index.dataset_file_path }}</td>
        </tr>
    {% endfor %}
</table>

<br />
<br />
{% endblock %}