{% extends "staff/table_layout.html" %}

{% block dataTable %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      $( "#datepicker" ).datepicker({
        onSelect: function(dateText) {
          $("#download").attr("href", "{% url 'komp_export' %}/?download&start_date="+dateText);
        }
      });
    })
  </script>
  <br />
  <p>Download KOMP tags after: <input type="text" id="datepicker"> <a id="download">Download</a></p>
{% endblock %}
