{% extends "staff/table_layout.html" %}

{% block dataTable %}

  <table id="dataTable" class="display">
    <thead>
    <tr>
      <th> </th>
      <th width="80%">email</th>
      <th>username</th>
      <th data-s-type="date">date joined</th>
      <th data-s-type="date">last login</th>
      <th>name</th>
      <th>staff</th>
      <th>superuser</th>
      <th>id</th>
      <th>login as</th>
    </tr>
    </thead>
    {% for user in users %}
      <tr>
        <td> </td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.date_joined|date:'Y-m-d' }}</td>
        <td>{{ user.last_login|date:'Y-m-d' }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{% if user.is_staff %} &#x2714; {% endif %}</td>
        <td>{% if user.is_superuser %} &#x2714; {% endif %}</td>
        <td>{{ user.id }}</td>
        <td>
          <form action="/hijack/{{ user.id }}/" method="post">
            {% csrf_token %}
            <button type="submit">Log in</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table> 
  <script>
    window.dataTable = $('#dataTable').DataTable({
      paging: false,
      order: [[ 1, 'asc' ]],
      buttons: [
        'csv', 'excel', 'pdf'
      ],
    });
  </script>

{% endblock %}