{% extends 'analysispage.html' %}

{% block title %}Cohorts{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        This page lists all the Cohorts for this project.
        Cohort functionality is very preliminary at the moment -
        see <a href="/docs/data-organization">data organization</a>
        for more details.
    </p>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <div class="rest-resource-list">
        {% for cohort in cohorts %}
            <div class="rest-resource">
                <div class="rest-resource-title"><a href="{% url "cohort_home" project.project_id cohort.cohort_id %}">{{ cohort }}</a></div>
                <div class="rest-resource-desc">
                    {% if cohort.description %}
                        {{ cohort.description }}
                    {% else %}
                        <em>No description</em>
                    {% endif %}
                </div>
                <div class="rest-resource-controls">
                    <a class="edit" href="{% url 'cohort_edit' project.project_id cohort.cohort_id %}">Edit</a> <span class="sep">-</span>
                    <a class="delete" href="{% url 'cohort_delete' project.project_id cohort.cohort_id %}">Delete</a>
                </div>
            </div>
        {% empty %}
            <p>No cohorts have been created for this project.</p>
        {% endfor %}
        </div>
        <a class="btn btn-primary btn-lg" href="{% url 'cohort_add' project.project_id %}">Add Cohort</a>
    </div>
{% endblock %}
