{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="span12">
        <div class="pageheader">
            <div class="title">Edit Cohort</div>
            <div class="small">Cohort: <a href="{% url 'cohort_home' project.project_id cohort.cohort_id %}">{{ cohort }}</a></div>
            <div class="quick-doc">
                Use this page to edit basic info about a cohort.
                Note that you cannot add or remove individuals - you must delete and create again.
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="span4 offset4">
        <div class="simple-block-form">
            <form action="#" method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>


{% endblock %}
