{% extends 'analysispage.html' %}

{% load static from staticfiles %}

{% block title %}Combine Mendelian Families{% endblock %}

{% block links %}
    Family Group: <a href="{% url 'family_group_home' project.project_id family_group.slug %}">{{ family_group }}</a>
{% endblock %}

{% block desc %}
    <p>
        This is a module for integrating Mendelian Variant Search results across a family group.
        For more, check out the <a href="/docs/combine-mendelian-families">Documentation</a>.
    </p>
{% endblock %}

{% block innercontent %}

    <div class="container">
        <div id="search-form-container"></div>
    </div>

    <div class="search-controls">
        <a class="btn btn-lg btn-primary" id="run-search">Search</a>
        <span id="search-loading" style="display:inline-block;">{% include "ajaxloader.html" %}</span>
    </div>

    <div id="results-container"></div>

    {% include 'javascript.html' %}

    <script type="text/javascript">
        var FAMILY_GROUP = {{ family_group_json|safe }};
    </script>

    <script type='text/javascript' src='{% static "js/family_group/combine_mendelian_families.js" %}'></script>

{% endblock %}
