{% extends 'confirmpage.html' %}

{% block innercontent %}
    <p>
        All of the metadata associated with this family group will be permanently deleted,
        though the families in this group will not be affected.
    </p>
    <p>Are you sure you want to delete the following family group: </p>
    <p>
        Name: <strong>{{ family_group }}</strong><br>
        Project: <strong>{{ family_group.project }}</strong>
    </p>
    <form action="#" method="post" class="form">
        <input type="hidden" name="confirm" value="yes"/>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">Delete</button>
    </form>
{% endblock %}