{% extends 'analysispage.html' %}

{% block title %}Family Group &#187; <span>{{ family_group }}</span>{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        A family group is a collection of families that you want to analyze together.
    </p>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ family_group }}</dd>
                    <dt>Description</dt>
                    <dd>{{ family_group.description }}</dd>
                    <dt># Families</dt>
                    <dd>{{ family_group.num_families }}</dd>
                </dl>
                <h4>Families</h4>
                <div id="families-container"></div>
            </div>
            <div class="col-md-4">
                <div class="analysis-options-box">
                    <h6 class="section-header">Analysis</h6>
                    <div class="analysis-box">
                        <a href="{% url 'combine_mendelian_families' project.project_id family_group.slug %}" class="big-link-text">Combine Mendelian Families</a>
                        <p>Run an inheritance search across all families in this group.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'javascript.html' %}

    <script type="text/javascript">
        var FAMILIES = {{ families_json|safe }};
        var PROJECT_SPECS = {{ project.get_options_json|safe }};
        var ANALYSIS_STATUSES = {{ analysis_statuses|safe }};
        $(function() {
            var hbc = new HeadBallCoach();
            var view = new FamiliesView({
                families: FAMILIES,
                project_spec: PROJECT_SPECS,
                analysis_statuses: ANALYSIS_STATUSES,
                show_case_review_status: false,
            });
            $('#families-container').html(view.render().el);
        });
    </script>

{% endblock %}
