{% extends 'analysispage.html' %}
{% load static from staticfiles %}

{% block title %}Add Cohort{% endblock %}

{% block links %}
    Family Group: <a href="{% url 'family_group_home' project.project_id family_group.slug %}">{{ family_group }}</a>
{% endblock %}

{% block desc %}
    <p>
        Use this page to add a cohort to your project.
        Select a set of individuals from the table below and click the "Create" button.
    </p>
    <p>
        You can select (or deselect) an individual using the checkbox for that table row,
        or use the controls below to select a group of families at once.
    </p>
{% endblock %}

{% block innercontent %}

    <div class="container">
        <div id="variants-by-family-container"></div>
    </div>

    {% include 'javascript.html' %}

    <script type="text/javascript">
        var username = "{{ request.user.username }}";
        var GENE = {{ gene_json|safe }};
        var VARIANTS_BY_FAMILY = {{ variants_by_family_json|safe }};
        var FAMILY_GROUP = {{ family_group_json|safe }};
    </script>
    <script type='text/javascript' src='{% static "js/family_group/family_group_gene.js" %}'></script>

{% endblock %}