{% extends 'analysispage.html' %}

{% block title %}Family Groups{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        This page lists all the family groups for this project.
        A family group is a collection of families that are selected to be analyzed together.
        In order to run cross-family analyses like <em>Combine Mendelian Families</em>,
        you must first create a family group.
    </p>
{% endblock %}

{% block innercontent %}

<div class="container">
    <div class="rest-resource-list">
    {% for family_group in family_groups %}
        <div class="rest-resource">
            <div class="rest-resource-title"><a href="{% url "family_group_home" project.project_id family_group.slug %}">{{ family_group }}</a></div>
            <div class="rest-resource-desc">
                {% if family_group.description %}
                    {{ family_group.description }}
                {% else %}
                    <em>No description</em>
                {% endif %}
            </div>
            <div class="rest-resource-controls">
                <a class="edit" href="{% url 'family_group_edit' project.project_id family_group.slug %}">Edit</a> <span class="sep">-</span>
                <a class="delete" href="{% url 'family_group_delete' project.project_id family_group.slug %}">Delete</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <a class="btn btn-primary btn-lg" href="{% url 'add_family_group' project.project_id %}">Add Family Group</a>
</div>

{% endblock %}
