pip                              # make sure the latest version of pip is installed
psutil==5.6.7                    # library for process and system monitoring

# kubernetes deployment dependencies
Jinja2==2.10.1                   # jinja templates are used in the kubernetes deployment scripts
PyYAML==5.3.1                      # yaml parsing