{% extends 'analysispage.html' %}

{% load static from staticfiles %}

{% block title %}Causal Variants{% endblock %}

{% block links %}
    Family: <a href="{% url 'family_home' project_id=project.project_id family_id=family.family_id %}">{{ family }}</a>
{% endblock %}

{% block desc %}
    <p>
        This page displays the genetic cause for this family.
    </p>
{% endblock %}



{% block innercontent %}
    <div class="container">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
                <form action="#" method="post" class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Inheritance Mode</label>
                        <div class="col-sm-9">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="inheritance_mode" value="dominant" {% if family.causal_inheritance_mode == 'dominant' %}checked="checked"{% endif %}>
                                    Dominant
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="inheritance_mode" value="recessive" {% if family.causal_inheritance_mode == 'recessive' %}checked="checked"{% endif %}>
                                    Recessive
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="inheritance_mode" value="x_linked" {% if family.causal_inheritance_mode == 'x_linked' %}checked="checked"{% endif %}>
                                    X-Linked
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="inheritance_mode" value="de_novo" {% if family.causal_inheritance_mode == 'de_novo' %}checked="checked"{% endif %}>
                                    De Novo
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="inheritance_mode" value="unknown" {% if family.causal_inheritance_mode == 'unknown' %}checked="checked"{% endif %}>
                                    Unknown
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Variants</label>
                        <div class="col-sm-9">
                            {% if variants %}
                                {% for variant in variants %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="variants" value="{{ variant.xpos }}|{{ variant.ref }}|{{ variant.alt }}" checked="checked">
                                            {{ variant.chr }}:{{ variant.pos }} {{ variant.ref }} -> {{ variant.alt }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <p><em>Un-checking a variant will remove it from the list of causal variants.</em></p>
                            {% else %}
                            <div class="checkbox">
                                <em>Add variants from within the search interface</em>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit" class="btn btn-default btn-primary" >Submit</button>
                            <button type="submit" class="btn btn-danger disabled" >Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block extrahead %}
<script type='text/javascript' src='{% static "js/libs/jquery.hotkeys.js" %}' ></script>
<script type='text/javascript' src='{% static "js/libs/bootstrap-wysiwyg.js" %}' ></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_about_family_content').wysiwyg();
        $('#family-edit-form').submit(function() {
            $('#about_family_content_hidden').val($('#id_about_family_content').cleanHtml());
        })
    });
    </script>
{% endblock %}
