{% extends 'analysispage.html' %}

{% block title %}<a href="{% url 'families' project.project_id %}">Family</a> &#187; <span>{{ family }}</span>{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}
{% block desc %}
    <p>
    </p>
{% endblock %}

{% block innercontent %}

    {% include 'family_warnings.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="section-header">About This Family</h4>
                        <dl class="dl">

                            <dt>Family ID</dt>
                            <dd>{{ family.family_id }}</dd>

                            <dt>Number of Individuals</dt>
                            <dd>{{ family.num_individuals }}</dd>

                            <dt>Short Description</dt>
                            <dd>{% if family.short_description %}{{ family.short_description }}{% else %}-{% endif %}</dd>

                        </dl>
                    </div>
                    <div class="col-md-4">
                        <h4 class="section-header">Data Available</h4>
                        <dl>
                            <dt>Variants (VCF)</dt>
                            <dd>
                                {% if family.get_data_status == 'loaded' %}
                                    <i class="fa fa-circle" style="color: rgba(3, 182, 46, 0.79); padding-right: 3px;"></i> Loaded
                                {% endif %}
                                {% if family.get_data_status == 'loading' %}
                                    <i class="fa fa-clock-o" style="color: #08c; padding-right: 3px;"></i> Loading
                                {% endif %}
                                {% if family.get_data_status == 'not_loaded' %}
                                    <i class="fa fa-circle" style="color: red; padding-right: 3px;"></i> Not loaded; needs to be refreshed
                                {% endif %}
                                {% if family.get_data_status == 'no_variants' %}
                                    <i class="fa fa-circle" style="color: red; padding-right: 3px;"></i> No variant data
                                {% endif %}
                            </dd>
                            <dt>CNVs</dt>
                            <dd>
                                -
                            </dd>
                            <dt>Exome Coverage</dt>
                            <dd>
                                -
                            </dd>
                        </dl>

                    </div>
                    <div class="col-md-4">
                        <h4 class="section-header">Analysis</h4>
                        <dl>
                            <dt>Status</dt>
                            <dd>
                                {% if family.analysis_status == 'S' %}
                                    <i class="fa fa-check-square-o" style="color: #08c; font-size: 16px; padding-right: 3px;"></i> Solved
                                {% endif %}
                                {% if family.analysis_status == 'I' %}
                                    <i class="fa fa-square-o" style="color: #08c; font-size: 16px; padding-right: 3px;"></i> Unsolved
                                {% endif %}
                                {% if family.analysis_status == 'Q' %}
                                    <i class="fa fa-clock-o" style="color: #08c; font-size: 16px; padding-right: 3px;"></i> Waiting for data
                                {% endif %}
                            </dd>
                            <dt>Inheritance Mode</dt>
                            <dd>
                                {% if family.analysis_status == 'S' %}
                                    {{ family.causal_inheritance_mode }}
                                {% else %}
                                -
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                </div>

                {% if family.about_family_content or family.pedigree_image %}
                    <div class="clinical-details">
                        <h4 class="section-header">Clinical Details</h4>
                        {% if family.pedigree_image %}
                        <div class="pedigree-image-container">
                            <img src="{{ family.pedigree_image.url }}" >
                        </div>
                        {% endif %}
                        <p>{{ family.about_family_content|safe }}</p>
                    </div>
                {% endif %}

                {% if family.get_image_slides %}
                    <h4 class="section-header">Slides</h4>
                    <div id="family-image-slides" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            {% for slide in family.get_image_slides %}
                                {% include "family/family_image_slide.html" %}
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#family-image-slides" role="button" data-slide="prev">
                            <i class="fa fa-chevron-circle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#family-image-slides" role="button" data-slide="next">
                            <i class="fa fa-chevron-circle-right"></i>
                        </a>
                    </div>
                {% endif %}

                <h4 class="section-header">Individuals</h4>
                <table class="table">

                    <thead>
                        <tr>
                            <th>Individual</th>
                            <th>Gender</th>
                            <th>Affected Status</th>
                            <th>Mother</th>
                            <th>Father</th>
                            <th>Phenotypes</th>
                            {% if phenotips_supported %}
                            	<th>Phenotips</th>
                           	{% endif %}
                        </tr>
                    </thead>

                    <tbody>
                    {% for indiv in family.individual_set.all %}
                    <tr>
                        <td><span class="individual">{{ indiv }}</span></td>
                        <td>{{ indiv.gender_display }}</td>
                        <td>{{ indiv.affected_status_display }}</td>
                        <td>{% if indiv.maternal_id %}{{ indiv.maternal_id }}{% else %}-{% endif %}</td>
                        <td>{% if indiv.paternal_id %}{{ indiv.paternal_id }}{% else %}-{% endif %}</td>
                        <td>{% for ipheno in indiv.get_phenotypes %}{{ ipheno.phenotype.name }}{% empty %}-{% endfor %}</td>
                        {% if phenotips_supported %}
                        	<td><button id={{ indiv }} type="button" class="btn btn-info btn-sm phenotipsEditModalBtn">Edit in Phenotips</button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            


        <!-- Phenotips integration -->
		<div id="phenotipsModal" class="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Phenotips</h4>
					</div>
					<div class="modal-body"">
						<iframe name="phenotipsEditPatientFrame" id="phenotipsEditPatientFrame" src="" width=1000 height=800 frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
		<script>
		$('.phenotipsEditModalBtn').on('click',function(event) {
			var patientId=this.id;
			var project_name="{{ project.project_id }}";
			showEditPageForThisPatient(patientId,project_name);
		});

		//to capture modal close event relating to editing/viewing a phenotips patient page
		$("#phenotipsModal").on("hidden.bs.modal",function() {
			//clear up the existing frame so frame is black before next page loads
			$('#phenotipsEditPatientFrame').attr('src', "about:blank");
		});
		</script>
		


		
		<!-- 
		/**
		* Temporarily inserting this contents into the HTML
		*/
		<script type='text/javascript' src='{{ STATIC_URL }}phenotips_integration/phenotips_integration.js'></script>
    	<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}phenotips_integration/phenotips_integration.css' />    
		 -->
		<script>
		/**
		 * Given a patient ID (NAxxx,) show the phenotips edit page for it
		 **/
		function showEditPageForThisPatient(patientId,project) {
			var uri = '/api/phenotips/proxy/edit/' + patientId + '?' + 'project=' + project;
			$('#phenotipsEditPatientFrame').attr('src', uri);
			$('#phenotipsModal').modal('show');
		}
		</script>
		
		<style>
			.modal {
					text-align: center;
					}

			.modal:before {
					display: inline-block;
					vertical-align: middle;
					content: " ";
					height: 100%;
					}

			.modal-dialog {
					display: inline-block;
					text-align: left;
					vertical-align: middle;
					}

			.modal-dialog {
					width: auto;
					}
		</style>
		
		
            
            <div class="col-md-4">
                <div class="analysis-options-box">
                    <h6 class="section-header">Analysis Options</h6>
                    <div class="analysis-box">
                        <a href="{% url 'mendelian_variant_search' project.project_id family.family_id %}" class="big-link-text">Search for Causal Variants</a>
                        <p>Search for potentially causal variants in this pedigree. This is the main xBrowse search interface.</p>
                    </div>
                    <div class="analysis-box">
                        <a href="{% url 'family_gene_lookup' project.project_id family.family_id %}" class="big-link-text">Single Gene Search</a>
                        <p>See all the variants in this family that occur in a gene of interest</p>
                    </div>
                    <!--<div class="analysis-box">-->
                        <!--<a href="{% url 'diagnostic_search' project.project_id family.family_id %}" class="big-link-text">Diagnostic Search</a>-->
                        <!--<p>Run a highly sensitive "diagnostic" screen across a set of candidate genes. </p>-->
                    <!--</div>-->
                    <div class="analysis-box">
                        <a href="{% url 'edit_family_cause' project.project_id family.family_id %}" class="big-link-text">Cause of Disease</a>
                        <p>
                            View variants indicated as causal and set the disease inheritance mode for this family.
                        </p>
                        
                    </div>
                    {% if family.has_coverage_data %}
                    <div class="analysis-box">
                        <a href="{% url 'family_coverage' project.project_id family.family_id %}" class="big-link-text">Exome Coverage</a>
                        <p>See which parts of the exome could be analyzed, and which may require further sequencing.</p>
                    </div>
                    {% endif %}
                    {% if user_is_admin %}
                    <div class="analysis-box">
                        <a href="{% url 'edit_family' project.project_id family.family_id %}" class="big-link-text">Edit Family</a>
                        <p>Use this page to add family information, change family analysis status, or add a pedigree image.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
