{% extends 'analysispage.html' %}

{% block title %}<a href="{% url 'families' project.project_id %}">Family</a> &#187; <span>{{ family }}</span>{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        A family in xBrowse is, perhaps unsurprisingly, a set of related individuals.
        This can include both individuals with variant data and other relatives.
        This can be helpful, for example, if you want to store phenotype data for a deceased relative that you cannot collect DNA from.
    </p>
{% endblock %}

{% block innercontent %}

    {% include 'family_warnings.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="section-header">About This Family</h4>
                        <dl class="dl">

                            <dt>Family ID</dt>
                            <dd>{{ family.family_id }}</dd>

                            <dt>Number of Individuals</dt>
                            <dd>{{ family.num_individuals }}</dd>

                            <dt>Short Description</dt>
                            <dd>{% if family.short_description %}{{ family.short_description }}{% else %}-{% endif %}</dd>

                        </dl>
                    </div>
                    <div class="col-md-4">
                        <h4 class="section-header">Data Available</h4>
                        <dl>
                            <dt>Variants (VCF)</dt>
                            <dd>
                                {% if family.get_data_status == 'loaded' %}
                                    <i class="fa fa-circle" style="color: rgba(3, 182, 46, 0.79); padding-right: 3px;"></i> Loaded
                                {% endif %}
                                {% if family.get_data_status == 'loading' %}
                                    <i class="fa fa-clock-o" style="color: #08c; padding-right: 3px;"></i> Loading
                                {% endif %}
                                {% if family.get_data_status == 'not_loaded' %}
                                    <i class="fa fa-circle" style="color: red; padding-right: 3px;"></i> Not loaded; needs to be refreshed
                                {% endif %}
                                {% if family.get_data_status == 'no_variants' %}
                                    <i class="fa fa-circle" style="color: red; padding-right: 3px;"></i> No variant data
                                {% endif %}
                            </dd>
                            <dt>CNVs</dt>
                            <dd>
                                -
                            </dd>
                            <dt>Exome Coverage</dt>
                            <dd>
                                -
                            </dd>
                        </dl>

                    </div>
                    <div class="col-md-4">
                        <h4 class="section-header">Analysis</h4>
                        <dl>
                            <dt>Status</dt>
                            <dd>
                                {% if family.analysis_status == 'S' %}
                                    <i class="fa fa-check-square-o" style="color: #08c; font-size: 16px; padding-right: 3px;"></i> Solved
                                {% endif %}
                                {% if family.analysis_status == 'I' %}
                                    <i class="fa fa-square-o" style="color: #08c; font-size: 16px; padding-right: 3px;"></i> Unsolved
                                {% endif %}
                                {% if family.analysis_status == 'Q' %}
                                    <i class="fa fa-clock-o" style="color: #08c; font-size: 16px; padding-right: 3px;"></i> Waiting for data
                                {% endif %}
                            </dd>
                            <dt>Inheritance Mode</dt>
                            <dd>
                                {% if family.analysis_status == 'S' %}
                                    {{ family.causal_inheritance_mode }}
                                {% else %}
                                -
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                </div>

                {% if family.about_family_content or family.pedigree_image %}
                    <div class="clinical-details">
                        <h4 class="section-header">Clinical Details</h4>
                        {% if family.pedigree_image %}
                        <div class="pedigree-image-container">
                            <img src="{{ family.pedigree_image.url }}" >
                        </div>
                        {% endif %}
                        <p>{{ family.about_family_content|safe }}</p>
                    </div>
                {% endif %}

                {% if family.get_image_slides %}
                    <h4 class="section-header">Slides</h4>
                    <div id="family-image-slides" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            {% for slide in family.get_image_slides %}
                                {% include "family/family_image_slide.html" %}
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#family-image-slides" role="button" data-slide="prev">
                            <i class="fa fa-chevron-circle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#family-image-slides" role="button" data-slide="next">
                            <i class="fa fa-chevron-circle-right"></i>
                        </a>
                    </div>
                {% endif %}

                <h4 class="section-header">Individuals</h4>
                <table class="table">

                    <thead>
                        <tr>
                            <th>Individual</th>
                            <th>Gender</th>
                            <th>Affected Status</th>
                            <th>Mother</th>
                            <th>Father</th>
                            <th>Phenotypes</th>
                            <th>Phenotips</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for indiv in family.individual_set.all %}
                    <tr>
                        <td><span class="individual">{{ indiv }}</span></td>
                        <td>{{ indiv.gender_display }}</td>
                        <td>{{ indiv.affected_status_display }}</td>
                        <td>{% if indiv.maternal_id %}{{ indiv.maternal_id }}{% else %}-{% endif %}</td>
                        <td>{% if indiv.paternal_id %}{{ indiv.paternal_id }}{% else %}-{% endif %}</td>
                        <td>{% for ipheno in indiv.get_phenotypes %}{{ ipheno.phenotype.name }}{% empty %}-{% endfor %}</td>
                        <td><button id={{ indiv }} type="button" class="btn btn-info btn-sm phenotipsEditModalBtn">Edit in Phenotips</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#phenotipsPwdPromptModal">Sync Phenotips updates with XBrowse</button>
            </div>

		<!-- Phenotips modal related -->
		<div id="phenotipsModal" class="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Phenotips</h4>
					</div>
					<div class="modal-body"">
						<iframe id="phenotipsFrame" src="{{ phenotips_host_name }}/bin/AllData" width=1000 height=800 frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div id="phenotipsPwdPromptModal" class="modal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Authentication into Phenotips</h4>
					</div>
					<div class="modal-body"">
						<label>Please enter your Phenotips username and password</label>
						<div class="form-group">
							<label for="usr">Username:</label> <input type="text"
								class="form-control" id="phenotipsUsrName">
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label> <input type="password"
								class="form-control" id="phenotipsPwd">
						</div>
						<div id="phenotipsPwdPromptModalFooter" class="modal-footer">
							<button id='phenotipsPwdPromptModalCloseBtn' type="button"
								class="btn btn-default" data-dismiss="modal">Close</button>
							<button id="phenotipsPwdPromptModalAuthNowBtn" type="button" class="btn btn-primary">Authenticate</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		    <style>
 				.modal {
    				text-align: center;
					}
				.modal:before {
    				display: inline-block;
    				vertical-align: middle;
    				content: " ";
    				height: 100%;
					}
				.modal-dialog {
    				display: inline-block;
    				text-align: left;
    				vertical-align: middle;
					}
				.modal-dialog{
    				width:auto;
					}
 			</style>
 			
 			
 			<script>
 			/**
 			 * To handle a request to edit a given internal id for the first. First time a user clicks,
 			 * a full translation is made of iids to extIds
 			 */
 			$('#phenotipsPwdPromptModalAuthNowBtn').on('click', function(event) {
 					var csrftoken = getCookie('csrftoken');
 					var uName=$('#phenotipsUsrName').val();
 					var pwd=$('#phenotipsPwd').val();
 					var allIntIds = $(".individual").map(function() {
 					    return this.innerHTML;
 					}).get();
 					getExternalIdsOfTheseInternalIds(uName,pwd,JSON.stringify(allIntIds));
 					
 				}); 
 			
 			/**
 			 * given a list of internal ids, finds external id as phenotips knows it and puts it into
 			 * session cache
 			**/
 			function getExternalIdsOfTheseInternalIds(uName,pwd,iids){
 				var csrftoken = getCookie('csrftoken');
 				var data={'uname':uName,'pwd':pwd,'csrfmiddlewaretoken':csrftoken,'data':iids};
 				var uri='/api/phenotips/internal_id/';
 				var errMesg='there was an error translating internal ids to external ids. Please contact xbrowse@broadinstitute.org';
 				postToUri(uri,data,errMesg);
 			}
 			
 			
 			
 			/**
 			Post given data to this uri
 			**/
 			function postToUri(uri,data,errMesg) {
 				$.ajax({
 				    url : uri,
 				    type: "POST",
 				    data : data,
 				    success: function(data, textStatus, jqXHR)
 				    {
 				    	if (data['status'] == 'success'){
 				    	console.log('successfully posted to '+uri);
 				    	//now populate session object with details, so we don't have to authenticate again
 				    	var externalIdMap =Object();
 				    	for (var m in data['mapping']){
 				    		externalIdMap[data['mapping'][m]['internal_id']] = data['mapping'][m]['external_id'];	
 				    	}
 				    	sessionStorage.setItem('externalIdMap',JSON.stringify(externalIdMap));
 				    	$('#phenotipsPwdPromptModalCloseBtn').click();
 				    	}
 						if (data['status'] == 'error'){
 							$('#phenotipsPwdPromptModalFooter').append('<br><br>'+errMesg+'<p></p>');
 						}
 				    },
 				    error: function (jqXHR, textStatus, errorThrown)
 				    {
 				    	console.log(jqXHR);
 						console.log(errorThrown);
						$('#syncModalFooter').append('<br><br><p>sorry, we are having some technical difficulties, please contact xbrowse@broadinstitute.org</p>');
 				    }
 				});
 			}
 			
 			/**
 			 * Make an authenticated API call
 			**/
 			function doAuthApiCall(uri,uname,pwd){
 				var result = $.ajax
 				  ({
 				    type: "GET",
 				    url: uri,
 				    dataType: 'json',
					username: uname,
					password: pwd,
 				    success: function (){
 				    alert('Thanks for your comment!'); 
 				    }
 				});
 			}
 			
 			/**
 			For getting a CSRF token
 			**/
 			function getCookie(name) {
 			          var cookieVal = null;
 			          if (document.cookie && document.cookie != '') {
 			                var cookies = document.cookie.split(';');
 			          for (var i = 0; i < cookies.length; i++) {
 			               var cookie = jQuery.trim(cookies[i]);
 			          if (cookie.substring(0, name.length + 1) == (name + '=')) {
 			            cookieVal = decodeURIComponent(cookie.substring(name.length + 1));
 			              break;
 			             }
 			          }
 			      }
 			 return cookieVal;
 			}
 			</script>
 			
 			<script>
 			$('.phenotipsEditModalBtn').on('click', function(event) {
 				//check if a mapping between external ids (PXXXXX..) and internal ids that xbrowse (NAXXXX..) 
 				//knows about exists, if it doesn't, authenticate and populate that structure
 				if (typeof(sessionStorage.externalIdMap) == 'undefined'){
 					$("#phenotipsPwdPromptModal").modal('show');
 				}
 				else{
 					//mapping already exists, simply modify URL of edit modal using this PXXXXX.. id
 					var extId  = $.parseJSON(sessionStorage.getItem('externalIdMap'));
 					var uri = '{{ phenotips_host_name }}/bin/edit/data/' + extId[this.id];
 					console.log(uri);
 					//ar map = $.parseJSON(sessionStorage.intToextIdMap);
 					//mapping=$.parseJSON(sessionStorage.getItem('intToextIdMap'))['aa'];
 					//$("#phenotipsPwdPromptModal").modal('show');
 				}
 			 	}); 


 			</script>

            
            <div class="col-md-4">
                <div class="analysis-options-box">
                    <h6 class="section-header">Analysis Options</h6>
                    <div class="analysis-box">
                        <a href="{% url 'mendelian_variant_search' project.project_id family.family_id %}" class="big-link-text">Mendelian Variant Search</a>
                        <p>Search for potential causal variants in this pedigree. This is the main xBrowse search interface.</p>
                    </div>
                    <div class="analysis-box">
                        <a href="{% url 'family_gene_lookup' project.project_id family.family_id %}" class="big-link-text">Gene Lookup</a>
                        <p>See all the variants in a gene in this family</p>
                    </div>
                    <!--<div class="analysis-box">-->
                        <!--<a href="{% url 'diagnostic_search' project.project_id family.family_id %}" class="big-link-text">Diagnostic Search</a>-->
                        <!--<p>Run a highly sensitive "diagnostic" screen across a set of candidate genes. </p>-->
                    <!--</div>-->
                    <div class="analysis-box">
                        <a href="{% url 'edit_family_cause' project.project_id family.family_id %}" class="big-link-text">Cause of Disease</a>
                        <p>
                            Set the causal variants and inheritance mode for this family.
                        </p>
                    </div>
                    {% if family.has_coverage_data %}
                    <div class="analysis-box">
                        <a href="{% url 'family_coverage' project.project_id family.family_id %}" class="big-link-text">Exome Coverage</a>
                        <p>See which parts of the exome could be analyzed, and which may require further sequencing.</p>
                    </div>
                    {% endif %}
                    {% if user_is_admin %}
                    <div class="analysis-box">
                        <a href="{% url 'edit_family' project.project_id family.family_id %}" class="big-link-text">Edit Family</a>
                        <p>Make administrative changes to this family</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
