{% extends 'analysispage.html' %}


{% block title %}Families{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        This page lists all the families for this project.
    </p>
{% endblock %}

{% block innercontent %}

    {% include 'javascript.html' %}

    <div class="container">
        <div id="families-container"></div>
    </div>


    <script type="text/javascript">
        var FAMILIES = {{ families_json|safe }};
        var PROJECT_SPECS = {{ project.get_options_json|safe }};
        var ANALYSIS_STATUSES = {{ analysis_statuses|safe }};
        $(function() {
            var hbc = new HeadBallCoach();
            var view = new FamiliesView({
                families: FAMILIES,
                project_spec: PROJECT_SPECS,
                analysis_statuses: ANALYSIS_STATUSES,
                show_edit_links: {{ is_manager }},
                show_case_review_status: true,
            });
            $('#families-container').html(view.render().el);
        });
    </script>

{% endblock %}
