{% extends 'confirmpage.html' %}

{% block innercontent %}
    <p>Are you sure you want to delete the pedigree image for this family: </p>
    <div style="max-width: 200px">
        <div class="pedigree-image-container">
            <img src="{{ family.pedigree_image.url }}" >
        </div>
    </div>
    <form action="#" method="post" class="form">
        <input type="hidden" name="confirm" value="yes"/>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-lg">Delete</button>
    </form>
{% endblock %}
