{% extends 'analysispage.html' %}

{% load static from staticfiles %}


{% block title %}Saved Variants{% endblock %}

{% block links %}
    <div class="small">Family: <a href="{% url 'family_home' family.project.project_id family.family_id %}">{{ family }}</a></div>
{% endblock %}

{% block desc %}
    <p>
        This page displays all the saved variants for this family.
        Hover over the <i class="fa fa-bookmark"></i> icon to see who saved a variant and why.
        Variants can be saved with multiple notes - if you want to add another note to a variant,
        click the "Save this variant" button like you would in the search results interface.
    </p>
    <p>
        Finally, I apologize that you still cannot delete previously saved notes, but I promise that is coming soon!
    </p>
{% endblock %}

{% block innercontent %}

    {% include 'family_warnings.html' %}

    <div id="variants-container"></div>

    {% include 'javascript.html' %}

    <script type="text/javascript">
        var FAMILY = {{ family.get_json|safe }};
        var VARIANTS = {{ variants_json|safe }};
    </script>

    <script type='text/javascript' src='{% static "js/family/saved_family_variants.js" %}'></script>

{% endblock %}
