.ui.table thead th {
  padding: 6px 3px;
  background-color: #F3F3F3;
  height: 10px;
}

.ui.form .field > label {
  text-align: left;
}

.ellipsis-menu {
  padding: 3px;
}

.ellipsis-menu:hover {
  padding: 3px;
  background-color: #fafafa;
  border-color: #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
