.text-column-header {
  color: #333333;
  font-weight: 500;
  padding-left: 8px;
}
.text-column-value {
  color: gray;
}

.numeric-column-header {
  color: #333333;
  text-align: right;
  font-weight: 500;
}
.numeric-column-value {
  color: gray;
  margin-right: 23px;
  text-align: right;
  white-space: nowrap;
}

.ui.table thead th {
  padding: 6px 3px;
  background-color: #F3F3F3;
  height: 10px;
}
