<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

      <title><%= htmlWebpackPlugin.options.title %></title>

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,900" type="text/css">
      <style>
          body {
              font-family: 'Lato';
              color: #111111;
          }
      </style>
      <script type="text/javascript">
          var initial_json = null;
      </script>
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/dataTables.semanticui.min.css">
  </head>
  <body>
        <div id="react-node"></div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
        <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.11/js/dataTables.semanticui.min.js"></script>
  </body>

</html>
