<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title><%= htmlWebpackPlugin.options.title %></title>

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,900" type="text/css">
      <style>
          body {
              font-family: 'Lato';
              color: #111111;
          }
      </style>
      <script type="text/javascript">
          window.initial_json = { user : { email : 'dev.instance@dev.org'}};

          /* initial_json example:
          {
                  'user': {
                      'email' : 'dev@dev.org'
                  },
                  'projects': [{
                      'project_id': 'test_id',
                      'project_name': 'test_name',
                      'description': 'test_description',
                      'num_families': 0,
                      'num_individuals': 0,
                      'created_date': null,
                  }]
           };
          */
      </script>
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/dataTables.semanticui.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/dt-1.10.11,cr-1.3.1,r-2.0.2,sc-1.4.1/datatables.min.css"/>
  </head>
  <body>
        <div id="reactjs-root" style="height:100%"></div>
        <script src="//code.jquery.com/jquery-1.12.3.js"></script>
        <script src="https://cdn.datatables.net/t/dt/dt-1.10.11,cr-1.3.1,r-2.0.2,sc-1.4.1/datatables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.12/js/dataTables.semanticui.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js"></script>

  </body>

</html>
