{% extends 'analysispage.html' %}

{% block title %}Add Gene List{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
This pages allows you to add or remove existing gene lists to/from this project. To create or edit gene lists, please use these links:<br>
<br>
<a href="/gene-lists">Manage My Gene Lists</a><br>
<a href="/gene-lists/add">Create Gene List...</a><br>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h4 class="section-header">My Gene Lists</h4>
                {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
                <form action="#" method="post" class="form">
                    {% csrf_token %}
                    <input type="hidden" name="select_public_list" value="yes" />
                    {% for gene_list in my_lists %}
                        <label class="radio" for="id_radio_{{ gene_list.slug }}">
                            <input id="id_radio_{{ gene_list.slug }}" type="checkbox" name="gene_list_slug" value="{{ gene_list.slug }}" />
                            <strong>{{ gene_list }}</strong> | <em>{{ gene_list.num_genes }} genes</em><br>
                            {{ gene_list.description }}
                        </label>
                    {% empty %}
                        <p>No gene lists</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="section-header">Public Gene Lists</h4>
                <form action="#" method="post" class="form">
                    {% csrf_token %}
                    <input type="hidden" name="select_public_list" value="yes" />
                    {% for public_list in public_lists %}
                        <label class="radio" for="id_radio_{{ public_list.slug }}">
                            <input id="id_radio_{{ public_list.slug }}" type="radio" name="gene_list_slug" value="{{ public_list.slug }}" />
                            <strong>{{ public_list }}</strong> | <em>{{ public_list.num_genes }} genes</em><br>
                            {{ public_list.description }}
                        </label>
                    {% empty %}
                        <p>No public gene lists</p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
