{% extends 'analysispage.html' %}

{% block title %}Collaborators{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        All the collaborators for this project are listed below.
    </p>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <div class="rest-resource-list">
        {% if is_manager %}
            <div class="controls">
                <a href="{% url 'add_collaborator' project.project_id %}" class="btn btn-primary">Add Collaborator</a>
            </div>
        {% endif %}
        {% for user, collaborator_type in project.get_users %}
            <div class="rest-resource">
                <div class="rest-resource-title">{{ user.profile }}</div>
                <div class="rest-resource-desc">
                    <em>{% if collaborator_type == "manager" %}Manager{% else %}Collaborator{% endif %}</em> -
                    {{ user.email }} -
                    <a href="{% url 'edit_collaborator' project.project_id user.username %}">Edit</a> |
                    <a href="{% url 'delete_collaborator' project.project_id user.username %}" style="color:red;">Delete</a>
                    <br>
                </div>
            </div>
        {% empty %}
            No collaborators
        {% endfor %}
        </div>
    </div>
{% endblock %}