{% extends 'confirmpage.html' %}

{% block innercontent %}
    <p>Are you sure you want to delete the following collaborator: </p>
    <p><strong>{{ project_collaborator.user.profile }}</strong></p>
    <p>
        They will still have their user account and be able to log in, but won't be able to access this project anymore.
        <br>
        Also note that any contributions from them (tags, notes, etc) will still appear on the project so no data will be lost.
     
    </p>
    <form action="#" method="post" class="form">
        <input type="hidden" name="confirm" value="yes"/>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
{% endblock %}
