{% extends 'analysispage.html' %}

{% block title %}Edit Basic Info{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
{% endblock %}

{% block innercontent %}
    <div class="container">
        <form action="#" method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}<br>
            <button type="submit" style="margin-left:75px" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
