{% extends 'analysispage.html' %}

{% load static from staticfiles %}

{% load compress %}

{% block title %}Project-Wide Gene Search &#187; <span>{{ gene.symbol }}{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
	Search for rare variants in a single gene across all {{ project.num_individuals }} individuals ({{ project.num_families }} families) in this project.
  {% if project.project_id == "pierce_retinal-degeneration_cmg-samples_exomes_v1" %}
  <br><br>
  <b>Data:</b> &nbsp; Exome Variant Callset - Version 2 - 5/30/2016
  {% endif %}
{% endblock %}

{% block innercontent %}
    
    <div class="container">
    	<div style='width:500px;' id="select-gene-container"></div>
	
	    
        <div id="knockouts-container"></div>
        <div id="interesting-variants-container"></div>
    </div>
    <script type="text/javascript">
        var username = "{{ request.user.username }}";
        var GENE = {{ gene_json|default_if_none:'null'|safe}};
        var RARE_VARIANTS = {{ rare_variants_json|default_if_none:'null'|safe }};
        var INDIVIDUALS = {{ individuals_json|default_if_none:'null'|safe }};
        var KNOCKOUTS = {{ knockouts_json|default_if_none:'null'|safe }};
    </script>

    {% include 'javascript.html' %}

    <script type='text/javascript' src='{% static "js/gene_quicklook.js" %}'></script>

	<script type="text/javascript">
    $(document).ready(function() {
        var select_gene_view = new SelectGeneView();
        $('#select-gene-container').html(select_gene_view.render().el);
        select_gene_view.on('gene-selected', function(gene_id) {
            window.location.href = "{% url 'project_gene_quicklook' project.project_id %}/" + gene_id;
        })
    });
    </script>
	
{% endblock %}
