{% extends 'analysispage.html' %}

{% load static from staticfiles %}

{% load compress %}

{% block title %}Gene Search &#187; <span>{{ gene.symbol }}{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <script type="text/javascript">
        var username = "{{ request.user.username }}";
        var GENE = {{ gene_json|default_if_none:'null'|safe}};
        var RARE_VARIANTS = {{ rare_variants_json|default_if_none:'null'|safe }};
        var INDIVIDUALS = {{ individuals_json|default_if_none:'null'|safe }};
        var KNOCKOUTS = {{ knockouts_json|default_if_none:'null'|safe }};
        var PROJECT_ID = "{{ project.project_id }}";
        var OTHER_PROJECTS = {{ other_projects_json|default_if_none:'null'|safe }};

	function getUrlParams() {
	var vars = {};
	var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
	function(m,key,value) {
	vars[key] = value;
	});
	return vars;
	}
    </script>


    Search for rare variants in a single gene across all families in: 
    <script>
    var url_params = getUrlParams();
    if(url_params && url_params['selected_projects']) {
       document.write(" &nbsp; &nbsp; "+url_params['selected_projects'].replace(/,/g, ", &nbsp; ") + "<br>");
    } else {
       document.write( PROJECT_ID + "</br>");
    }
    </script>


{% endblock %}

{% block innercontent %}

    <div class="container">
    	<div style='width:700px;' id="select-gene-container"></div>


        <div id="knockouts-container"></div>
        <div id="interesting-variants-container"></div>
    </div>

    {% include 'javascript.html' %}

    <script type='text/javascript' src='{% static "js/gene_quicklook.js" %}'></script>

    <script type="text/javascript">
    $(document).ready(function() {
        var select_gene_view = new SelectGeneView({other_projects: OTHER_PROJECTS});
        $('#select-gene-container').html(select_gene_view.render().el);
        select_gene_view.on('gene-selected', function(gene_id) {
            var url = "{% url 'project_gene_quicklook' project.project_id %}/" + gene_id;
            if(OTHER_PROJECTS && OTHER_PROJECTS.length > 1) {
                url += "?selected_projects=" + $('#project_selector').val().join(",");
            }
            window.location.href = url;
        });
       
       var url_params = getUrlParams();
       if(url_params && url_params['selected_projects']) {
          $('#project_selector').val(url_params['selected_projects'].split(','));
       }
    });
    </script>

{% endblock %}
