{% extends 'analysispage.html' %}

{% block title %}Manage Project{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        Below are the different administrative tasks you can do as a manager.
    </p>
{% endblock %}

{% block innercontent %}

<div class="container">
    <a class="sec-header-link" href="{% url 'project_settings' project.project_id %}">Edit Basic Settings</a>
    <p>
        Edit the project name and description.
	</p>
    <a class="sec-header-link" href="{% url 'project_gene_list_settings' project.project_id %}">Edit Gene Lists</a>
    <p>
        Add or remove previously defined gene lists from this project.
    </p>

    <a class="sec-header-link" href="{% url 'project_collaborators' project.project_id %}">Edit Collaborators</a>
    <p>
        Add new collaborators or modify permissions for existing collaborators.
    </p>

    <a class="sec-header-link" href="{% url 'edit_individuals' project.project_id %}">Edit Individuals</a>
    <p>
        Edit pedigrees of individuals in this project, or delete individuals.
    </p>

    <a class="sec-header-link" href="{% url 'family_groups' project.project_id %}">Edit Family Groups</a>
    <p>
        Manage the Family Groups in this project.
    </p>

    <a class="sec-header-link" href="{% url 'cohorts' project.project_id %}">Edit Cohorts</a>
    <p>
        Manage the Cohorts in this project.
    </p>
    
    <a class="sec-header-link" href="/phenotypes/upload/project/{{project.project_id}}">Phenotype Upload</a>
	<p>
		Add phenotypes exported from an external PhenoTips instance to this project.
	</p>
    
    
</div>

{% endblock %}
