{% extends 'analysispage.html' %}

{% block title %}Project Settings{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        xBrowse supports a variety of project settings, which control how data in a project is treated.
        Settings for this projects are listed below. Note that only project managers can edit settings -
        if you are a manager, a bunch of "Edit" buttons will appear next to these settings.
    </p>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <h4 class="section-header">Basic Info</h4>
        <dl>
            <dt>Name</dt>
            <dd>{% if project.project_name %}{{ project.project_name }}{% else %}<em>No name</em>{% endif %}</dd>
            <dt>Description</dt>
            <dd>{% if project.description %}{{ project.description }}{% else %}<em>No description</em>{% endif %}</dd>
        </dl>
        {% if is_manager %}
            <a href="{% url 'edit_basic_info' project.project_id %}" class="btn btn-primary">Edit Basic Info</a>
        {% endif %}

        <h4 class="section-header">Reference Populations</h4>
        <p>
            Reference populations are datasets of allele frequencies from a given population.
            By assigning a reference population to a project,
            users will be able to cross-reference variant search results with allele frequencies.
        </p>
        <ul class="settings-list">
            <li><strong>1000 Genomes</strong>: Full genome allele frequencies from the 1000 Genomes sites VCF file, from May 2011</li>
            <li><strong>ATGU Controls</strong>: A set of 375 control exomes that we use for various QC purposes within ATGU.
                Were originally collected as a control group for a case/control exome study. </li>
        </ul>
        {% if is_manager %}
            <a href="{% url 'edit_project_refpops' project.project_id %}" class="btn btn-primary">Edit</a>
        {% endif %}

        <h4 class="section-header">Gene Lists</h4>
        <p>
            A gene list is just a set of genes that you want to highlight in the xBrowse search results from this project.
            This is most commonly used with lists of known disease genes.
            For example, in a Muscular Dystrophy project, you might highlight known Mendelian causes of
            However, you can create a gene list for any arbitrary classification -
            genes near a relevant GWAS peak, genes with relevant mouse knockouts, etc.
        </p>
        <ul class="settings-list">
        {% for gene_list in project.get_gene_lists %}
            <li>
                <strong>{{ gene_list.name }}</strong>: {{ gene_list.description }}<br>
                <em>{{ gene_list.num_genes }} genes</em> | <a href="{% url 'project_gene_list' project.project_id gene_list.slug %}">View more</a>
                {% if is_manager %}
                    <a href="{% url 'project_remove_gene_list' project.project_id gene_list.slug %}" class="label label-danger">Remove</a>
                {% endif %}
            </li>
        {% empty %}
            <strong>No gene lists</strong>
        {% endfor %}
        </ul>
        {% if is_manager %}
            <a href="{% url 'add_gene_list' project.project_id %}" class="btn btn-primary">Add New Gene List</a>
            <a href="{% url 'remove_gene_list' project.project_id %}" class="btn btn-primary">Remove Gene List</a>
        {% endif %}
    </div>
{% endblock %}
