{% extends 'analysispage.html' %}

{% block title %}Project Gene List Settings{% endblock %}

{% block links %}
Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
{% endblock %}

{% block innercontent %}
<div class="container">

    <h4 class="section-header">Gene Lists</h4>
    Here you can add or remove existing gene lists to/from this project. <br>
    Please use the non-project-specific gene list settings page to <a href="/gene-lists/"><b>create new or edit existing gene lists</b></a>.<br>
    <br>

    Variants in the gene lists below will be highlighted in variant search results. &nbsp;
    Also, variant search can be done on just the genes in these lists.
    <br>
    <br>

    <ul class="settings-list">
        {% for gene_list in project.get_gene_lists %}
        <li>
            <strong>{{ gene_list.name }}</strong>: {{ gene_list.description }}<br>
            <em>{{ gene_list.num_genes }} genes</em> | <a href="{% url 'project_gene_list' project.project_id gene_list.slug %}">View more</a>
            {% if is_manager %}
             <a href="{% url 'project_remove_gene_list' project.project_id gene_list.slug %}" style="margin-left:50px" class="label label-danger">
                 Remove</a>
            {% endif %}
        </li>
        {% empty %}
        <strong>No gene lists have been added </strong><br>
        <br>
        {% endfor %}
    </ul>
    {% if is_manager %}
    <br>
    <a style="margin-left:20px" href="{% url 'add_gene_list' project.project_id %}" class="btn btn-primary">Add Gene List</a>
    {% endif %}
</div>
{% endblock %}
