{% extends 'analysispage.html' %}

{% load static from staticfiles %}

{% block title %}Saved Variants{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
	This page shows all variants in  
		{% if request.GET.family %}
			family <b>{{ request.GET.family }}</b>
		{% else %} 
			this project
		{% endif %} 
		
    {% if tag %}
        that have been tagged with <b>{{ tag }}</b>.
    	<b style="float:right"><a href="{% url 'variants_with_tag' project.project_id tag|urlencode:"" %}?download=csv">Download Saved Variants</a></b>
	{% else %}
		that have been tagged or have notes.
    	<!--  <b style="float:right"><a href="{% url 'saved_variants' project.project_id %}?download=csv">Download Saved Variants</a></b>  -->
    {% endif %}
{% endblock %}

{% block innercontent %}
    <div id="variants-container"></div>

    {% include 'javascript.html' %}

    <script type="text/javascript">
        var FAMILIES = {{ families_json|safe }};
        var VARIANTS = {{ variants_json|safe }};
    </script>

    <script type='text/javascript' src='{% static "js/saved_variants.js" %}'></script>

{% endblock %}
