{% extends 'analysispage.html' %}

{% block title %}Saved Variants{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        This page displays all the saved variants in this project.
        Hover over the <i class="fa fa-bookmark"></i> icon to see who saved a variant and why.
        Variants can be saved with multiple notes - if you want to add another note to a variant,
        click the "Save this variant" button like you would in the search results interface.
        Also note that the headers of this table can be sorted, so you can view saved variants by family or by gene.
    </p>
    <p>
        Since this table contains variants across multiple families, genotypes are not shown here.
        To see genotypes, you can view the saved variants for an individual family - that is a separate view.
        Click the link in the Family column of the table - that will take you to the Family Homepage,
        which in turn has a link to Saved Family Variants.
    </p>
{% endblock %}

{% block innercontent %}
    <div id="variants-container"></div>

    {% include 'javascript.html' %}

    <script type="text/javascript">
        var FAMILIES = {{ families_json|safe }};
        var VARIANTS = {{ variants_json|safe }};
    </script>

    <script type='text/javascript' src='{{ STATIC_URL }}js/saved_variants.js'></script>

{% endblock %}
