{% extends 'analysispage.html' %}
{% load x_extras %}
{% load static from staticfiles %}


{% block title %}<p><i>Search in</i>&nbsp: The Matchmaker Exchange</p>{% endblock %}

{% block links %}
<script>
$(document).ready(
		function(){
			var base = window.location;
			var urlFields = new String(base).split("/");
			var projectId=urlFields[urlFields.length-3];
			var familyId=urlFields[urlFields.length-1];
			sessionStorage.projectId=projectId;
			sessionStorage.familyId=familyId;
			$('#projId').text(projectId);
			$('#familyId').text(familyId);
			//TODO: update title href as well
		});
</script>
Project: <a href=""><span id="projId"></span></a>
Family: <a href=""><span id="familyId"></span></a>
{% endblock %}
{% block innercontent %}
{% include 'javascript.html' %}
{% include 'family_warnings.html' %}
        
<div class="container">
	<div class="row">
		<div class="col-md-8">
				<h4 class="section-header">Alert</h4>
				<dl>You are about to send patient information to centers(external) of the <a href="http://www.matchmakerexchange.org/">matchmaker exchange</a>.
				 The individual ID would have been replaced by another unique value in order to obfuscate it at it's addition to the network. 
				</dl>	
				<br><br>
				<div class="col-md-2">
					<button type="button" class="btn btn-danger">Back</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" id="continueWithSearch">Continue</button>
				</div>
		</div>
	</div>
	<div class="row">		
 	</div>
 
</div>			

    

    
<script>
/**
* Click handlers
*/ 

/**
 * When the user decides to continue with search
 */
$('#continueWithSearch').click(
	function start(){
		var url = '/api/matchmaker/last_submission/project/' + sessionStorage.projectId + '/family/' + sessionStorage.familyId ;
		$.ajax({url: url, 
			 	success: function(result){
					console.log(result);
			 	},
			    async:false,  
		 });
		
		
		//call "http://localhost:8000/api/matchmaker/last_submission/project/1kg/family/1" to get family submissions and pick the
		//last
		//$('.afterSubmissionConfirmation').show();
		//searchInMME(''');
	});
	


/**
 * Add this patient to the local matchmaker exchange node (matchbox) for sharing
 * Expects a JSON object that it stringifys
 **/
function searchInMME(patient) {
	 
	 var url = "/api/matchmaker/search";
	 var query = {'patient_data':JSON.stringify(patient)};
	 console.log(query);
	 $.ajax({url: url, 
		 	type:'POST',
		 	data:query,
		 	dataType:'json',
		 	success: function(result){
		 		$('#httpSubmissionResult').empty();
		 		if (result['status_code'] == 200) {
		 			html ='<div class="alert alert-success" role="alert"><p><strong>Success. </strong>';
		 			html += result['http_result']['message'];
		 		}
		 		else{
		 			html='<div class="alert alert-info" role="alert"><p><strong>Warning. </strong>';
		 			html += result['http_result']['message'];
		 		}
		 		html +='</p></div>';
		 		$('#httpSubmissionResult').append('<h4><p>Submission result</p></h4><br>');
		 		$('#httpSubmissionResult').append(html);
		 	},
		    async:false,  
	 });
}

</script>

{% endblock %}