-------------DEPRACATED PAGE--------------


{% extends 'analysispage.html' %}
{% load x_extras %}
{% load static from staticfiles %}


{% block title %}<p><i>Add to</i>&nbsp: The Matchmaker Exchange</p>{% endblock %}

{% block links %}
<script>
$(document).ready(
		function(){
			$('.afterSubmissionConfirmation').hide();
			$('.finalSubmissionData').hide();

			var base = window.location;
			var urlFields = new String(base).split("/");
			var projectId=urlFields[urlFields.length-5];
			var familyId=urlFields[urlFields.length-3];
			var indivId=urlFields[urlFields.length-1];
			sessionStorage.projectId=projectId;
			sessionStorage.familyId=familyId;
			sessionStorage.indivId=indivId;
			$('#projId').text(projectId);
			$('#familyId').text(familyId);
			$('#indivId').text(indivId);
			//update title href's as well
			$('#projectIdA').attr('href',"/project/"+projectId);
			$('#familyIdA').attr('href',"/project/" + projectId + "/family/"+familyId);
			$('#indivIdA').attr('href',"/project/" + projectId + "/family/"+familyId);
		});
</script>

<style>
#submissionStateMessageModalModalBody{
	margin:40px;
}

</style>

Project: <a id="projectIdA" href=""><span id="projId"></span></a>
Family: <a id="familyIdA" href=""><span id="familyId"></span></a>
Individual: <a id="indivIdA" href=""><span id="indivId"></span></a>
{% endblock %}
{% block innercontent %}
{% include 'javascript.html' %}
{% include 'family_warnings.html' %}
        
<div class="container">
	<div class="row">
		<div class="col-md-8">
				<h4 class="section-header">Starting to submit to the Matchmaker Exchange</h4>
				<dl>You are about to submit patient information to the matchmaker exchange, the information submitted will be shared within this <a href="http://www.matchmakerexchange.org/">matchmaker</a> network. The individual ID will be replaced by another unique value in order to obfuscate it.</dl>
				<dl>Please note our disclaimer can be found <a href="/matchmaker/disclaimer">here</a>.</dl>	
				<br><br>
				<div class="col-md-2">
					<button id="goBackBtn" type="button" class="btn btn-danger">Back</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" id="continueWithsubmission">Continue</button>
				</div>
		</div>
	</div>
	<div class="row">		
		<div class="col-md-8 afterSubmissionConfirmation">
		<h4 class="section-header">Submission candidate</h4>
  		<dl class="dl">
		<dd>The following phenotype and genotype information from all affected patient(s) will be submitted. 
		    When allowed, please select any information that you do not wish to submit, 
		    while keeping in mind that the strength of a match might be dependent on how much information you provide.
		</dd>
		<br><br>				
		<h5 class="section-header">Phenotype</h5>
		<table id="phenotypeSubmissionCandidateInfoTbl" class="table table-hover">
			<thead>
				<tr>
					<td>Individual Id</td>
					<td>HPO Terms</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
						
		<h5 class="section-header">Genotype</h5>
		<p>Please leave selected <u>ONLY</u> genes that you think are contributive to the disorder. Selecting too many could lead to matches that are non-optimum and spurious.</p>
		<p>For best results, please select novel or known genes with proposed phenotype expansions.</p>
		<br>
		<table id="genotypeSubmissionCandidateInfoTbl" class="table table-hover">
			<thead>
				<tr>
					<td>Individual Id</td>
					<td>Genotype</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>					
		</div>
		<div id="submissionCandidateTableColorKey" class="col-md-8"></div>	
 	</div>
 	<div class="row afterSubmissionConfirmation"> 		
 		<h4>Once you have de-selected any genotypes that you do not wish to submit,</h4> 
 		<button type="button" class="btn btn-primary" id="finalSelectionConfirmed">Continue</button> 
	    <div id="finalSelectionTblContainer finalSubmissionData">
	    
	    
	    <h4 class="section-header finalSubmissionData">Final submission</h4>
	    <div id="finalSelectionTbl"></div>
		
		<button type="button" id="submitIndividualBtn" class="btn btn-primary finalSubmissionData">Submit individual</button>
		</div>
		<br>
		<br>
		<div id="httpSubmissionResult"></div>
		
		<br>
		<div id="search-warning-messages"></div>
	
		<br>
		<div id="no-data-warning-messages"></div>
		</div>
	</div>
	
	
	
 <!-- Modal -->
 <div id="submissionStateMessageModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" id='submissionStateMessageModalHeader'>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Welcome to the Matchmaker Exchange!</h4>
      </div>
      <div id="submissionStateMessageModalModalBody"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
 </div>
 <!-- modal ends -->

    
<script>
/**
 * Given a patient ID (NAxxx,) export all data about it to matchmaker exchange for sharing
 **/
function startExportProcess() {
	 var url = "/api/matchmaker/candidate/project/" + sessionStorage.projectId +"/family/" + sessionStorage.familyId  + "/individual/" + sessionStorage.indivId;
	 $.ajax({url: url, 
		 	success: function(result){
	            showMMECandidates(result);
		 	},
		    async:false,  
	 });
}

/**
 * Show submission candidates and get approval
 */
function showMMECandidates(result){
	$('#phenotypeSubmissionCandidateInfoTbl tr').remove();
	var html='';

	var patient=result['submission_candidate'];
	var idMap = result['id_map'];
	
	var submission_info = { 'localId':idMap['individual_id'], 
				    		'patient':patient, 
				    		'genotypeIndexSubmitCall':[],
				    		'phenotypeIndexSubmitCall':[]
					};
	
	//Phenotype info
	html += '<tr>';
	html += '<td><table class="table table-hover">';
	html += '<thead>';
	html += '<td>Id</td><td>Description</td><td>Submit</td>';
	html += '</thead><tbody>';
	for (var j=0; j<patient['features'].length;j++){
		if (isValidHpoTerm(patient['features'][j]['id'])){
			submission_info['phenotypeIndexSubmitCall'].push(1);
			html += '<tr>';
		}
		else{
			submission_info['phenotypeIndexSubmitCall'].push(0);
			html += '<tr bgcolor="gray">';
		}
		html += '<td><p>' + patient['features'][j]['id'] + '</p></td>';
		html += '<td><p>' + patient['features'][j]['label'] +  '</p></td>';
		html += '<td><p>'  +  '<input class="deselected_phenotype_features" checked type="checkbox" id="'+ idMap['individual_id'] + '" value="'+ idMap['individual_id']+',' + j +'"></p></td>';
		html += '</tr>';	
		}
	html += '</tbody></table></td>';
	html += '</tr>';
	$('#phenotypeSubmissionCandidateInfoTbl tbody').append(html);
	
	//now add Genotypes
	var html='';

	html='<tr>';
	html += '<td><p>';
	//sub table inside cell for list of variants
	html += '<table class="table table-hover">';
	html += '<thead><tr>';
	html += '<td>Gene Id</td>';
	html += '<td>Gene symbol</td>';
	html += '<td>Reference name</td>';
	html += '<td>Assembly</td>';
	html += '<td>Variant-start</td>';
	html += '<td>Variant-end</td>';
	html += '<td>Reference bases</td>';
	html += '<td>Alternate bases</td>';
	html += '<td><i>seqr</i> Tag name</td>';
	html += '<td>Submit</td>';	
	html += '</tr>';
	html += '</thead><tbody>';
	
	//now each row is an affected patient
	for (var k=0; k<patient['genomicFeatures'].length;k++){
		//skipping genes with no ID which is a seqr artifact, and MME kicks these back
		if (patient['genomicFeatures'][k]['gene']['id'] != ""){
			//this length-1 trick is to access the current patient that was pushed in just now<<LOGIC NEEDS TESTTING #TODO
			submission_info['genotypeIndexSubmitCall'].push(1);
			html += '<tr>';
		}
		else{
			submission_info['genotypeIndexSubmitCall'].push(0);
			html += '<tr bgcolor="gray">';
		}
		
		html += '<td><p>'  +  patient['genomicFeatures'][k]['gene']['id']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['auxiliary']['gene_symbol']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceName']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['assembly']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['start']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['end']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceBases']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['alternateBases']   + '</p></td>';
		html += '<td><p>'  +  patient['genomicFeatures'][k]['auxiliary']['tag_name']   + '</p></td>';
		html += '<td><p>'  +  '<input class="deselected_genomic_features" checked type="checkbox" id="'+ idMap['individual_id'] + '" value="'+ idMap['individual_id']+',' + k +'"></p></td>';
		html += '</tr>';
	}
	
	//close sub table
	html += '</tbody></table>';
		
	//close main table
	html += '</p></td>';
	html += '</tr>';
		
	$('#genotypeSubmissionCandidateInfoTbl tr').remove();
	$('#genotypeSubmissionCandidateInfoTbl tbody').append(html);
	$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
	});
	
	sessionStorage.submission_info=JSON.stringify(submission_info);
	
	//add in key to colors of rows
	html = '<br><br>';
	html += '<h5 class="section-header">Color key:</h5>';
	html += '<table><thead><th></th><th></th></thead><tbody><tr>';
	html += '<td bgcolor="gray">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td><td><p>These entries were not submitted due to non-conformity to Matchmaker specifications. ';
	html += 'Please contact <a href="mailto:matchmaker@broadinstitute.org">matchmaker@broad</a> with any questions (along with a screencap if possible).';
	html += '</p></td>';
	html += '</tr></tbody></table>';
	html += '<br><br>'
	$('#submissionCandidateTableColorKey').empty();
	$('#submissionCandidateTableColorKey').append(html);	
}


/**
 * Shows the final patient structure that is about to be submitted
 */
function showFinalSelection(){
	var html='<table id="finalSelectionTbl" class="table table-hover">';
	html += '<thead><tr>';
	html += '<td><p>' + 'Field' + '</p></td>';
	html += '<td><p>' + 'Value' + '</p></td>';
	html += '</tr></thead><tbody>';	
	
	var asJson=JSON.parse(sessionStorage.submission_info);
	var patient = asJson['patient'];
	
	var individualId =asJson['local_id'];
	var whichGenoTypesToSubmit=asJson['genotypeIndexSubmitCall'];
	var whichPhenoTypesToSubmit=asJson['phenotypeIndexSubmitCall'];
		
	//General
	html += '<tr><td><p>Obfuscated Id</p></td>' + '<td><p>' +patient['id'] + '</p></td></tr>';
	html += '<tr><td><p>sex' + '<td><p>' +patient['sex'] + '</p></td></tr>';
	html += '<tr><td><p>label</p></td>' + '<td><p>' +patient['label'] + '</p></td></tr>';
	html += '<tr><td><p>species</p></td>' + '<td><p>' +patient['species'] + '</p></td></tr>';
	html += '<tr><td><p>Contact name</p></td>' + '<td><p>' +patient['contact']['name'] + '</p></td></tr>';
	html += '<tr><td><p>Contact URL</p></td>' + '<td><p>' +patient['contact']['href'] + '</p></td></tr>';
	html += '<tr><td><p>Contact institution</p></td>' + '<td><p>' +patient['contact']['institution'] + '</p></td></tr>';
	
	//Phenotypes
	html += '<tr><td><p>Phenotypes</p></td><td><table class="table table-hover"><thead><td></td><td></td></thead><tbody>'; 
	for (var j=0; j<patient['features'].length;j++){
		if (whichPhenoTypesToSubmit[j]==1){
			html += '<tr><td>' + patient['features'][j]['id'] + '</td><td>' + patient['features'][j]['label'] + '</td><tr>';
		}
	}
	
	html += '</tbody></table></td></tr>';
	
	//Genotypes sub table
	html += '<tr>';
	html += '<td><p>Genotypes</p></td><td>';
	html += '<table class="table table-hover">';
	html += '<thead><tr>';
	html += '<td>Gene Id</td>';
	html += '<td>Reference name</td>';
	html += '<td>Assembly</td>';
	html += '<td>Variant-start</td>';
	html += '<td>Variant-end</td>';
	html += '<td>Reference bases</td>';
	html += '<td>Alternate bases</td>';
	html += '</tr></thead><tbody>'
	for (var k=0; k<patient['genomicFeatures'].length;k++){
		if (whichGenoTypesToSubmit[k]==1){
			html += '<tr>';
			html += '<td><p>'  +  patient['genomicFeatures'][k]['gene']['id']   + '</p></td>';
			html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceName']   + '</p></td>';
			html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['assembly']   + '</p></td>';
			html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['start']   + '</p></td>';
			html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['end']   + '</p></td>';
			html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceBases']   + '</p></td>';
			html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['alternateBases']   + '</p></td>';
			html += '</tr>';
		}
	}
	//close sub table
	html += '</tbody></table></td></tr>';		
	//close main table
	html += '</tbody></table>'	
		
	$('#finalSelectionTbl table').remove();
	$('#finalSelectionTbl').append(html);
	$('.finalSubmissionData').show();
}

</script>
    
<script>
/**
* Click handlers
*/ 

/**
 * When the user decides to continue with submission
 */
$('#continueWithsubmission').click(
	function start(){
		$('.afterSubmissionConfirmation').show();
		startExportProcess();
	});
	
/**
 * When the user deslects any genotypes they don't want to submit and hits continue
 */
$('#finalSelectionConfirmed').click(
		function start(){
			showFinalSelection();
		});

/**
 * Go back to family page
 */
$('#goBackBtn').click(
		function start(){
			var href="/project/" + sessionStorage.projectId + "/family/"+ sessionStorage.familyId;
			window.location=href;
		});

/**
 * When the user hits submit
 */
$('#submitIndividualBtn').click(
		function s(){
			var patientInfo = JSON.parse(sessionStorage.submission_info);
			var whichGenoTypesToSubmit=patientInfo['genotypeIndexSubmitCall'];
			var whichPhenoTypesToSubmit=patientInfo['phenotypeIndexSubmitCall'];
			var localId = patientInfo['localId'];
			var patient = patientInfo['patient'];
			
			var submission={}	
			//-----------first copy over the basic stuff that we always submit
			submission['contact']=patient['contact'];
			submission['id']=patient['id'];
			submission['label']=patient['label'];
			submission['species']=patient['species'];
				
			//-----------then add only genotypes selected to be sent
			submission['genomicFeatures']=[];
			//remove any genotypes deselected by user
			for (var j=0;j<whichGenoTypesToSubmit.length;j++){
				if (whichGenoTypesToSubmit[j]!=0){
					submission['genomicFeatures'].push(patient['genomicFeatures'][j]);
				}
			}
			
			//-----------then add only phenotypes selected to be sent
			submission['features']=[];
			for (var k=0;k<whichPhenoTypesToSubmit.length;k++){
				if (whichPhenoTypesToSubmit[k]!=0){
					submission['features'].push(patient['features'][k]);
				}
			}
			
			//take out some information that doesn't need to be submitted
			for (var featureIndex in submission['genomicFeatures']){
				delete submission['genomicFeatures'][featureIndex]['auxiliary'];
			}
			
			//submit and send/add (sans auxiliary) to matchbox
			if (submission['genomicFeatures'].length>0 || submission['features'].length>0 ){
				console.log(submission);
				addToMME(submission,localId);
			}
			else{
				var backHref="/project/" + sessionStorage.projectId + "/family/"+ sessionStorage.familyId;
				var html='<div class="alert alert-danger" role="alert"><p>Sorry, <strong>you have no genotype or phenotype data to submit.</strong> You need one of those data to be entered for a submission to be possible.'; 
			 	html += ' Please tag variants or enter phenotype data or contact <strong><a href="mailto:matchmaker@broadinstitute.org">matchmaker@broad</a></strong> for immediate help. Please click <a href="';
			 	html += backHref + '">';
			 	html += 'here</a> to go back.';
			 	$('#no-data-warning-messages').append(html);
			}
});
		

/**
 * Listens and updates which genotypes that shouldn't be submitted
 */
$('body').on('click', 'input.deselected_genomic_features', 
	function(i) {
		var patient = JSON.parse(sessionStorage.submission_info);
		var valFields = $(this).val().split(',');
		var localId=valFields[0];
		var genotypeIndex=valFields[1];
		if( !$(this).is(':checked') ) {
			patient['genotypeIndexSubmitCall'][genotypeIndex]=0;
		}
		if( $(this).is(':checked') ) {
			patient['genotypeIndexSubmitCall'][genotypeIndex]=1;

		}
		sessionStorage.submission_info = JSON.stringify(patient);
});



/**
 * Listens and updates which phenotypes that shouldn't be submitted
 */
$('body').on('click', 'input.deselected_phenotype_features', 
	function(i) {
		var patient = JSON.parse(sessionStorage.submission_info);
		var valFields = $(this).val().split(',');
		var localId=valFields[0];
		var phenotypeIndex=valFields[1];
		if( !$(this).is(':checked') ) {
			patient['phenotypeIndexSubmitCall'][phenotypeIndex]=0;
		}
		if( $(this).is(':checked') ) {
			patient['phenotypeIndexSubmitCall'][phenotypeIndex]=1;

		}
		sessionStorage.submission_info = JSON.stringify(patient);
});




/**
 * Add this patient to the local matchmaker exchange node (matchbox) for sharing
 * Expects a JSON object that it stringifys
 **/
function addToMME(patient,localId) {
	$('#search-warning-messages').empty();
	$('#httpSubmissionResult').empty();
	
	 var url = "/api/matchmaker/add";
	 var query = {'patient_data':JSON.stringify(patient), 
			 	  'projectId':sessionStorage.projectId,
			 	  'familyId':sessionStorage.familyId,
			 	  'localId':localId};

	 $.ajax({url: url, 
		 	type:'POST',
		 	data:query,
		 	dataType:'json',
		 	success: function(result){
		 		if (result['status_code'] == 200) {
		 			html ='<p><h2><strong>Successfully</strong> submitted individual '+ localId + '.</h2></p>';
		 			html += result['http_result']['message'];
		 			html += ' ' + getGoBackMessageHtml();
		 		}
		 		else{
		 			html ='<p><h2><strong>Successfully</strong> submitted individual ' + localId  + '.</h2></p>';
		 			html += '<p><h4><strong>Please note:</strong></h4></p>';
		 			html += '<h4>' + result['http_result']['message'] + '</h4>';
		 			html += ' ' + getGoBackMessageHtml();
		 		}
		 		html +='</p></div>';
		 		//$('#httpSubmissionResult').append('<h4><p>Submission result</p></h4><br>');
		 		//$('#httpSubmissionResult').append(html);
		 		
		 		$('#submissionStateMessageModalHeader').css({'background-color':'lightgreen',
					 										 'color':'black'
					});
		 		
		 		$('#submissionStateMessageModalModalBody').empty();
		 		$('#submissionStateMessageModalModalBody').append(html);
		 		$('#submissionStateMessageModal').modal('show'); 
		 	},
		 	error: function (jqXHR, textStatus, errorThrown)
		    {	
		 		console.log(jqXHR);
				var html='<div><p>Sorry, <strong>I was not able to reach</strong> the Broad matchmaker server to submit this family. Please try again in about 30mins or contact '; 
		 		html += '<strong><a href="mailto:matchmaker@broadinstitute.org">matchmaker@broad</a></strong> for immediate help.</p></div>';
		 		//$('#search-warning-messages').append(html);
		 		
		 		$('#submissionStateMessageModalHeader').css({'background-color':'red',
		 													 'color':'white'
		 													});
		 		$('#submissionStateMessageModalModalBody').empty();
		 		$('#submissionStateMessageModalModalBody').append(html);
		 		$('#submissionStateMessageModal').modal('show'); 

		    },
		    async:false,  
	 });
}

</script>


<script>
/**
 * Returns a mesaage
 */
function getGoBackMessageHtml(){
	var famHref="/project/" + sessionStorage.projectId + "/family/"+ sessionStorage.familyId;
	var matchHref="/matchmaker/search/project/" + sessionStorage.projectId + "/family/"+ sessionStorage.familyId;
	var html = '<p><h2>Next Steps ..</h2></p>';
	html += '<p><h4>' + 'You will next have to search using the <a href="' + matchHref + '"><strong>"Search in the Matchmaker Exchange"</strong></a> link on the <strong><a href="'+famHref+'">family</a></strong> page to find matches.</h4></p>';
	html += '<br>';
	html += '<p><h4>Please return to <strong><a href="'+famHref+'">family</a></strong> page, or make a <strong><a href="'+  matchHref  +'">match</a></strong></h4>';
	return html;
}
</script>	

<script>
/**
 * Some HPO terms returned from PhenoTips were invalid, till the
 * root issue (PhenoTips) is fixed, this is put in place
 * Rules:
	 1. HPO terms are 7 digits long
 */
function isValidHpoTerm(term){
	if (term.split(":")[1].length == 7){
		return true;
	}
	return false;
}
</script>
{% endblock %}


