{% extends 'analysispage.html' %}
{% load x_extras %}
{% load static from staticfiles %}


{% block title %}<p><i>matchbox</i>&nbspsubmission manager</p>{% endblock %}

{% block links %}

<!--  tables -->
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>

<script>
$(document).ready(
		function(){
		});
</script>
{% endblock %}
{% block innercontent %}
{% include 'javascript.html' %}

        
<div class="container">

<div class="row">
	
	  <p>This tool translates an obfuscated matchbox ID to the corresponding seqr ID and shows the information that was submitted to Matchmaker Exchange.</p>
	  <p>Please enter a matchbox ID to continue.</p>
	  <div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" id="matchbox-id-btn">translate</button>
	      </span>
	      <input type="text" id="matchbox-id-input" class="form-control" placeholder="find seqr ID for matchbox ID...">
	  </div>
	
</div>
<div id="alerts-container"></div>
<div id="results-container" style="display: none;">
<br><br>
<div class="row">
	
		<p><i>matchbox</i> ID:&nbsp&nbsp<span id="matchboxId"></span></p>
		<p><i>seqr</i> ID:&nbsp&nbsp<span id="seqrId"></span></p>
		<p>Family ID:&nbsp&nbsp<span id="familyId"></span></p>
		<p>Project ID:&nbsp&nbsp<span id="projId"></span></p>
	
</div>

<br><br>

<div class="row">
	<table id="submissions-table" class="table table-hover">
	</table>
</div>
</div>
</div>

<div id="geneInfoModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 id="info-modal-header" class="modal-title section-header">Detailed gene information</h4>
            	</div>
            	<div class="modal-body">
            		<iframe id="geneInfoIframe" width="100%" height="100%" src="" frameborder="0"></iframe>
            	</div>
        </div>
    </div>
</div>


<script>
/**
 * Given a matchbox ID  find all data about it 
 **/
function renderInfoForMatchboxId(matchboxId) {
	 var url = "/api/matchmaker/translate/matchbox_id/" + matchboxId;
	 $.ajax({url: url, 
		 	success: function(result){
	            renderIdInfo(result);
		 	},
		 	error: function (jqXHR, textStatus, errorThrown){
		 		console.log(errorThrown);
		 		showNoHitMessage();
		 		
		 	},
		    async:false,  
	 });
}


/**
 * Render the information about ID
 * TODO add error codes when no info comes back
 */
function renderIdInfo(result){
	var html='';
	if (result['submission_records'].length>0){
		var seqrId=result['submission_records'][0]['seqr_id'];
		var projId = result['submission_records'][0]['project_id'];
		var famId = result['submission_records'][0]['family_id'];
		var famHref='/project/' + projId + '/family/' + famId;
		var projHref='/project/' + projId;
		var familyLinkHtml = '<a href="'+ famHref + '">' + famId + '</a>';
		var projIdHtml =  '<a href="'+ projHref + '">' + projId + '</a>';
		
		//use the first (maybe only) submission to grab the ID
		$('#seqrId').append(seqrId);
		$('#familyId').append(familyLinkHtml);
		$('#projId').append(projIdHtml);
		
		
		//now list all the other submission informations
		html='<thead><td><p>Submission date<p></td><td><p>Genes submitted<p></td><td><p>Phenotypes submitted<p></td></thead><tbody>';
		for (var i=0; i<result['submission_records'].length; i+=1){
			html+='<tr>';
			var submission=result['submission_records'][i];
			html += '<td>' +  submission['insertion_date'].split('.')[0] + '</td>';		
			html += '<td>';
			for (var j=0; j<submission['submitted_genomic_features'].length;j+=1){
				html += '<p>';
				var geneId=submission['submitted_genomic_features'][j]['gene_id'];
				html += '<a onclick="showGeneInfoDisplay(' + "'"+ geneId +"'" +');">' + geneId + '</a>';
				html += ' (start: ' + submission['submitted_genomic_features'][j]['variant_start'] + ', end: ' + submission['submitted_genomic_features'][j]['variant_end'] + ')'; 
				html += '</p>';
			}
			html += '</td>';
			
			html += '<td>';
			for (var k=0; k<submission['submitted_features'].length;k+=1){
				html += '<p>';
				html += submission['submitted_features'][k]['id'];
				html += ' (' + submission['submitted_features'][k]['label']  +')'; 
				html += '</p>';
			}
			html += '</td>';
			html+='</tr>';
		}
		html+='</tbody>';
		$('#submissions-table').empty();
		$('#submissions-table').append(html);
		$('#submissions-table').DataTable();
	}
	else{
		showNoHitMessage();		
	}
}


/**
 * Shows a message saying no hits found
 */
function showNoHitMessage(){
	$('#results-container').hide();
	$('#alerts-container').empty();
	var html='<br><br><div class="alert alert-danger" role="alert"><p>Sorry, <strong>I could not find any submissions</strong> from this matchbox ID.</div>';
	$('#alerts-container').append(html);	
}


function showGeneInfoDisplay(geneId){
	var geneCardUrl='/gene/' + geneId;
	$('#geneInfoIframe').attr('src', geneCardUrl);
    $('#geneInfoModal').modal('show');	
}


/**
 * Go back to family page
 */
$('#matchbox-id-btn').click(
		function start(){
			$('#results-container').show();
			var matchboxId = $('#matchbox-id-input').val();
			$('#matchboxId').empty();
			$('#seqrId').empty();
			$('#familyId').empty();
			$('#projId').empty();
			$('#matchboxId').text(matchboxId);
			renderInfoForMatchboxId(matchboxId);
		});
		
</script>
{% endblock %}


