{% extends 'analysispage.html' %}
{% load x_extras %}
{% load static from staticfiles %}


{% block title %}<p><i>matchbox</i>&nbsp&nbspDashboard</p>{% endblock %}


{% block links %}

<!--  tables -->
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>

<script>
$(document).ready(
		function(){
			getMatchboxMetrics();
			getSeqrWideMatchboxSearchResults();
		});
</script>

<style>
.segment{
	/**outline: 1px solid lightgrey;**/
}

#data-loading-animation{
	text-align:center;
}

.fa.fa-exclamation-triangle{
	font-size:60px;
}

#data-loading-error{
	text-align:center;
}

</style>


{% endblock %}
{% block innercontent %}
{% include 'javascript.html' %}


<div class="container">	
	<div class="row">
		<div id="alerts-container"></div>
	</div>
	<div class="row" id="data-loading-animation">
		<br><br>
		<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
		<br><br>
		<p><h4>We are gathering information to generate this report.. this might take up to a minute.</h4></p>
		<p><h4>Thank you for your patience!</h4></p>
		<span class="sr-only">Loading...</span>
	</div>
	
	<div class="row" id="data-loading-error" style="display:none;">
		<br><br>
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		<br><br>
		<p><h4>We are sorry, there was an error fetching this report. Please try again in a few minutes or contact help</h4></p>
	</div>
	
	<div id="metrics-container" style="display:none;">
		<div class="row">	
			<div class="col-sm-6">
				<h4 class="section-header"><i>matchbox</i> patient counts</h4>
				<div id="main-stats" class="container segment"></div>
			</div>
			<div class="col-sm-6">
				<h4 class="section-header"><i>seqr</i> statistics</h4>
				<div id="seqr-stats" class="container segment"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h4 class="section-header">Match statistics</h4>
				<div id="match-statistics" class="container segment"></div>
			</div>
			<div class="col-sm-6">
				<h4 class="section-header">Projects in <i>matchbox</i></h4>
				<div id="family-sumbmissions" class="container segment"></div>
			</div>
			<div class="col-sm-6"></div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h4 class="section-header">Other metrics</h4>
				<div id="other-metrics" class="container segment"></div>
			</div>
		</div>

	<br>
	<br>
	<div class="row">
		<div class="col-sm-6">	
					<h4 class="section-header"><i>seqr</i>-wide Matchmaker Exchange search results</h4>
					<div class="row" id="seqr-wide-mme-results-data-loading-animation">
						<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
					</div>	
					<div id="seqr-wide-mme-results" class="container segment" style="display:none;">
						<table id="mmeMatchResultTbl" class="table table-hover">
							<thead>
								<tr>
									<td><p>Flag for analysis</p></td>
									<td><p>Will not pursue</p></td>
									<td><p>Project</p></td>
									<td><p>Individual</p></td>
									<td><p>Gene Ids</p></td>
									<td><p>Phenotypes</p></td>
									<td><p>Score</p></td>
									<td><p>Match Id</p></td>
									<td><p>Contact name</p></td>
									<td><p>Contact institution</p></td>
									<td><p>Contact URI</p></td>
									<td><p>Contacted host</p></td>
									<td><p>Host contacted us</p></td>
									<td><p>Comments</p></td>
									<td><p>Last update by</p></td>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				
		</div>		
	</div>
</div>

 	<!---------------------------- Detailed result MODAL-------------------->
 	<div id="detailedResuleModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Detailed result</h4>
                    <div id="mmeModalContent">
                    
                    <h4 class="section-header">Match results</h4>
                    <div id="detailedResultContainer"></div>
                    
                    </div>
                </div>
                <div class="modal-body"></div>
        </div>
    </div>
 </div>
    
    


<script>
/**
 * Add this patient to the local matchmaker exchange node (matchbox) for sharing
 * Expects a JSON object that it stringifys
 **/
function getMatchboxMetrics() {
	 var url = "/api/matchmaker/metrics";
	 $.ajax({url: url, 
		 	type:'GET',
		 	dataType:'json',
		 	success: function(result){
		 		$('#data-loading-animation').hide();
		 		$('#metrics-container').show();
		 		renderResult(result);
		 	},
		 	error: function (jqXHR, textStatus, errorThrown)
		    {
		 		$('#data-loading-animation').hide();
		 		$('#data-loading-error').show();
		 		console.log(errorThrown);
		 		console.log(jqXHR);
		    },
		    async:true,  
	 });
}


/**
 * Renders the metrics retrieved from the server onto the page
 */
function renderResult(result){
	console.log(result);
	var preVal='<div class="row"><div class="col-sm-7">';
	var midVal='</div><div class="col-sm-3"">';
	var postVal='</div></div>';

	$('#main-stats').append(preVal + 'Number of <b>patients</b> in matchbox'+ midVal + result['from_matchbox']['metrics']['numberOfCases'] + postVal);
	$('#main-stats').append(preVal + 'Number of <b>genes</b> in matchbox'+ midVal + result['from_matchbox']['metrics']['numberOfUniqueGenes'] + postVal);
	$('#main-stats').append(preVal + 'Number of <b>phenotypes</b> in matchbox'+ midVal + result['from_matchbox']['metrics']['numberOfUniqueFeatures'] + postVal);
	$('#main-stats').append(preVal + 'Number of patients with <b>diagnosis</b>'+ midVal + result['from_matchbox']['metrics']['numberOfCasesWithDiagnosis'] + postVal);
	
	
	
	$('#main-stats').append(preVal + '<b>Mean</b> number of genes per patient'+ midVal + result['from_matchbox']['metrics']['meanNumberOfGenesPerCase'].toFixed(2) + postVal);
	$('#main-stats').append(preVal + '<b>Mean</b> number of phenotypes per patient'+ midVal + result['from_matchbox']['metrics']['meanNumberOfPhenotypesPerCase'].toFixed(2) + postVal);
	$('#main-stats').append(preVal + '<b>Mean</b> number of detailed variants per patient'+ midVal + result['from_matchbox']['metrics']['meanNumberOfVariantsPerCase'].toFixed(2) + postVal);
	

	$('#match-statistics').append(preVal + 'Number of  <b>match requests</b>'+ midVal + result['from_matchbox']['metrics']['numberOfRequestsReceived'] + postVal);
	$('#match-statistics').append(preVal + 'Number of  <b>matches made</b>'+ midVal + result['from_matchbox']['metrics']['numberOfPotentialMatchesSent'] + postVal);
	$('#match-statistics').append(preVal + '<b>Percentage</b> of genes contributing to matches'+ midVal + result['from_matchbox']['metrics']['percentageOfGenesThatMatch'].toFixed(2) + '%' + postVal);
	
	$('#other-metrics').append(preVal + 'Number of submitters (data owners)'+ midVal + result['from_matchbox']['metrics']['numberOfSubmitters'] + postVal);
	
	
	
	var percent = (result['from_seqr']['genes_found_in_matchbox'] / result['from_seqr']['genes_in_seqr']) * 100;
	$('#seqr-stats').append(preVal + 'Number of tagged variants in seqr'+ midVal + result['from_seqr']['genes_in_seqr'] + postVal);
	$('#seqr-stats').append(preVal + 'Percentage of those found in matchbox'+ midVal + percent.toFixed(2)  + '%'  + postVal);

	//table of projects and families in seqr
	$('#family-sumbmissions').empty();
	if (Object.keys(result['from_seqr']['submission_info']).length > 0){
	    var html = '<table class="table table-hover">';
	    html += '<thead><tr>';
		html += '<td><p>Project name</p></td>';
		html += '<td><p>Number of families in <i>matchbox</i></p></td>';
		html += '</tr></thead>';
		html += '<tbody>';
	
		for (var proj in result['from_seqr']['submission_info']){
			html += '<tr>';
			html += '<td>' + proj  + '</td>';
			html += '<td>';
			html += result['from_seqr']['submission_info'][proj].length;
			html += '</td></tr>';
		}
		html += '</tbody></table>';
	}
	else{
		var html= '<h6>no families found in matchbox yet</h4>';
	}
	$('#family-sumbmissions').append(html);
}

/**
 * Gets all results from seqr-wide MME searches and various states they are put into
 * by analysts
 */
function getSeqrWideMatchboxSearchResults(){
	 var url = "/api/matchmaker/result_tracking/current_match_state";
	 $.ajax({url: url, 
		 	type:'GET',
		 	dataType:'json',
		 	success: function(results){
		 		$('#seqr-wide-mme-results-data-loading-animation').hide();
		 		renderMatches(results);
		 	},
		 	error: function (jqXHR, textStatus, errorThrown)
		    {
		 		$('#seqr-wide-mme-results-data-loading-animation').hide();
		 		console.log(errorThrown);
		 		console.log(jqXHR);
		    },
		    async:true,  
	 });
}


/**
 * Add matched to UI
 */ 
function renderMatches(matches){
	var resultId=0;
	for (var i in matches){
		console.log(matches[i]);
		var patient=matches[i]['content_of_result']['patient'];
		var score=matches[i]['content_of_result']['score']['patient'];
     	if (score == null){score="";}
     	var seqrId = matches[i]['id_of_indiv_searched_with'];
     	
   		var html='<tr>';
   	
   		//flag as target
   		if (matches[i]['flag_for_analysis'] == true){
   			html += '<td><input class="flag_for_analysis" checked type="checkbox" id="'+ patient['id'] +'" value="' + seqrId +'"></td>';
   		}
   		else{
   			html += '<td><input class="flag_for_analysis" type="checkbox" id="'+ patient['id'] +'" value="' + seqrId +'"></td>';
   		}
   		
   		//field:deemed invalid
   		if (matches[i]['deemed_irrelevant'] == true){
   			html += '<td><input class="deemed_irrelevant" checked type="checkbox" id="'+ patient['id'] +'" value="' + seqrId +'"></td>';
   		}
   		else{
   			html += '<td><input class="deemed_irrelevant" type="checkbox" id="'+ patient['id'] +'" value="' + seqrId +'"></td>';
   		}
   		
   		//Project name
   		html += '<td>';
   		html += matches[i]['seqr_project_id'];
   		html += '</td>';		     		
		     		
   		html += '<td>';
   		html += seqrId;
   		html += '</td>';
		     		
   		//GenomicFeatures
   		html += '<td>';
   		if (patient.hasOwnProperty('genomicFeatures') &&  patient['genomicFeatures'].length>0){
    		for (var k=0; k<patient['genomicFeatures'].length;k++){
    			
    			var geneId=patient['genomicFeatures'][k]['gene']['id'];
    			if (geneId.search('ENSG')==0){
    				html += '<a onclick="showGeneInfoDisplay(' + "'"+ geneId +"'" +');">' + geneId + '</a>';
    			}
    			else{
    				html += geneId;
    			}
    			if (k<patient['genomicFeatures'].length-1){
    				html += '<br>';
    			}
    		}
   		}
   		else{
   			html += "";
   		}
   		html += '</td>';
   		//Features (phenotypes)
   		html += '<td>';
   		if (patient.hasOwnProperty('features') && patient['features'].length>0){
    		for (var p=0; p<patient['features'].length;p++){			     			
    			var hpoTerm=patient['features'][p]['id'];
    			html += hpoTerm;
    			
    			if (p<patient['features'].length-1){
    				html += '<br>';
    			}
    		}
   		}
   		else{
   			html += "";
   		}
   		html += '</td>';
   		
   		
   		html += '<td>';
   		html += score;
   		html += '</td>';
   		
   		html += '<td>';
   		html += '<a onclick="processDetailedDisplay(' + "'"+ patient['id'] +"'" +');">' + patient['id'] + '</a>';
   		html += '</td>';
   		html += '<td>';
   		if (patient['contact'].hasOwnProperty('name')){
   			html += patient['contact']['name'];
   		}
   		else{
    		html += "";
   		}
   		html += '</td>';
   		html += '<td>';
   		html += patient['contact']['institution'];
   		html += '</td>';
   		html += '<td>';
   		html += '<a href="' + patient['contact']['href'] + '">' + patient['contact']['href'] + '</a>';
   		html += '</td>';
		     		
		     		
   		//field:contacted host
   		if (matches[i]['we_contacted_host'] == true){
   			html += '<td><input class="we_contacted_host" checked type="checkbox" id="'+ patient['id'] +'" value="' + seqrId +'"></td>';
   		}
   		else{
   			html += '<td><input class="we_contacted_host" type="checkbox" id="'+ patient['id'] +'" value="' + seqrId +'"></td>';
   		}
   		
   		//field:host contacted us
   		if (matches[i]['host_contacted_us'] == true){
   			html += '<td><input class="host_contacted_us" checked type="checkbox" id="' + patient['id'] + '" value="' + seqrId +'"></td>';		     		
   		}
   		else{
   			html += '<td><input class="host_contacted_us" type="checkbox" id="' + patient['id'] + '" value="' + seqrId +'"></td>';		     		
   		}
		     		
		var resultId=i;  //using the index as an arbitray ID to refer to this row later to fetch its value
   		html += '<td>';
   		html += '<textarea cols="4" rows="4" class="form-control match-comments" id="' + resultId.toString() +'">' + matches[i]['comments']  + '</textarea>';		     		
   		html += '<button type="button" class="btn btn-primary btn-sm save-comment-btn" onclick="matchCommentUpdate(' +"'" + patient['id'] + "'" + ",'" + seqrId + "'"  + ",'" + resultId.toString() + "'" + ');">save</button>';
   		resultId +=1;
   		
   		//field:last event made by
   		html += '<td>'+  matches[i]['username_of_last_event_initiator']  +'</td>';
		     		
   		html += '</td>'
   		html += '</tr>';
   		$('#mmeMatchResultTbl tbody').append(html);
   		$('#seqr-wide-mme-results').show();
   		$('seqr-wide-mme-results-data-loading-animation').hide();
	}
	$('#mmeMatchResultTbl').DataTable();
	return true;
}


$('body').on('click', 'input.host_contacted_us', 
		function(i) {
			var matchId = $(this)[0]['id'];
			var indiv_id = $(this)[0]['value'];
			if( !$(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"host_contacted_us","state":"false"},matchId,sessionStorage.projectId,indiv_id);
			}
			if( $(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"host_contacted_us","state":"true"},matchId,sessionStorage.projectId,indiv_id);
			}
		});
		
$('body').on('click', 'input.we_contacted_host', 
		function(i) {
			var matchId = $(this)[0]['id'];
			var indiv_id = $(this)[0]['value'];
			if( !$(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"we_contacted_host","state":"false"},matchId,sessionStorage.projectId,indiv_id);
			}
			if( $(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"we_contacted_host","state":"true"},matchId,sessionStorage.projectId,indiv_id);
			}
		});

$('body').on('click', 'input.deemed_irrelevant', 
		function(i) {
			var matchId = $(this)[0]['id'];
			var indiv_id = $(this)[0]['value'];
			if( !$(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"deemed_irrelevant","state":"false"},matchId,sessionStorage.projectId,indiv_id);
			}
			if( $(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"deemed_irrelevant","state":"true"},matchId,sessionStorage.projectId,indiv_id);
			}
		});
		
$('body').on('click', 'input.flag_for_analysis', 
		function(i) {
			var matchId = $(this)[0]['id'];
			var indiv_id = $(this)[0]['value'];
			if( !$(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"flag_for_analysis","state":"false"},matchId,sessionStorage.projectId,indiv_id);
			}
			if( $(this).is(':checked') ) {
				updateMatchResultStateEvent({"state_type":"flag_for_analysis","state":"true"},matchId,sessionStorage.projectId,indiv_id);
			}
		});
		
		
/**
** Updates a comment made on a match result
**/
function matchCommentUpdate(id,indiv_id,resultId) {
	//text area ID is the patient ID of that row
	var val = $('textarea#' + resultId).val();
    $.ajax({url: '/api/matchmaker/result_tracking/comments/project/' + sessionStorage.projectId +'/match_id/' + id + '/individual/' + indiv_id,
	 	type:'POST',
	 	data:{"comment": val},
	 	dataType:'json',
	 	success: function(result){
	 		console.log(result);
	 	},
	 	error: function (jqXHR, textStatus, errorThrown)
	    {	
	 		console.log(jqXHR);
	 		$('#messageModalHeader').css({'background-color':'red',
				  'color':'white'
			});
			$('#stateUpdateErrorModal').modal('show');
	    },
	    async:false,  
 });
       return true;
}



/**
 * Updates a state change event via AJAX
 */
function updateMatchResultStateEvent(newMatchResultState,matchId,projectId, indiv_id){	
    $.ajax({url: '/api/matchmaker/result_tracking/match_state_update/project/' + projectId +'/match_id/' + matchId + '/individual/' + indiv_id,
	 	type:'POST',
	 	data:newMatchResultState,
	 	dataType:'json',
	 	success: function(result){
	 		console.log(result);
	 	},
	 	error: function (jqXHR, textStatus, errorThrown)
	    {	
	 		console.log(jqXHR);
	 		console.log(jqXHR);
	 		$('#messageModalHeader').css({'background-color':'red',
				  'color':'white'
			});
			$('#stateUpdateErrorModal').modal('show');
	    },
	    async:false,  
 });	
	
}

/**
 * Show detailed view of match
 */
function processDetailedDisplay(id){
	var patient = JSON.parse(sessionStorage.results)[id];
	addPatientToModal(patient);
    $('#detailedResuleModal').modal('show');	
}

/**
 * Shows a detailed patient structure in a modal
 */
function addPatientToModal(patient){
	console.log(patient);
	var html='<table id="detailedResultTbl" class="table table-hover">';
	html += '<thead><tr>';
	html += '<td><p>' + 'Field' + '</p></td>';
	html += '<td><p>' + 'Value' + '</p></td>';
	html += '</tr></thead><tbody>';

	//General	
	html += '<tr><td><p>Obfuscated Id</p></td>' + '<td><p>' +patient['id'] + '</p></td></tr>';
	if (patient.hasOwnProperty('sex')){
		html += '<tr><td><p>sex' + '<td><p>' +patient['sex'] + '</p></td></tr>';
	}
	if (patient.hasOwnProperty('label')){
		html += '<tr><td><p>label</p></td>' + '<td><p>' +patient['label'] + '</p></td></tr>';
	}
	if (patient.hasOwnProperty('species')){
		html += '<tr><td><p>species</p></td>' + '<td><p>' +patient['species'] + '</p></td></tr>';
	}
	if (patient['contact'].hasOwnProperty('name')){
		html += '<tr><td><p>Contact name</p></td>' + '<td><p>' +patient['contact']['name'] + '</p></td></tr>';
	}
	if (patient['contact'].hasOwnProperty('href')){
		html += '<tr><td><p>Contact URL</p></td>' + '<td><p>' +patient['contact']['href'] + '</p></td></tr>';
	}
	if (patient['contact'].hasOwnProperty('institution')){
		html += '<tr><td><p>Contact institution</p></td>' + '<td><p>' +patient['contact']['institution'] + '</p></td></tr>';
	}
	
	//Phenotypes
	if (patient.hasOwnProperty('features') && patient['features'].length>0){
		html += '<tr><td><p>Phenotypes</p></td><td><table class="table table-hover"><thead><td></td><td></td></thead><tbody>'; 
		for (var j=0; j<patient['features'].length;j++){
			html += '<tr><td>' + patient['features'][j]['id'] + '</td><td>' + patient['features'][j]['observed'] + '<p><tr>';
		}
		html += '</tbody></table></td></tr>';
	}
	//Genotypes sub table
	if (patient.hasOwnProperty('genomicFeatures') && patient['genomicFeatures'].length>0){
		html += '<tr>';
		html += '<td><p>Genotypes</p></td><td>';
		html += '<table class="table table-hover">';
		html += '<thead><tr>';
		html += '<td>Gene Id</td>';
		html += '<td>Reference name</td>';
		html += '<td>Assembly</td>';
		html += '<td>Variant-start</td>';
		html += '<td>Variant-end</td>';
		html += '<td>Reference bases</td>';
		html += '<td>Alternate bases</td>';
		html += '</tr></thead><tbody>'
		for (var k=0; k<patient['genomicFeatures'].length;k++){

				html += '<tr>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['gene']['id']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceName']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['assembly']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['start']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['end']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceBases']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['alternateBases']   + '</p></td>';
				html += '</tr>';
		}
		//close sub table
		html += '</tbody></table></td></tr>';	
	}
	//close main table
	html += '</tbody></table>'
	$('#detailedResultTbl').remove();
	$('#detailedResultContainer').append(html);
	return 0;
}
</script>


{% endblock %}




