{% extends 'analysispage.html' %}
{% load x_extras %}
{% load static from staticfiles %}


{% block title %}<p><i>Search in</i>&nbsp: The Matchmaker Exchange</p>{% endblock %}

{% block links %}
<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 
<!--  tables -->
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>

<script>
$(document).ready(
		function(){
			$('#mmeResultsContainer').hide();
			var base = window.location;
			var urlFields = new String(base).split("/");
			var projectId=urlFields[urlFields.length-3];
			var familyId=urlFields[urlFields.length-1];
			sessionStorage.projectId=projectId;
			sessionStorage.familyId=familyId;
			$('#projId').text(projectId);
			$('#familyId').text(familyId);
			//update title href's as well
			$('#projectIdA').attr('href',"/project/"+projectId);
			$('#familyIdA').attr('href',"/project/" + projectId + "/family/"+familyId);
		});
</script>
Project: <a id="projectIdA" href=""><span id="projId"></span></a>
Family: <a id="familyIdA" href=""><span id="familyId"></span></a>
{% endblock %}
{% block innercontent %}
{% include 'javascript.html' %}
{% include 'family_warnings.html' %}
        
<div class="container">
	<div class="row">
		<div class="col-md-8">
				<h4 class="section-header">Alert</h4>
				<dl>You are about to send patient information to centers of the <a href="http://www.matchmakerexchange.org/">matchmaker exchange</a>.
				 The individual ID would have been replaced by another unique value in order to obfuscate it at it's addition to the network. We will 
				 use your last submitted information (required) on this individual to do this match.  
				</dl>	
				<br><br>
				<div class="col-md-2">
					<button id="goBackBtn" type="button" class="btn btn-danger">Back</button>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-primary" id="continueWithSearch">Continue</button>
				</div>
		</div>
	</div>
	
	<br><br>
	<div id="loading-in-progress-message" style="display:none;">
    	<p><h4>We are searching the Matchmaker network, this may take a few seconds....</h4></p>
	</div>
	
	<br>
	<br>
	<div class="col-md-8" id="search-warning-messages"></div>
	
	<br>
	<div class="row" id="mmeResultsContainer">		
 	</div>
 	
 	<br>
 	<br>
 	
 	<div id="detailedResuleModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h2 class="modal-title">Detailed result</h4>
                    <div id="mmeModalContent">
                    
                    <h4 class="section-header">Match results</h4>
                    <div id="detailedResultContainer"></div>
                    
                    </div>
                </div>
                <div class="modal-body">
            </div>
        </div>
    </div>
    </div>
 
</div>			



 
<script>
/**
* Click handlers
*/ 


		function processDetailedDisplay(id){
			var patient = JSON.parse(sessionStorage.results)[id];
			addPatientToModal(patient);
	        $('#detailedResuleModal').modal('show');	
		}
		
		
		/**
		 * Go back to family page
		 */
		$('#goBackBtn').click(
				function start(){
					var href="/project/" + sessionStorage.projectId + "/family/"+ sessionStorage.familyId;
					window.location=href;
				});


/**
 * When the user decides to continue with search
 */
$('#continueWithSearch').click(
	function start(){
		$('#mmeMatchResultTbl tbody').empty();
		var url = '/api/matchmaker/last_submission/project/' + sessionStorage.projectId + '/family/' + sessionStorage.familyId ;
		$.ajax({url: url, 
			 	success: function(result){
			 		if (result['family_submissions'].length==0){
			 			var submissionLink='<a href="' +  '/matchmaker/add/project/' + sessionStorage.projectId +  '/family/'+ sessionStorage.familyId + '">submit</a>'
			 			html='<div class="alert alert-danger" role="alert"><p>Sorry, <strong>I could not find any submissions</strong> from this family. You would need to first <strong>'+ submissionLink +'</strong>';
			 			html += ' this family to matchmaker to be able to search with it. ';
			 			html += 'If required, please contact <strong><a href="mailto:matchmaker@broadinstitute.org">matchmaker@broad</a></strong> for help.';
			 			$('#search-warning-messages').append(html);
				 		return;
			 		}
					$('#mmeResultsContainer').show();
			 		for (var i=0; i<result['family_submissions'].length;i++){
						for (var j=0; j<result['family_submissions'][i].length;j++){
							var individual_data = result['family_submissions'][i][j]['submitted_data'];
							searchInMME(individual_data,result['family_submissions'][i][j]['seqr_id'],sessionStorage.projectId);
						}
			 		}
			 	},
			    async:false,  
		 });
	});
</script>


<style>
th.sorting{
    font-weight: normal;
}
</style>
<script>
/**
 * Add matched to UI
 */ 
function renderMatches(seqrId,matches){
	console.log(matches);
	if (matches['match_results']['local_results']['result']['results'].length > 0){
		setupRestultsTableHeaders();
	}
	else if(matches['match_results'].hasOwnProperty('external_results')){
		if (matches['match_results']['external_results']['result']['results'].length>0){
			setupRestultsTableHeaders();
		}
	}
	else{
		html = '<div class="alert alert-danger" role="alert">'; 
		html +="Sorry, we were <strong>unable</strong> to find any matches in the Matchmaker network.";
		html += getGoBackMessageHtml();
		html += '</div>';
		$('#search-warning-messages').append(html);
	}
		
	var persistedResults={};
	for (var result_origin in matches['match_results']){
		//map of id to full patient obj
		if (200 == matches['match_results'][result_origin]['status_code']){
			for (var i=0; i<matches['match_results'][result_origin]['result']['results'].length; i++){
				var singlePatientResult;
				if (result_origin=="local_results"){
					singlePatientResult =  matches['match_results'][result_origin]['result']['results'][i];
				}
				if (result_origin=="external_results"){
					singlePatientResult =  matches['match_results'][result_origin]['result']['results'][i];
				}
			     	var patient=singlePatientResult['patient'];
			     	var score=singlePatientResult['score']['patient'];
			     	if (score == null){
			     		score="";
			     	}
			     	//persist patient in local session storage for showing full details in modal later	
					persistedResults[patient['id']]=patient;

		     		var html='<tr>';
		     		
		     		html += '<td>';
		     		html += seqrId;
		     		html += '</td>';
		     		
		     		//GenomicFeatures
		     		html += '<td>';
		     		if (patient.hasOwnProperty('genomicFeatures') &&  patient['genomicFeatures'].length>0){
			     		for (var k=0; k<patient['genomicFeatures'].length;k++){
			     			var geneId=patient['genomicFeatures'][k]['gene']['id'];
			     			html += geneId
			     			if (k<patient['genomicFeatures'].length-1){
			     				html += '<br>';
			     			}
			     		}
		     		}
		     		else{
		     			html += "";
		     		}
		     		html += '</td>';
		     		//Features (phenotypes)
		     		html += '<td>';
		     		if (patient.hasOwnProperty('features') && patient['features'].length>0){
			     		for (var p=0; p<patient['features'].length;p++){
			     			var hpoTerm=patient['features'][p]['id'];
			     			html += hpoTerm;
			     			if (p<patient['features'].length-1){
			     				html += '<br>';
			     			}
			     		}
		     		}
		     		else{
		     			html += "";
		     		}
		     		html += '</td>';
		     		
		     		
		     		html += '<td>';
		     		html += score;
		     		html += '</td>';
		     		
		     		html += '<td>';
		     		html += '<a onclick="processDetailedDisplay(' + "'"+ patient['id'] +"'" +');">' + patient['id'] + '</a>';
		     		html += '</td>';
		     		html += '<td>';
		     		if (patient['contact'].hasOwnProperty('name')){
		     			html += patient['contact']['name'];
		     		}
		     		else{
			     		html += "";
		     		}
		     		html += '</td>';
		     		html += '<td>';
		     		html += patient['contact']['institution'];
		     		html += '</td>';
		     		html += '<td>';
		     		html += '<a href="' + patient['contact']['href'] + '">' + patient['contact']['href'] + '</a>';
		     		html += '</td>';
		     		html += '</tr>';
		     		$('#mmeMatchResultTbl tbody').append(html);
			}
		}
	}
	//add to session storage
	sessionStorage.results=JSON.stringify(persistedResults);
	$('#mmeMatchResultTbl').DataTable();
}

/**
 * Add this patient to the local matchmaker exchange node (matchbox) for sharing
 * Expects a JSON object that it stringifys
 **/
function searchInMME(patient,seqrId,project_id) {
	 $('#loading-in-progress-message').show();
	 var url = "/api/matchmaker/match_internally_and_externally/" + project_id;
	 var query = {'patient_data':JSON.stringify(patient)};
	 $.ajax({url: url, 
		 	type:'POST',
		 	data:query,
		 	dataType:'json',
		 	success: function(result){
		 		$('#loading-in-progress-message').hide();
		 		renderMatches(seqrId,result);
		 	},
		 	error: function (jqXHR, textStatus, errorThrown)
		    {
		 		$('#loading-in-progress-message').hide();
		 		console.log(errorThrown);
		    },
		    async:true,  
	 });
}
</script>


<script>
/**
 * Shows a detailed patient structure in a modal
 */
function addPatientToModal(patient){
	var html='<table id="detailedResultTbl" class="table table-hover">';
	html += '<thead><tr>';
	html += '<td><p>' + 'Field' + '</p></td>';
	html += '<td><p>' + 'Value' + '</p></td>';
	html += '</tr></thead><tbody>';

	//General	
	html += '<tr><td><p>Obfuscated Id</p></td>' + '<td><p>' +patient['id'] + '</p></td></tr>';
	if (patient.hasOwnProperty('sex')){
		html += '<tr><td><p>sex' + '<td><p>' +patient['sex'] + '</p></td></tr>';
	}
	if (patient.hasOwnProperty('label')){
		html += '<tr><td><p>label</p></td>' + '<td><p>' +patient['label'] + '</p></td></tr>';
	}
	if (patient.hasOwnProperty('species')){
		html += '<tr><td><p>species</p></td>' + '<td><p>' +patient['species'] + '</p></td></tr>';
	}
	if (patient['contact'].hasOwnProperty('name')){
		html += '<tr><td><p>Contact name</p></td>' + '<td><p>' +patient['contact']['name'] + '</p></td></tr>';
	}
	if (patient['contact'].hasOwnProperty('href')){
		html += '<tr><td><p>Contact URL</p></td>' + '<td><p>' +patient['contact']['href'] + '</p></td></tr>';
	}
	if (patient['contact'].hasOwnProperty('institution')){
		html += '<tr><td><p>Contact institution</p></td>' + '<td><p>' +patient['contact']['institution'] + '</p></td></tr>';
	}
	
	
	//Phenotypes
	if (patient.hasOwnProperty('features') && patient['features'].length>0){
		html += '<tr><td><p>Phenotypes</p></td><td><table class="table table-hover"><thead><td></td><td></td></thead><tbody>'; 
		for (var j=0; j<patient['features'].length;j++){
			html += '<tr><td>' + patient['features'][j]['id'] + '</td><td>' + patient['features'][j]['observed'] + '</td><tr>';
		}
		html += '</tbody></table></td></tr>';
	}
	//Genotypes sub table
	if (patient.hasOwnProperty('genomicFeatures') && patient['genomicFeatures'].length>0){
		html += '<tr>';
		html += '<td><p>Genotypes</p></td><td>';
		html += '<table class="table table-hover">';
		html += '<thead><tr>';
		html += '<td>Gene Id</td>';
		html += '<td>Reference name</td>';
		html += '<td>Assembly</td>';
		html += '<td>Variant-start</td>';
		html += '<td>Variant-end</td>';
		html += '<td>Reference bases</td>';
		html += '<td>Alternate bases</td>';
		html += '</tr></thead><tbody>'
		for (var k=0; k<patient['genomicFeatures'].length;k++){

				html += '<tr>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['gene']['id']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceName']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['assembly']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['start']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['end']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['referenceBases']   + '</p></td>';
				html += '<td><p>'  +  patient['genomicFeatures'][k]['variant']['alternateBases']   + '</p></td>';
				html += '</tr>';
		}
		//close sub table
		html += '</tbody></table></td></tr>';	
	}
	//close main table
	html += '</tbody></table>'
	$('#detailedResultTbl').remove();
	$('#detailedResultContainer').append(html);
	return 0;
}
</script>

<script>
function setupRestultsTableHeaders(){
	$('#mmeResultsContainer').empty();
	var html = '<h4 class="section-header">Match results</h4>';
    html += '<table id="mmeMatchResultTbl" class="table table-hover">';
    html += '<thead><tr>';
	html += '<td><p>seqr Id</p></td>';
	html += '<td><p>Gene Ids</p></td>';
	html += '<td><p>Phenotypes</p></td>';
	html += '<td><p>Score</p></td>';
	html += '<td><p>Match Id</p></td>';  		
	html += '<td><p>Contact name</p></td>';		
	html += '<td><p>Contact institution</p></td>';
	html += '<td><p>Contact URI</p></td>';
	html += '</tr>';
	html += '</thead>';
	html += '<tbody></tbody>';
	html += '</table>';
	$('#mmeResultsContainer').append(html);
}
</script>

<script>
/**
 * Returns a mesaage
 */
function getGoBackMessageHtml(){
	var famHref="/project/" + sessionStorage.projectId + "/family/"+ sessionStorage.familyId;
	var addHref="/matchmaker/add/project/" + sessionStorage.projectId + "/family/"+ sessionStorage.familyId;
	var html = '<p>You can return to <strong><a href="'+famHref+'">family</a></strong> page, or try to add more genotype and phenotype data and <strong><a href="'+  addHref  +'">add</a></strong> the individual once more.';
	return html;
}

</script>	

{% endblock %}
