{% extends 'base.html' %}

{% load static from staticfiles %}

{% include 'javascript.html' %}
{% block content %}

<style>
.container{
		text-align: center;
	}
.section{
		margin-top:60px;
	}
	
#info-columns{
		margin-top:60px;
	}


</style>
     
<div class="container">

<div id="logo" class="section">
	<img src="https://raw.githubusercontent.com/macarthur-lab/matchbox/master/aux-files/matchbox-logo.png" width="400px"/>
</div>

<div id="welcome-text"  class="section">
	<p><h3>Welcome to <i>matchbox</i>! The bridge to the <a href="http://www.matchmakerexchange.org/">Matchmaker Exchange</a> at the <a href="https://cmg.broadinstitute.org/">Center for Mendelian Genomics</a> at the <a href="https://www.broadinstitute.org/">Broad Institute of MIT and Harvard</a> (Broad CMG). To use <i>matchbox</i>, you must be a collaborator and have your data deposited in the <a href="https://seqr.broadinstitute.org"><i>seqr</i></a> platform</h3></p>
  	<p class="metrics"><h3>Please contact us at <a href="mailto:matchmaker@broadinstitute.org">matchmaker@broad</a>.</h3></p>

</div>

<div id="info-columns">
  	<p>
  		Our software is freely available, open source and can be found <a href="https://github.com/macarthur-lab/matchbox">here. </a>We encourage all new centers
  		interested in joining the <a>Matchmaker Exchange</a> to please use this software and contribute their effort towards making this a community resource. 
  	</p>
  	<p>
  		<br>
  		<i>matchbox</i> is currently maintained by the <a href="https://cmg.broadinstitute.org/">Broad CMG</a>, and the <a href="https://monarchinitiative.org/">Monarch Initiative</a>.
  		<br>Logo development by Lauren Solomon and Susanna M. Hamilton, Broad Communications.
  	</p>
</div>

</div>
{% endblock %}


