{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <title>{{ page_title }}</title>

    <script type="text/javascript">
        window.initialJSON = {{ initial_json|safe }};
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'third_party/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'third_party/css/lato.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'third_party/css/semantic.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'third_party/css/datatables.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'third_party/css/dataTables.semanticui.min.css' %}" />
</head>

<body style="font-family:'Lato'; color:#111111;">
    <div id="reactjs-root" style="height:100%; min-height:100%;"></div>
    <script type="text/javascript" src="{% static 'third_party/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'third_party/js/semantic.js' %}"></script>
    <script type="text/javascript" src="{% static 'third_party/js/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'third_party/js/dataTables.semanticui.min.js' %}"></script>
    {% render_bundle webpack_bundle %}
</body>
</html>
