<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="testRefSvrNode"
          class="org.broadinstitute.macarthurlab.matchbox.entities.MatchmakerNode">
        <constructor-arg type="java.lang.String" value="Test Reference Server" />
        <constructor-arg type="java.lang.String" value="abcd" />
        <constructor-arg type="java.lang.String" value="https://localhost:8443/match" />
        <constructor-arg type="java.lang.String" value="application/vnd.ga4gh.matchmaker.v1.0+json"/>
        <constructor-arg type="java.lang.String" value="application/vnd.ga4gh.matchmaker.v1.0+json"/>
        <constructor-arg type="java.lang.String" value="en-US"/>
        <constructor-arg type="boolean" value="true"/>
    </bean>


    <bean id="matchmakerSearch"
          class="org.broadinstitute.macarthurlab.matchbox.search.MatchmakerSearchImpl">
        <property name="matchmakers">
            <list>
                <ref bean="testRefSvrNode"/>
            </list>
        </property>
    </bean>

    <bean id="defaultAccessToken"
          class="org.broadinstitute.macarthurlab.matchbox.entities.AuthorizedToken">
        <constructor-arg type="java.lang.String" value="Default Access Token" />
        <constructor-arg type="java.lang.String" value="abcd" />
        <constructor-arg type="java.lang.String" value="Local Center name" />
        <constructor-arg type="java.lang.String" value="user@center.org" />
    </bean>

    <bean id="accessAuthorizedNode"
          class="org.broadinstitute.macarthurlab.matchbox.authentication.AccessAuthorizedNode">
        <property name="accessAuthorizedNodes">
            <list>
                <ref bean="defaultAccessToken"/>
            </list>
        </property>
    </bean>
</beans>
