{% extends "base.html" %}

{% block content %}
    <div class="pageheader">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="title">{% block title %}{% endblock %}</div>
                    <div class="small">{% block links %}{% endblock %}</div>
                    <div class="desc">{% block desc %}{% endblock %}</div>
                </div>
                <div class="col-sm-3">
                    <div class="right">{% block right %}{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
    {% block innercontent %}{% endblock %}
{% endblock %}
