<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: host this stuff locally -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <script type='text/javascript' src='{{ STATIC_URL }}js/libs/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/libs/bootstrap.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}js/libs/jquery.tablesorter.min.js'></script>
    <!-- script type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script -->
    <script type="text/javascript">
        function logError(details) {
            data = {
                context: navigator.userAgent,
                details: details,
            }
          $.ajax({
            type: 'POST',
            url: "{{ URL_PREFIX }}" + 'errorlog',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8'
          });
        }
        window.onerror = function(message, file, line) {
            logError(file + ':' + line + '\n\n' + message);
            alert('An error has occurred on the page. Sorry for the inelegant message here - please try reloading the page.')
        };
    </script>

    <title>xBrowse</title>

    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/typeahead.js-bootstrap.css' />
    <link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}jquery-ui-1.10.3.custom.min.css' />
    <link rel='stylesheet' type='text/css' href='{{ URL_PREFIX }}xstatic/style.css' />
    <!-- link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" -->


	{% block extrahead %}
	{% endblock %}

</head>


<body>
    <!-- modal dialog for 'xbrowse - whats new' -->
    <div class="modal fade" id="whatsNewModal" tabindex="-1" role="dialog" aria-labelledby="whatsNewModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="whatsNewModal"><span style='color:black;font-size:12pt'><b>xBrowse - What's New</b></span></h5>
                </div>
                <div class="modal-body">


                    <table class="table">
                        <tbody>
                          <tr>
                            <td class="col-sm-2"><b>Dec 10, 2015</b><br></td>
                            <td>
                                <i class="fa fa-angle-double-right"></i> Updated Clinvar reference data to the <a href='ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/xml/'>11/30/2015 release.</a><br>
				<br>
			        <i class="fa fa-angle-double-right"></i> When a variant falls in a gene that has multiple transcript isoforms, xBrowse will select one of these transcripts 
				to show in variant search results. The choice of transcript then affects annotations like variant effect and HGVSp.<br> 
				Before this update, xBrowse simply chose the worst-affected transcript, but this sometimes led to obscure transcripts being shown for important disease genes. <br>
				To fix this, we've updated the transcript-selection logic to:<br>
				- ignore non-protein-coding transcripts (except when all transcripts for a given gene are not protein-coding).<br>
				- of the remaining transcripts, select the worst-affected transcripts for the given variant.<br>
				- if multiple transcripts are affected in this same way, see if any of them is canonical according to Gencode v19.
				If yes, use the canonical transcript. Otherwise, chose by alphabetical order of the transcript id.<br>
				<br>
				<i class="fa fa-angle-double-right"></i> Clicking on the variant effect (for example 'missense' in 
				<img width='10%' height='10%' style="position:relative; bottom:10px" src="{{ STATIC_URL }}whatsnew/screenshot_20151210_variant_effect_link.png" />)
				brings up a popup dialog with all transcripts listed. After this update, the popup dialog will now show which of the transcripts 
				is canonical, and also the HGVSp for each.<br>
				<br>
				<i class="fa fa-angle-double-right"></i> For De Novo Dominant variant searches on families that have data for mother, father and child, 
				more stringent filters are now applied as follows. A variant will only be shown if:<br>
				1) the variant GQ score is >= 20 in the child<br>
				2) the read coverage in the child is no less than 10% of the total read coverage in the parents at the variant site<br>
				3) the parents' variant call allele balance (number of reads supporting alt allele / total reads ) is less than 5%<br>
                            </td>
			  </tr>
			</tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

	<div id="headerbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" id="logo-container">
                    <a href="{{ BASE_URL }}">xBrowse</a>
                </div>
                {% if user.is_authenticated %}
                <div class="col-sm-3" id="headerbar-right-links">
                    <a href="#" data-toggle="modal" data-target="#whatsNewModal" style="color:white">What's new (12/10/2015) </a>
                </div>
                <div class="col-sm-5" id="headerbar-right-links">
                    Logged in as <strong>{{ user.profile }}</strong> | <a href="{{ BASE_URL }}logout">Log out</a>                
                </div>
                {% endif %}
            </div>
        </div>
	</div>
    {% if CONSTRUCTION_TEMPLATE %}
        <div id="underconstruction">
            <div class="container">
                {% include CONSTRUCTION_TEMPLATE %}
            </div>
        </div>
    {% endif %}
    {% if messages %}
        <div id="messages">
            <div class="container">
                {% for message in messages %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}


</body>
