<!DOCTYPE html>

{% load staticfiles %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: host this stuff locally -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href='{% static "js/libs/tablesorter-blue-theme/style.css" %}' rel='stylesheet' rel='stylesheet' type='text/css'>

    <script type='text/javascript' src='{% static "js/libs/jquery-1.10.2.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/libs/jquery.tablesorter.min.js" %}'></script>


    <script type='text/javascript' src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    
    <script type="text/javascript">
        function logError(details) {
            data = {
                context: navigator.userAgent,
                details: details,
            }
          $.ajax({
            type: 'POST',
            url: "{{ URL_PREFIX }}" + 'errorlog',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8'
          });
        }
        /*
        window.onerror = function(message, file, line) {
            logError(file + ':' + line + '\n\n' + message);
            alert('An error has occurred on the page. Sorry for the inelegant message here - please try reloading the page.')
        };
        */
    </script>

    <title>seqr</title>

    <link rel='stylesheet' type='text/css' href='{% static "css/bootstrap.min.css" %}' />
    <link rel='stylesheet' type='text/css' href='{% static "jquery-ui-1.10.3.custom.css" %}' />
    <link rel='stylesheet' type='text/css' href='/xstatic/style.css' />
    <link rel='stylesheet' type='text/css' href='{% static "css/typeahead.js-bootstrap.css" %}' />
    <!-- link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" -->


	{% block extrahead %}
	{% endblock %}

</head>


<body>
    <div id="main">

        <div class="modal fade" id="independent-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close back-button" data-dismiss="modal" aria-hidden="true">&times;</button><br>
                    </div>
                    <div class="modal-body" id="independent-modal-content"></div>
                </div>
            </div>
        </div>

        <!-- modal dialog for 'seqr - whats new' -->
        <div class="modal fade" id="whatsNewModal" tabindex="-1" role="dialog" aria-labelledby="whatsNewModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title" id="whatsNewModal"><span style='color:black;font-size:12pt'><b>What's New</b></span></h5>
                    </div>
                    <div class="modal-body">


                        <table class="table">
                            <tbody>
			      <tr>
				<td class="col-sm-2"><b>June 20, 2016</b><br></td>
				<td>
				  <i class="fa fa-angle-double-right"></i> Updated Gene Details tissue expression view to use GTEx release V6 which includes more tissues and samples. 
				</td>
			      <tr>
                                <td class="col-sm-2"><b>June 12, 2016</b><br></td>
				<td>
				  <i class="fa fa-angle-double-right"></i> Notes and Tags have been improved in several ways.<br> - Tags now keep track of the variant search that was done originally to find the given variant.<br> &nbsp; &nbsp; For tags added after 6/12/2016, a <a><i class="fa fa-search"></i> re-run variant search</a> link will then appear on the Saved Variants page.<br> - Notes can be edited and deleted using the <a><i class="fa fa-pencil"></i></a> and <a><i class="fa fa-trash-o"></i></a> icons.<br>
				</td>
			      </tr>
			      <tr>
                                <td class="col-sm-2"><b>May 30, 2016</b><br></td>
				<td>
				  <i class="fa fa-angle-double-right"></i> Created a 'Causal Variant' tag on all projects, and added this tag to all variants that were previously marked as causal. Going forward, please use this tag instead of the 'Mark Causal' button.<br>
				</td>
			      </tr>
			      <tr>
				<!--center><span style='font-size:15px'>Sign up for our <a href="https://groups.google.com/a/broadinstitute.org/forum/#!forum/seqr-updates/join"><b>mailing list</b></a> to also receive <i>seqr</i> updates and announcements over email.<br><br></span></center-->
                                <td class="col-sm-2"><b>April 20, 2016</b><br></td>
				<td>
				  <i class="fa fa-angle-double-right"></i> When a family's <i>solved</i> status is changed, the user and date when the change was made will now be shown on the Family page (similar to tags and notes)  <br>
				  <i class="fa fa-angle-double-right"></i> Clicking 'Edit' on a family now allows 2 separate 'Details' fields to be entered: "Notes" and "Analysis Summary"<br>
				  <i class="fa fa-angle-double-right"></i> Updated Clinvar and OMIM reference data 

				</td>
			     </tr>
			     <tr>
                                <td class="col-sm-2"><b>March 22, 2016</b><br></td>
				<td>				<i class="fa fa-angle-double-right"></i> On the project page, a table near the bottom now shows a summary of the number of Phenotips terms entered. This table is only shown for accounts with 'manager' permissions on a project.<br>
				<i class="fa fa-angle-double-right"></i> Ability to Edit or Delete tags on the project page<br>
				<i class="fa fa-angle-double-right"></i> Bug fixes and backend updates (now using Django v1.9)<br>
				</td>
			      </tr>
			      <tr>
                                <td class="col-sm-2"><b>Feb 20, 2016</b><br></td>
                                <td>
                                  <i class="fa fa-angle-double-right"></i> For projects that have gene lists defined, Search For Causal Variants now supports filtering by gene lists through a drop-down that appears in the Location section under Genes.<br>
                                  <i class="fa fa-angle-double-right"></i> Automatically-generated static pedigree images from <a href='http://haplopainter.sourceforge.net/'>HaploPainter</a> will now appear on the family pages for most multi-generation families.<br>
	                          <i class="fa fa-angle-double-right"></i> Tags and notes can now be viewed separately for each family by using the new <a>All tags and notes for family</a> link on each family page.<br>
				  <i class="fa fa-angle-double-right"></i> Project, family, and gene search pages have been adjusted to improve usability.</a><br>
                                  <i class="fa fa-angle-double-right"></i> The Clinvar reference dataset has been updated to the new <a href='ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/xml/'>2/4/2016 Clinvar release.</a><br><br>
                                  <i class="fa fa-angle-double-right"></i> These features are being gradually added to projects over the next few weeks:<br>
                                     - Integration with <a href='https://phenotips.org/'>PhenoTips™</a> for structured entry of patient phenotypes.<br>
                                     - For projects that were sequenced at the Broad Institute, we have access to the underlying sequencing read data (.bam files) and will now
                                       be able to show an IGV-like view of the reads directly in the browser. This view will be accessible through a <sup><a class="view-reads" name="<%= individual_idx %>">
                                      <img src='{% static "images/igv_reads_12x12.png" %}'/> &nbsp; SHOW READS</a></sup> icon that will appear next to each variant in the search results.<br>
                                </td>
                              </tr>
                              <tr>
                                <td class="col-sm-2"><b>Previous</b><br></td>
                                <td>
                        <i class="fa fa-angle-double-right"></i> When a variant falls in a gene that has multiple transcript isoforms, seqr selects only one of these transcripts
                    to show in variant search results. The choice of transcript may affect things like whether the variant is labeled missense or splice-disrupting, as well as 'HGVSp' and other annotations.<br>
                    Before this update, seqr always chose the worst-affected transcript, but this sometimes led to obscure transcripts being shown for important disease genes. <br>
                    To avoid this, we've updated the transcript selection logic to:<br>
                    - ignore non-protein-coding transcripts (except when all transcripts for a given gene are non-protein-coding).<br>
                    - of the remaining transcripts, select the worst-affected transcripts for the given variant.<br>
                    - if there's a tie where multiple transcripts are worst-affected in the same way, see if any of them is canonical according to Gencode v19.
                    If yes, use the canonical transcript. Otherwise, chose by alphabetical order of the transcript id.<br>
                    <br>
                    <i class="fa fa-angle-double-right"></i> For De Novo Dominant variant searches on families that have data for mother, father and child,
                    more stringent filters are now applied as follows. A variant will only be shown if:<br>
                    1) the read coverage in the child is no less than 10% of the total read coverage in the parents at the variant site<br>
                    2) the variant GQ score is >= 20 in the child<br>
                    3) the parents' variant call allele balance (number of reads supporting alt allele / total reads ) is less than 5%<br>
                    - in this case, the setting from the adjustable Allele Balance slider is still applied, but only to the child, while the GQ slider value only applies to the parents.
                    <br>
                    <i class="fa fa-angle-double-right"></i> Clicking on the variant effect (for example 'missense' in
                    <img width='15%' height='10%' style="position:relative; bottom:10px; padding-top:10px" src="{% static 'whatsnew/screenshot_20151210_variant_effect_link.png' %}" />)
                    brings up a popup dialog with all transcripts listed. After this update, the popup dialog will now show which of the transcripts
                    is canonical, and also the HGVSp for each.<br>
                    <br>
                    </td>
                  </tr>
                </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="headerbar">
            <div class="container">
                <div class="row">
                    {% if user.is_authenticated %}
                    <div class="col-sm-4" id="logo-container">
                        <a href="{{ BASE_URL }}"><i>seqr</i></a>
                    </div>
                    <div class="col-sm-3" id="headerbar-right-links">
                        <a href="#" data-toggle="modal" data-target="#whatsNewModal" style="color:white">What's new (6/20/2016) </a>
                    </div>
                    <div class="col-sm-5" id="headerbar-right-links">
                        Logged in as <strong>{{ user.profile }}</strong> | <a href="{{ BASE_URL }}logout">Log out</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if CONSTRUCTION_TEMPLATE %}
            <div id="underconstruction">
                <div class="container">
                    {% include CONSTRUCTION_TEMPLATE %}
                </div>
            </div>
        {% endif %}
        {% if messages %}
            <div id="messages">
                <div class="container">
                    {% for message in messages %}
                        <div class="message">{{ message }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    {% if user.is_authenticated %}
        <div id="footerbar">
   	    <div class="col-sm-1"></div>
            <div class="col-sm-5" style="padding:10px">For bug reports or feature requests please submit <a href="https://github.com/macarthur-lab/seqr/issues">github issues</a></div>
            <div class="col-sm-4" style="text-align:right; padding:10px;">
                If you have questions or feedback: &nbsp;<a href="mailto:seqr@broadinstitute.org">contact us</a>
            </div>
            <div class="col-sm-1"></div>
        </div>
    {% endif %}

</body>
