{% if cohort %}
    <div class="container">
        {% if cohort.get_data_status == 'loading' or cohort.get_data_status == 'stale'  %}
        <div class="alert alert-danger"><strong>Warning:</strong>
            Data is not fully loaded for this cohort.
            You should probably not run any analysis at this time unless you really know what you are doing.
            See <a href="{% url 'cohort_home' cohort.project.project_id cohort.cohort_id %}">cohort homepage</a> for more details.
        </div>
        {% endif %}
    </div>
{% endif %}