{% extends 'analysispage.html' %}

{% load static from staticfiles %}

{% block title %}Edit Individuals{% endblock %}

{% block links %}
    Project: <a href="{% url 'project_home' project.project_id %}">{{ project }}</a>
{% endblock %}

{% block desc %}
    <p>
        This page allows you to edit pedigree information.
    <p>Changes you make on this page will be reflected on the <a href="{% url 'project_individuals' project.project_id %}">Individuals</a> page.
<br><br>
    <b> WARNING: </b> &nbsp; Changing the structure of a family is not currently supported. For example, adding individuals or moving individuals from one family to another doesn't currently work.

{% endblock %}

{% block innercontent %}
    <div class="container">
        <div id="edit-indivs-container"></div>
    </div>

{% include "javascript.html" %}

<script type="text/javascript">
    var PROJECT_ID = '{{ project.project_id }}';
    var INDIVIDUALS = {{ individuals_json|safe }};
    var PROJECT_PHENOTYPES = {{ project.get_project_phenotypes_json|safe }};
</script>

<script type='text/javascript' src='{% static "js/project_editing/models.js" %}'></script>
<script type='text/javascript' src='{% static "js/project_editing/views.js" %}'></script>
<script type='text/javascript' src='{% static "js/project_editing/edit_individuals.js" %}'></script>

{% endblock %}
