{% extends 'confirmpage.html' %}

{% block innercontent %}
    <h2>Gene Summary Information</h2>
    <p>
        To access the summary page for a gene start typing the gene symbol in the form below and select the appropriate gene.
    </p>
    <div id="select-gene-container"></div>

    <script type="text/javascript">
        var PROJECT_OPTIONS = {};
    </script>
    {% include 'javascript.html' %}

    <script type="text/javascript">
    $(document).ready(function() {
        var select_gene_view = new SelectGeneView();
        $('#select-gene-container').html(select_gene_view.render().el);
        select_gene_view.on('gene-selected', function(gene_id) {
            window.location.href = window.location.href + '/' + gene_id;
        })
    });
    </script>

{% endblock %}
