{% extends 'base.html' %}

{% load compress %}
{% load static from staticfiles %}

{% block content %}
    <div class="container">
        <h2 class="page-header">{{ gene_symbol }}</h2>
        <div id="gene-view-container"></div>
    </div>

    <script type="text/javascript">
        var username = "{{ request.user.username }}";
        var GENE = {{ gene_json|safe }};
        var PROJECT_OPTIONS = {};
    </script>

    {% include 'javascript.html' %}

    {% compress js %}
        <script type='text/javascript' src='{% static "js/quickgene.js" %}'></script>
    {% endcompress %}

{% endblock content %}
