{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
	  <br><br>
            <h2>My Projects</h2>
            <div class="col-md-9">
	      
                <table class="tablesorter table">
                    <thead>
                        <tr>
                            <th class="header">Project</th>
                            <th class="header">Created</th>
                            {% if user.is_staff %}  <th class="header">Last Accessed</th>  {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr class="project-row" style="padding: 2px 0;" data-project-id="{{ project.id }}">
                                <td><a href="{% url "project_home" project.project_id %}" style="font-size: 16px; font-weight: bold;">{{ project }}</a><p class="description">{{ project.description }}</p></td>
                                <td><span style='font-size:13px'>{{project.created_date|date:"m/d/Y"}}</span></td>
                                {% if user.is_staff %}  <td><span style='font-size:13px'>{{ project.last_accessed_date|date:"m/d/Y" }}</span></td> {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
	      <br><br>
                <div class="analysis-options-box">
                    <h6 class="section-header">Gene Information</h6>
                    <div class="analysis-box">
                        <a href="/dashboard" class="big-link-text">New Dashboard Page</a>
                        <p>
                            New landing page listing all projects
                        </p>
                        <br><br>
                        <a href="{% url 'gene_search' %}" class="big-link-text">Gene Summary Information</a>
                        <p>
                            Look up the reference data for a gene
                        </p>
			            <br><br>
                        <a href="{% url 'gene_lists_home' %}" class="big-link-text">Gene Lists</a>
                        <p>
                            View currently available gene lists or create a new one
                        </p>
                        
                        {% if user.is_staff %}
                        	<br>
	                        <a href="/matchmaker/translate/matchbox_id" class="big-link-text"><i>matchbox</i> manager</a>
	                        <p>
	                            Translate <i>matchbox</i> IDs into seqr sample IDs and view Matchmaker submission information.
	                        </p>
	                        
	                        <br>
	                        
	                        
	                        <a href="staff/matchmaker" class="big-link-text"><i>matchbox</i> metrics dashboard</a>
	                        <p>
	                            View a snapshot of <i>matchbox</i> usage metrics.
	                        </p>
	                    {% endif %}
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.tablesorter').tablesorter({
            dateFormat: 'mm/dd/YYYY',
	    sortList: [[0,0],[1,0]],
            headers: {
                0: {},
                1: { sorter: "shortDate", dateFormat: "mm/dd/yyyy" },
                2: { sorter: "shortDate", dateFormat: "mm/dd/yyyy" },
            }
        });
    </script>
{% endblock %}
