{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="span12 page-top">

        <ul class="breadcrumb">
            <li><a href="{% url home %}">Home</a> <span class="divider">/</span></li>
            <li><a href="{% url project_home project_id=project.project_id %}">{{ project }}</a> <span class="divider">/</span></li>
            <li class="active">{{ individual }}</li>
        </ul>

    </div>

</div>

<div class="row">
    <div class="span10">

        <h4 class="section-header">Edit Individual</h4>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>

    </div>

</div>

{% endblock %}