{% extends 'base.html' %}

{% load static from staticfiles %}

{% block extrahead %}
<link rel='stylesheet' type='text/css' href="{% static 'css/animate.min.css' %}" />
{% endblock %}


{% block content %}
    <div class="landing-page">
        <div class="section">
            <div class="grabber">seqr</div>
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="grabber-subhead">An open source software platform for rare disease genomics</div>
                </div>
              </div>
            </div>
            <div class="login"><a href="{{ BASE_URL }}login" class="flatbutton" >Sign In Here</a></div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="teaser"><span>What you can do with seqr</span></div>

                        <ul class="feature-list">
                            <li>
                                <strong>Identify disease causing variants</strong>:
                                Search for variant(s) that cause Mendelian disease in a family or individual,
                                using community best practices for prioritizing variants.
                            </li>
                            <li>
                                <strong>Integrate different data sources</strong>:
                                Browse contextual information for variants and genes such as deleteriousness predictions
                                and population allele frequencies.
                            </li>
			    <li>
                                <strong>Designed for collaborations</strong>:
                                Can be used by one researcher analyzing one sample,
                                or in a collaboration where dozens of researchers are studying hundreds of families.
                                Features for tracking variants are built in.
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
    </div>
{% endblock %}
