{% extends 'base.html' %}
	{% block extrahead %}
	<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/animate.min.css' />
	{% endblock %}

{% block content %}
    <div class="landing-page">
        <div class="section">
            <div class="grabber">xBrowse</div>
            <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="grabber-subhead">An open source software platform for rare disease genomics</div>
                </div>
            </div>
            </div>
            <div class="login">Already have an account? <a href="{{ BASE_URL }}login" class="flatbutton" >Sign In Here</a></div>
            <div id="scrolldownmore" class="bounce animated"><i class="fa fa-angle-down"></i> Scroll down for more <i class="fa fa-angle-down"></i></div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="sectiontitle">About xBrowse</div>
                        <p>
                            xBrowse is a software toolkit for studying rare genetic diseases.
                            It provides a variety of methods for analyzing the genetic variants that are produced by
                            next generation sequencing (NGS) data.
                            xBrowse contains a web interface and a (Python) analysis library,
                            so it can be deployed as a standalone website or as part of a bioinformatics pipeline.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="teaser"><span>What you can do with xBrowse</span></div>

                        <ul class="feature-list">
                            <li>
                                <strong>Identify disease causing variants</strong>:
                                Search for variant(s) that cause Mendelian disease in a family or individual,
                                using community best practices for prioritizing variants.
                            </li>
                            <li>
                                <strong>Aggregate results across patients</strong>:
                                Combine a group of samples with a similar rare phenotype,
                                to see if there is a burden of variants that should be studied further.
                            </li>
                            <li>
                                <strong>Integrate different data sources</strong>:
                                Increasingly, researchers need to analyze
                                multiple datasets for the same patient
                                - perhaps a combination whole exome, CNV and RNA-Seq data.
                                xBrowse allows you to explore them together.
                            </li>
                        </ul>

                        <div class="teaser"><span>Other things we like</span></div>

                        <ul class="feature-list">
                            <li>
                                <strong>Modern responsive web interface</strong>:
                                Web interface aims to make researchers as productive as possible. (And it works great on mobile!)
                            </li>
                            <li>
                                <strong>Designed for collaborations</strong>:
                                Can be used by one researcher analyzing one sample,
                                or in a collaboration where dozens of researchers are studying hundreds of families.
                                Features for tracking variants are built in.
                            </li>
                            <li>
                                <strong>Access to reference data</strong>:
                                Useful reference datasets are baked in to the xBrowse interface -
                                so you see data when it is most useful.
                            </li>
                            <li>
                                <strong>It's pretty flexible</strong>:
                                You can use your own private reference data,
                                add your own custom annotations, and implement your own analysis modules on top of the basic xBrowse framework.
                            </li>
                        </ul>

{#                        <div class="teaser"><span>Who xBrowse Is For</span></div>#}
{#                        <div class="container-fluid">#}
{#                            <div class="row-fluid user-types">#}
{##}
{#                                <div class="span4 user-type">#}
{#                                    <img src="{{ STATIC_URL }}images/genetics.png" alt=""/>#}
{#                                    <div class="desc">#}
{#                                        If you are a <span>Researcher</span>, you can use xBrowse to#}
{#                                        study Mendelian diseases.#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <div class="span4 user-type">#}
{#                                    <img src="{{ STATIC_URL }}images/pharmaceutical_drugs.png" alt=""/>#}
{#                                    <div class="desc">If you are a <span>Biotech or Pharmeceutical</span>, you can use xBrowse to#}
{#                                        integrate rare disease genetics into your drug development pipeline. </div>#}
{#                                </div>#}
{##}
{#                                <div class="span4 user-type">#}
{#                                    <img src="{{ STATIC_URL }}images/doctor.png" alt=""/>#}
{#                                    <div class="desc">#}
{#                                        If you are a <span>Hospital or Health Care Provider</span>, you can use xBrowse#}
{#                                        as an upstream component of a diagnostic service.#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="sectiontitle">Demo Video</div>
                    <p>
                        This short video walks through some of the core features of xBrowse.
                    </p>
                    <p>
                        <em>I'm still working on the video - will be posted soon!<br/>
                        In the meantime, try <a href="{{ BASE_URL }}login">logging in</a> with a demo account - username and password are <strong>nmd_demo</strong></em>
                    </p>
                 </div>
            </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="sectiontitle">Get Involved</div>
                    <p>
                        xBrowse is under active development - we're still working on our first public release.
                        In the meantime, here are a few ways to get involved:
                    </p>
                    <ul class="feature-list">
                        <li><strong>Become a beta user</strong>: If you would like to try analyzing data in xBrowse, please get in touch!
                            See our <a href="{{ BASE_URL }}docs/beta-users">guide for beta users</a> for more info.</li>
                        <li>
                            <strong>Join the email list</strong>:
                            We're starting an email list for people that want to keep in touch.
                            We send out ~monthly notes about updates to the xBrowse platform, and what we are working on.
                            <a href="http://harvard.us5.list-manage.com/subscribe?u=cd17c0c85dcb896e3c371a6ea&id=3d7bbd2c55">Sign up here</a>
                        </li>
                        <li>
                            <strong>Become a contributor</strong>: xBrowse is open source, and we greatly appreciate open source contributions!
                            See our <a href="{{ BASE_URL }}docs/roadmap">roadmap</a> for more info.
                        </li>
                    </ul>
                 </div>
            </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="sectiontitle">Who We Are</div>
                    <p>
                        xBrowse is developed at the Analytic and Translational Genetics Unit (ATGU) at Massachusetts General Hospital (MGH).
                        Our work is in collaboration with the Broad Institute of Harvard and MIT.
                    </p>
                    <div class="container">
                        <div class="row person-row">
                            <div class="col-xs-3 img-container"><img class="img-circle" src="{{ STATIC_URL }}/images/faces/brett.png" alt="Brett"/></div>
                            <div class="col-xs-8">
                                <div class="name">Brett Thomas</div>
                                <div class="bio">
                                    Brett leads the development of xBrowse and serves a variety of roles in software development, strategy and design.
                                    <br>
                                    <a href="mailto://bthomas@broadinstitute.org">Email</a> -
                                    <a href="http://www.linkedin.com/in/brettpthomas">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row person-row">
                            <div class="col-xs-3 img-container"><img class="img-circle" src="{{ STATIC_URL }}/images/faces/daniel.png" alt="Brett"/></div>
                            <div class="col-xs-8">
                                <div class="name">Daniel MacArthur</div>
                                <div class="bio">
                                    Daniel is an Assistant Professor at Harvard Medical School that leads the research for xBrowse.
                                    Much of the science that powers xBrowse is being developed in Daniel's lab.
                                    <br>
                                    <a href="http://www.macarthurlab.org/">Lab Website</a> -
                                    <a href="https://twitter.com/dgmacarthur">Twitter</a> -
                                    <a href="http://www.linkedin.com/in/danielmacarthur">LinkedIn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row person-row">
                            <div class="col-xs-3 img-container"><img class="img-circle" src="{{ STATIC_URL }}/images/faces/mark.png" alt="Brett"/></div>
                            <div class="col-xs-8">
                                <div class="name">Mark Daly</div>
                                <div class="bio">
                                    Mark is the Chief of ATGU and the initial visionary behind xBrowse.
                                    His guidance and support has enabled xBrowse from its inception.
                                    <br>
                                    <a href="http://atgu.mgh.harvard.edu/people/mark-daly">Lab Website</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            </div>
        </div>

    </div>
{% endblock %}