{% extends 'analysispage.html' %}

{% block title %}Project &#187; <span>{{ project }}</span>{% endblock %}
{% block desc %}
    {% if project.description %}
        {{ project.description|linebreaks }}
    {% else %}
        <em>This project does not have a description</em>
    {% endif %}
{% endblock %}

{% block right %}
    <div class="alert alert-info auth-box">
        {% if auth_level == 'public' %}
        <p>This project is <strong>public</strong>; it can be viewed by all xBrowse users.</p>
        {% endif %}
        {% if auth_level == 'admin' %}
            <p>You are a <strong>manager</strong> for this project, so you can edit any of the sample data.</p>
            <p>
                <a href="{% url 'manage_project' project.project_id %}" class="btn btn-primary">Manage Project</a>
            </p>
        {% endif %}
        {% if auth_level == 'editor' %}
            <p>You are an <strong>collaborator</strong> on this project. You can run any analysis and flag results for others to see. </p>
        {% endif %}
        {% if auth_level == 'viewer' %}
            <p>You are a <strong>collaborator</strong> on this project. You can run any analysis, but cannot flag results. </p>
        {% endif %}
    </div>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 project-data">
                <h4 class="section-header">Analysis</h4>
                <div class="row">
                    <div class="col-md-5">
                        <a class="project-data-link" href="{% url 'families' project.project_id %}">{{ project.num_families }} Families</a>
                        <a class="project-data-link" href="{% url 'project_individuals' project.project_id %}">{{ project.num_individuals }} Individuals</a><br>
                        {% if project.has_cohorts %}
                            <a class="project-data-link" href="{% url 'cohorts' project.project_id %}">{{ project.num_cohorts }} Cohorts</a>
                        {% endif %}
                        {% if project.has_family_groups %}
                            <a class="project-data-link" href="{% url 'family_groups' project.project_id %}">{{ project.num_family_groups }} Family Groups</a>
                        {% endif %}
                    </div>
                    
	                {% if has_gene_search %}
	                <div class="col-md-4">
	                    <a class="project-data-link" href="/project/{{project.project_id}}/gene">
	                        Project-wide Gene Search
	                    </a>
	                </div>
	            	{% endif %}
	        	    
                </div>
                <div class="px20"></div>
                <div class="px40"></div>
                <h4 class="section-header">Results</h4>
                <div class="row">
                    <div class="col-md-5">
                		<a class="project-data-link" href="{% url 'causal_variants' project.project_id %}">Causal Variants</a>
                    </div>
                    <div class="col-md-6">
                        <a class="project-data-link" style='padding:5px' href="{% url 'saved_variants' project.project_id %}" style="display:inline">All Tags and Notes</a>
                        
                        {% for tag in project.get_tags %}
                            <div class="tag-list-item">
                                <span style="font-size:10pt; margin-left:10px; {% if tag.get_variant_tags|length > 0 %} font-weight: bold; {% endif %}">{{tag.get_variant_tags|length}}</span> &#8729; 
                                <a class="project-data-link" href="{% url 'variants_with_tag' project.project_id tag.tag %}" style="display:inline">
                                    <i class="fa fa-square" style="color:{{ tag.color }};"></i>  {{ tag.tag }}
                                </a> &nbsp; {{tag.title}}
                            </div>
                        {% endfor %}
                        <h5><a href="{% url 'add_tag' project.project_id %}">Create tag</a></h5>
                    </div>
                </div>
                
                
                {% if phenotips_supported %}
                	<h4 class="section-header">Phenotype entry metrics</h4>
                	<div class="row">
                	</div>
                {% endif %}
                
                
                
            </div>
            <div class="col-sm-4">
                <h4 class="section-header">Project Settings</h4>
                <h5 class="section-header-2">Reference Populations</h5>
                    ESP Europeans <br>
                    ESP AF/AM <br>
                    ATGU Controls <br>
                    1000 Genomes <br>
                {% for p in project.get_private_reference_populations %}
                    {{ p }}
                {% endfor %}
                <h6 class="section-header-2">Gene Lists</h6>
                {% for d in project.get_gene_lists %}
                    {{ d }}<br>
                {% empty %}
                    No gene lists
                {% endfor %}
                <h4 class="section-header">Users</h4>
                <h6 class="section-header-2">Managers</h6>
                {% for u in project.get_managers %}
                    {{ u.profile }} <br>
                {% empty %}
                    No project managers
                {% endfor %}
                <h6 class="section-header-2">Collaborators</h6>
                {% for u, collaborator_type in project.get_users %}
                    {{ u.profile }} <br>
                {% empty %}
                    No collaborators
                {% endfor %}
            </div>
        </div>
    </div>

{% include "javascript.html" %}
    <script type="text/javascript">
    $(document).ready(function(){
        window.bt = new HeadBallCoach();
        window.view = new SimpleTestView();
    });
    </script>

    <div class="modal fade" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}
