{% extends 'analysispage.html' %}

{% block title %}Project &#187; <span>{{ project }}</span>{% endblock %}
{% block desc %}
    {% if project.description %}
        {{ project.description|linebreaks }}
    {% else %}
        <em>This project does not have a description</em>
    {% endif %}
{% endblock %}

{% block right %}
    <div class="alert alert-info auth-box">
        {% if auth_level == 'public' %}
        <p>This project is <strong>public</strong>; it can be viewed by all users.</p>
        {% endif %}
        {% if auth_level == 'admin' %}
            <p>You are a <strong>manager</strong> for this project, so you can edit any of the sample data.</p>
            <p>
                <a href="{% url 'manage_project' project.project_id %}" class="btn btn-primary">Manage Project</a>
            </p>
        {% endif %}
        {% if auth_level == 'editor' %}
            <p>You are an <strong>collaborator</strong> on this project. You can run any analysis and flag results for others to see. </p>
        {% endif %}
        {% if auth_level == 'viewer' %}
            <p>You are a <strong>collaborator</strong> on this project. You can run any analysis, but cannot flag results. </p>
        {% endif %}
    </div>
{% endblock %}

{% block innercontent %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 project-data">
                <h4 class="section-header">Analysis</h4>
                <div class="row">
                    <div class="col-md-4">
                        <a class="project-data-link" href="{% url 'families' project.project_id %}">{{ project.num_families }} Families</a>
                        <a class="project-data-link" href="{% url 'project_individuals' project.project_id %}">{{ project.num_individuals }} Individuals</a><br>
                        {% if project.has_cohorts %}
                            <a class="project-data-link" href="{% url 'cohorts' project.project_id %}">{{ project.num_cohorts }} Cohorts</a>
                        {% endif %}
                        {% if project.has_family_groups %}
                            <a class="project-data-link" href="{% url 'family_groups' project.project_id %}">{{ project.num_family_groups }} Family Groups</a>
                        {% endif %}
                    </div>
                    
	                {% if has_gene_search %}
	                <div class="col-md-4">
	                    <a class="project-data-link" href="/project/{{project.project_id}}/gene">
	                        Project-wide Gene Search
	                    </a>
	                </div>
	            	{% endif %}
	        	    
                </div>
                <div class="px20"></div>
                <div class="px40"></div>
                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                        <a class="project-data-link" style='padding:5px' href="{% url 'saved_variants' project.project_id %}" style="display:inline">All Tags and Notes</a>
                        <div>
                        {% for tag in project.get_tags %}
                            <div class="tag-list-item col-md-8">
                                <span style="font-size:10pt; margin-left:10px; {% if tag.get_variant_tags|length > 0 %} font-weight: bold; {% endif %}">{{tag.get_variant_tags|length}}</span> &#8729; 
                                <a class="project-data-link" href="{% url 'variants_with_tag' project.project_id tag.tag %}" style="display:inline">
                                    <i class="fa fa-square" style="color:{{ tag.color }};"></i>  {{ tag.tag }}
                                </a> &nbsp; {{tag.title}}
                            </div>
                            <div class="col-md-4">
                                {% if auth_level == 'admin' %}
                                    <h5 style="display:inline">
                                    <a href="{% url 'edit_tag' project.project_id tag.tag tag.title %}">edit</a>
                                    <a style="padding-left:5px;" href="{% url 'delete_tag' project.project_id tag.tag tag.title %}" class="delete-tag">
                                        delete</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        <br>
                        </div>
                        {% if auth_level == 'admin' %}
                            <h5 style="margin-left:10px"><a href="{% url 'add_tag' project.project_id %}">create tag</a></h5>
                        {% endif %}
                        <br>
                        <a style="padding:5px;position:relative;left:-15px" href="{% url 'causal_variants' project.project_id %}">Causal Variants [DEPRECATED]</a><br>
                        <br>
                        <br>
                </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h4 class="section-header">Project Settings</h4>
                <h5 class="section-header-2">Reference Populations</h5>
                    1000 Genomes v3<br>
                    ExAC v0.3<br>
                {% for p in project.get_private_reference_populations %}
                    {{ p }}
                {% endfor %}
                <h6 class="section-header-2">Gene Lists</h6>
                {% for d in project.get_gene_lists %}
                    {{ d }}<br>
                {% empty %}
                    No gene lists
                {% endfor %}
                <h4 class="section-header">Users</h4>
                <h6 class="section-header-2">Managers</h6>
                {% for u in project.get_managers %}
                    {{ u.profile }} <br>
                {% empty %}
                    No project managers
                {% endfor %}
                <h6 class="section-header-2">Collaborators</h6>
                {% for u, collaborator_type in project.get_users %}
                    {{ u.profile }} <br>
                {% empty %}
                    No collaborators
                {% endfor %}
            </div>
        </div>
            <div class="row">
            {% if phenotips_supported %}
    	    	<button type="button" id="showPhenotypeEntryMetrics" 
    	    			class="btn btn-primary btn-info">	    			
    	    		Phenotype entry report (might take a few seconds to generate..)
    	    	</button> 
     	    {% endif %}
    </div>

    </div>
    

{% include "javascript.html" %}
    <script>

        $('.delete-tag').click(function (e){
            if( confirm("Are you sure you want to delete this tag? ") != true ){
                e.preventDefault();
                if(e.stopPropagation){
                    e.stopPropagation();
                }
                e.cancelBubble=true;
            }
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function(){
        window.bt = new HeadBallCoach();
        window.view = new SimpleTestView();
    });
    </script>

	<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>

    <script>                       
    $("#showPhenotypeEntryMetrics").click(function(){
            	 //first clear old data
            	 $('#phenotypeEntryCountTable tbody').empty();
            	 $('#phenotypeCoumtSumryTbl tbody').empty();
            	 var bins={
            		   '0':{'count':0,'affected':0,'unaffected':0},
            		   '1-5':{'count':0,'affected':0,'unaffected':0},
          			   '6-10':{'count':0,'affected':0,'unaffected':0},
          			   '11-15':{'count':0,'affected':0,'unaffected':0},
          			   '16-20':{'count':0,'affected':0,'unaffected':0},
          			   '>20':{'count':0,'affected':0,'unaffected':0}
          			   };
   				 $.ajax({
   					 url: "/api/reports/individuals/project/{{ project.project_id }}", 
   					 success: function(result){
   						 var totalAffected=0;
   						 var totalUnaffected=0;
   		            	 for (var c in result['phenotype_entry_counts']){
   		            		 var individual=c;
   		            		 var count=result['phenotype_entry_counts'][c]['count'];
   		            		 var clinicalStatus=result['phenotype_entry_counts'][c]['clinicalStatus'];
   		            		 var family_id=result['phenotype_entry_counts'][c]['family_id'];
   		            		 var familyPageUrl= "/project/{{ project.project_id }}/family/" + family_id; 
   		            		 var html = "<tr>";
   		            		 html += "<td><p><a href='" + familyPageUrl  +"'>"+ family_id +"</a></p></td>";
   		            		 html += "<td><p>"+ individual +"</p></td>";
   		            		 html += "<td><p>"+ clinicalStatus  +"</p></td>";
   		            		 html += "<td><p>"+ count  +"</p></td>";  		            		 
   		            		 html += "</tr>";
   		            		$('#phenotypeEntryCountTable tbody').append(html);
   		            		if (clinicalStatus == 'affected'){
   		            			totalAffected+=1;
   		            		}
   		            		if (clinicalStatus == 'unaffected'){
   		            			totalUnaffected+=1;
   		            		}
   		            		//bin entry counts for summary
   		            		if (count==0){
   	            				 bins['0']['count']+=1;
   	            				 if (clinicalStatus == 'affected'){
   	            					bins['0']['affected']+=1;
   	            				 }
   	            				 if (clinicalStatus == 'unaffected'){
    	            					bins['0']['unaffected']+=1;
    	            				 }
   	            		 	}
   		            		else if (count>0 && count<=5){
   	            				 bins['1-5']['count']+=1;
   	            				 if (clinicalStatus == 'affected'){
   	            					bins['1-5']['affected']+=1;
   	            				 }
   	            				 if (clinicalStatus == 'unaffected'){
    	            					bins['1-5']['unaffected']+=1;
    	            				 }
   	            		 	}
   	            		 	else if (count>=6 && count<=10){
   	            				 bins['6-10']['count']+=1;
   	            				 if (clinicalStatus == 'affected'){
    	            					bins['6-10']['affected']+=1;
    	            				 }
    	            				 if (clinicalStatus == 'unaffected'){
     	            					bins['6-10']['unaffected']+=1;
     	            				 }
   	            		 	}
   	            		 	else if (count>=11 && count<=15){
   	            				 bins['11-15']['count']+=1;
   	            				 if (clinicalStatus == 'affected'){
    	            					bins['11-15']['affected']+=1;
    	            				 }
    	            				 if (clinicalStatus == 'unaffected'){
     	            					bins['11-15']['unaffected']+=1;
     	            				 }
   	            		 	}
   	            		 	else if (count>=16 && count<=20){
   	            				 bins['16-20']['count']+=1;
   	            				 if (clinicalStatus == 'affected'){
    	            					bins['16-20']['affected']+=1;
    	            				 }
    	            				 if (clinicalStatus == 'unaffected'){
     	            					bins['16-20']['unaffected']+=1;
     	            				 }
   	            		 	}
   	            		 	else if (count>20){
   	            				 bins['>20']['count']+=1;
   	            				 if (clinicalStatus == 'affected'){
    	            					bins['>20']['affected']+=1;
    	            				 }
    	            				 if (clinicalStatus == 'unaffected'){
     	            					bins['>20']['unaffected']+=1;
     	            				 }
   	            		 	}
   		            	 }
       		             //add to table: counts
       		             html='<tr>';
       		             html += '<td><p>Number of individuals</p></td>';
       		             html += '<td><p>' + bins['0']['count']  + '</p></td>';
       		             html += '<td><p>' + totalUnaffected  + '</p></td>';
       		             html += '<td><p>' + bins['1-5']['count']  + '</p></td>';
       		          	 html += '<td><p>' + bins['6-10']['count']  + '</p></td>';
       		             html += '<td><p>' + bins['11-15']['count']  + '</p></td>';
       		             html += '<td><p>' + bins['16-20']['count']  + '</p></td>';
       		             html += '<td><p>' + bins['>20']['count']  + '</p></td>';
       		             html += '</tr>';
       		             $('#phenotypeCoumtSumryTbl tbody').append(html);
    				},
    				async: false
    				});
   	             $(document).ready(function() {
   	                 $('#phenotypeEntryCountTable').DataTable();
   	             } );
   	             //reset "loading" message and open modal
   	             $('#phenotypeEntryReportModal').modal('show');
					});    
             </script>
    
 <!-- Modal -->
 <div id="phenotypeEntryReportModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Phenotype entry metrics</h4>
      </div>
      <div class="modal-body">
			<h4 class="section-header">Entry metric summary</h4>
            <div class="row">
            	<table id="phenotypeCoumtSumryTbl" class="table table-hover">
            		<thead>
                	<tr>
                		<td><p>Bins of HPO counts<p></td>
                		<td><p>0<p></td>
                		<td><p>Unaffected<p></td>
                		<td><p>1 to 5</p></td>
                		<td><p>6 to 10</p></td>
                		<td><p>11 to 15</p></td>
                		<td><p>16 to 20</p></td>
                		<td><p>>20</p></td>
                	</tr>
                	</thead>
                	<tbody>
                	</tbody>
               </table>
            </div>
             <h4 class="section-header">Entry metrics in detail by individual</h4>
             <div id="report">
             </div>
                	<div class="row">
                		<table id="phenotypeEntryCountTable" class="table table-sm table-hover table-condensed table-striped">
                			<thead>
                			<tr>
                				<th><p>Family ID<p></th>
                				<th><p>Individual<p></th>
                				<th><p>Clinical Status<p></th>
                				<th><p>Number of phenotypes entered<p></th>
                			</tr>
                			</thead>
                			<tbody>
                			</tbody>
                		</table>
                	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
 </div>
{% endblock %}
