{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <table class="table table-responsive">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {% for u in users %}
                <tr>
                    <td><a href="{% url 'user_summary' u.username %}">{{ u.username }}</a></td>
                    <td>{{ u.profile.display_name }}</td>
                    <td>{{ u.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}