@import "responsive.scss";

@media (max-width: 767px) {
    body {
        padding: 0;
    }
}

@mixin greytext() {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  font-weight: bold;
}

body {
  font-family: 'Lato';
  font-weight: 300;
  padding-bottom: 50px;
  color: #111;
}

.modal-dialog {
  width: 95%;
}

h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 12px;
  font-weight: 800;
}

h2 {
  font-weight: 800;
  font-size: 24px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 24px;
}

* {
  word-wrap: break-word;
}

.pageheader {
  padding: 40px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #EEE;
  background: rgba(0, 0, 0, 0.03);
  .small {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.3em;
  }
  .title {
    position: relative;
    left: -2px;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.0em;
    padding-bottom: 8px;
    span {
      font-weight: bold;
    }
  }
  .right {
    float: right;
    max-width: 300px;
  }
}


.section-header {
  padding-top: 8px;
  padding-bottom: 6px;
  margin: 8px 0 15px 0;
  border-bottom: 1px solid #EEE;
}

.annot-panel-content {
  padding: 12px;
}
.annot-section-title {
  font-weight: bold;
  padding: 5px 0 3px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 6px;
  clear: both;
}
.annot-section-content {
}

.panel-heading a {
  display: block;
}

#modal-inner {
  overflow: auto;
}

.modal-controls-top {
  padding: 6px;
}

#modal-queue-content {
  padding-top: 0;
}


.wide-table-container {
  box-sizing: border-box;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px;
}
.wide-table {
  table-layout: fixed;
  margin: 0 auto;
}

a.external-link i {
  font-size: 10px;
  vertical-align: text-top;
}

.tt-dropdown-menu {
  z-index: 1000 !important;
}

#headerbar {
  overflow: auto;
  background: black;
  height: 50px;
}

#headerbar-right-links {
	padding: 15px 20px;
	color: white;

  @include mobile-portrait-and-up { text-align: right; }
}

.inheritance-pills-container {
  margin-bottom: 30px;
}

.search-type-container {
  .big-description {
    strong {
      font-style: italic;
    }
  }
}

.standard-inheritance-form {
  padding-left: 10px;
  .radio {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  label {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
  }
}

i.redcircle {
  color: rgba(255, 0, 0, .7);
  font-size: 10px;
}

i.yellowcircle {
  color: rgba(255, 240, 80, 0.7);
  font-size: 10px;
}

i.greencircle {
  color: rgba(59, 204, 59, 0.7);
  font-size: 10px;
}

#underconstruction {
  background: rgba(255, 48, 48, 0.8);
  color: white;
  text-align: center;
  padding: 30px 0;
  .title {
    font-size: 40px;
    font-weight: 800;
  }
  .desc {}
}

.variant-actions-container {
  a.show-in-igv {
  }
}

.search-controls {
  text-align: center;
  margin-top: 20px;
}

.diag-section {
  text-align: right;
  text-transform: uppercase;
}

.cnvs-table {
  th, td {
    padding: 3px;
    border-top: none !important;
  }
}

.gene-diagnostic-view {
  h2 {
    border-bottom: none;
    color: #777;
  }
}

.gene-diagnostic-view.has-variants {
  .diagnostic-info-row {
    padding: 12px 0;
  }
  .diag-section {
    font-weight: bold;
  }
}

.gene-diagnostic-view.has-variants {
  h2 {
    color: #0019D4;
  }
}

.basic-variants-list {
  text-align: center;
  .basicvariant-container {
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 6px;
  }
}

.basic-variants-list.leftalign {
  text-align: left;
}


.basicvariant-container.highlighted {
  background: #FAE6E6;
  border: none;
}

.basicvariant {
  overflow: auto;
  display: inline-block;
  text-align: left;
  .highlight-msg {
    padding-top: 20px;
    color: #666;
    font-size: 14px;
  }
  .leftview {
    float: left;
    padding-right: 20px;
  }
  .icons {
    width: 40px;
  }
  .cell {
    padding: 8px 4px;
    clear: right;
    min-height: 20px;
    display: inline-block;
    vertical-align: top;
  }
  .genes {
    width: 130px;
    .gene-link {
      font-size: 20px;
      font-weight: bold;
    }
    .highlights {
      font-size: 14px;
      span.name {
        font-size: 10px;
        text-transform: uppercase;
        color: #999;
        font-weight: bold;
        padding-right: 5px;
      }
    }
  }
  .location {
    width: 140px;
  }
  .annotations {
    width: 130px;
  }
  .predictions {
    width: 240px;
    @include tablet-landscape-and-below {
      clear: left;
    }
    span {
      text-transform: uppercase;
      font-size: 10px;
      color: #999;
      font-weight: bold;
      padding-right: 5px;
    }
    span.followup {
      padding-left: 20px;
      font-style: italic;
      font-weight: normal;
      position: relative;
      top: -5px;
    }
  }
  .frequencies {
    width: 180px;
    span {
      text-transform: uppercase;
      font-size: 10px;
      color: #999;
      font-weight: bold;
      padding-right: 5px;
    }
    span.followup {
      padding-left: 20px;
      font-style: italic;
      font-weight: normal;
      position: relative;
      top: -5px;
    }
  }
  .genotypes {
    display: inline-block;
    @include tablet-landscape-and-below {
      clear: both;
      padding-top: 8px;
      margin-top: 8px;
    }
    .allele-display {
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .geno-cell:first-child {
      clear: left;
    }
    .geno-cell {
      width: 85px;
      font-size: 12px;
      text-transform: uppercase;
      .genotype-icon-container {
        //border-bottom: 1px solid #eee;
        padding-bottom: 4px;
        margin-bottom: 2px;
        text-transform: uppercase;
        font-size: 10px;
        color: #999;
        font-weight: bold;
      }
      span.gq {
        font-size: 9px;
      }

    }
    .alt-allele {
      font-weight: 800;
      font-size: 16px;
      position: relative;
    }
    .other-allele {
      font-weight: 800;
      color: #888;
      font-style: italic;
    }
  }
  .icons {
    text-align: right;
    padding-top: 3px;
    i {
      color: #A0A0A0;
      font-size: 18px;
      padding: 1px;
    }
  }
  .actions {
    .action {
      margin-bottom: 4px;
    }
  }
}

.variantrow {
  padding: 6px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}
.family-id-container {
  padding: 8px;
  text-align: center;
}
.notes-container {
  padding: 8px;
}

.greytext {
  @include greytext();
}

.indiv-gene-coverage-container {
  overflow: auto;
}

.indiv-gene-coverage {
  float: left;
  padding: 0 8px;
  width: 150px;
  text-align: center;
  .individual {
    font-weight: bold;
    color: #999;
    font-size: 14px;
  }
  div.percentage {
    font-weight: bold;
    padding-right: 6px;
  }
  span.callable {
    color: green;
  }
  span.low_coverage {
    color: red;
  }
  span.poor_mapping {
    color: grey;
  }
  .total {
  }
}

.annotation-view {
  .annotation {
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
  }
  .transcript {
    .title {
      font-weight: bold;
      font-size: 18px;
    }
    text-align: right;
  }
  .consequence {
    font-size: 18px;
  }
  .details {
    overflow: auto;
    span {
      font-size: 10px;
      color: #999;
      font-weight: bold;
      padding-right: 5px;
    }
    .detail {
      float: left;
      padding-right: 30px;
    }
  }
}

.section-header-2 {
    font-size: 18px;
    color: #777;
    background: white;
    margin: 4px 0;
    font-weight: bold;
    width: 100%;
    display: block;
    padding-top: 10px;
}

.separator {
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}

.px20 {
  margin: 10px 0;
}

.px40 {
  margin: 20px 0;
}

.tags {
  padding: 6px 0;
}

.project-data {
  font-size: 18px;
  .data-label {
    padding: 10px 30px 5px 0;
    color: #666;
    text-align: right;
  }
  .project-data-link {
    display: block;
    padding: 10px 0 5px 0;
    font-weight: bold;
  }
}


#family-image-slides {
  .item {
    padding: 8% 22%;
    box-sizing: border-box;
  }
  .carousel-control {
    color: #444;
    background: none;
    i {
      position: absolute;
      top: 220px;
      font-size: 35px;
    }
  }
  .carousel-caption {
    padding-bottom: 0px;
    text-shadow: none;
    color: #222;
  }
}
