#fountainG {
  position: relative;
  width: 157px;
  height: 19px; }

.fountainG {
  position: absolute;
  top: 0;
  background-color: #2267F0;
  width: 19px;
  height: 19px;
  -moz-animation-name: bounce_fountainG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(0.3);
  -moz-border-radius: 13px;
  -webkit-animation-name: bounce_fountainG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.3);
  -webkit-border-radius: 13px;
  -ms-animation-name: bounce_fountainG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(0.3);
  -ms-border-radius: 13px;
  -o-animation-name: bounce_fountainG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-transform: scale(0.3);
  -o-border-radius: 13px;
  animation-name: bounce_fountainG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(0.3);
  border-radius: 13px; }

#fountainG_1 {
  left: 0;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s; }

#fountainG_2 {
  left: 20px;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s; }

#fountainG_3 {
  left: 39px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s; }

#fountainG_4 {
  left: 59px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s; }

#fountainG_5 {
  left: 79px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s; }

#fountainG_6 {
  left: 98px;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s; }

#fountainG_7 {
  left: 118px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s; }

#fountainG_8 {
  left: 137px;
  -moz-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  animation-delay: 1.43s; }

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -moz-transform: scale(0.3);
    background-color: #FFFFFF; } }

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -webkit-transform: scale(0.3);
    background-color: #FFFFFF; } }

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -ms-transform: scale(0.3);
    background-color: #FFFFFF; } }

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -o-transform: scale(0.3);
    background-color: #FFFFFF; } }

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: #2267F0; }

  100% {
    transform: scale(0.3);
    background-color: #FFFFFF; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato'; }

h1, h2, h3, h4 {
  font-weight: 300; }

@media (max-width: 767px) {
  body {
    padding: 0; } }

body {
  font-family: 'Lato';
  font-weight: 300;
  color: #111; }

.modal-dialog {
  width: 95%; }

h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 12px;
  font-weight: 800; }

h2 {
  font-weight: 800;
  font-size: 24px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 6px;
  margin-bottom: 10px; }

h3 {
  font-weight: 24px; }

* {
  word-wrap: break-word; }

.pageheader {
  padding: 40px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #EEE;
  background: rgba(0, 0, 0, 0.03); }
  .pageheader .small {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.3em; }
  .pageheader .title {
    position: relative;
    left: -2px;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.0em;
    padding-bottom: 8px; }
    .pageheader .title span {
      font-weight: bold; }
  .pageheader .right {
    float: right;
    max-width: 300px;
    text-align: right; }
    .pageheader .right .btn {
      padding-top: 2px;
      padding-bottom: 2px;
      margin-bottom: 3px; }

.section-header {
  padding-top: 8px;
  padding-bottom: 6px;
  margin: 8px 0 15px 0;
  border-bottom: 1px solid #EEE; }

.annot-panel-content {
  padding: 12px; }

.annot-section-title {
  font-weight: bold;
  padding: 5px 0 3px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 6px;
  clear: both; }

.panel-heading a {
  display: block; }

#modal-inner {
  overflow: auto; }

.modal-controls-top {
  padding: 6px; }

#modal-queue-content {
  padding-top: 0; }

.wide-table-container {
  box-sizing: border-box;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px; }

.wide-table {
  table-layout: fixed;
  margin: 0 auto; }

a.external-link i {
  font-size: 10px;
  vertical-align: text-top; }

.tt-dropdown-menu {
  z-index: 1000 !important; }

#headerbar {
  overflow: auto;
  background: black;
  height: 50px; }

#headerbar-right-links {
  padding: 15px 20px;
  color: white; }
  @media (min-width: 320px) {
    #headerbar-right-links {
      text-align: right; } }

html, body, #main {
  height:100%; }

#main {
  height: auto;
  min-height: 100%;
  padding-bottom: 130px;
}


/* Footer css based on http://www.lwis.net/journal/2008/02/08/pure-css-sticky-footer/ */
#footerbar {
  clear: both;
  position: relative;
  z-index: 10;
  height: 40px;
  margin-top: -40px;
  background: #EEE; }

.inheritance-pills-container {
  margin-bottom: 30px; }

.search-type-container .big-description strong {
  font-style: italic; }

.standard-inheritance-form {
  padding-left: 10px; }
  .standard-inheritance-form .radio {
    margin-top: 12px;
    margin-bottom: 12px; }
  .standard-inheritance-form label {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0; }

i.redcircle {
  color: rgba(255, 0, 0, 0.7);
  font-size: 10px; }

i.yellowcircle {
  color: rgba(255, 240, 80, 0.7);
  font-size: 10px; }

i.greencircle {
  color: rgba(59, 204, 59, 0.7);
  font-size: 10px; }

#underconstruction {
  background: rgba(255, 48, 48, 0.8);
  color: white;
  text-align: center;
  padding: 30px 0; }
  #underconstruction .title {
    font-size: 40px;
    font-weight: 800; }

.search-controls {
  text-align: center;
  margin-top: 20px; }

.diag-section {
  text-align: right;
  text-transform: uppercase; }

.cnvs-table th, .cnvs-table td {
  padding: 3px;
  border-top: none !important; }

.gene-diagnostic-view h2 {
  border-bottom: none;
  color: #777; }

.gene-diagnostic-view.has-variants .diagnostic-info-row {
  padding: 12px 0; }
.gene-diagnostic-view.has-variants .diag-section {
  font-weight: bold; }

.gene-diagnostic-view.has-variants h2 {
  color: #0019D4; }

.igv-container {
  text-align: left;
}
.saved-variant-row .igv-container {
  position: relative; left: -300px; width: 120%;
}

.basic-variants-list {
  text-align: center; }
  .basic-variants-list .basicvariant-container {
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    padding: 6px; }

.basic-variants-list.leftalign {
  text-align: left; }

.basicvariant-container.highlighted {
  background: #FAE6E6;
  border: none; }

.basicvariant {
  overflow: auto;
  display: inline-block;
  text-align: left; }
  .basicvariant .highlight-msg {
    padding-top: 20px;
    color: #666;
    font-size: 14px; }
  .basicvariant .leftview {
    float: left;
    padding-right: 20px; }
  .basicvariant .icons {
    width: 40px; }
  .basicvariant .cell {
    padding: 8px 4px;
    clear: right;
    min-height: 20px;
    display: inline-block;
    vertical-align: top; }
  .basicvariant .genes {
    width: 130px; }
    .basicvariant .genes .gene-link {
      font-size: 20px;
      font-weight: bold; }
    .basicvariant .genes .highlights {
      font-size: 14px; }
      .basicvariant .genes .highlights span.name {
        font-size: 10px;
        text-transform: uppercase;
        color: #999;
        font-weight: bold;
        padding-right: 5px; }
  .basicvariant .location {
    width: 140px;
  }

    .basicvariant .annotations {
      width: 150px;
    }
    .basicvariant .annotations span {
      font-size: 12px;
      color: #999;
      font-weight: bold;
      padding-right: 5px;
    }
    .basicvariant .annotations span.followup {
      padding-left: 20px;
      font-style: italic;
      font-weight: normal;
      position: relative;
      top: -5px;
    }

  .basicvariant .predictions {
    width: 240px; }
    @media only screen and (max-width: 1024px) {
      .basicvariant .predictions {
        clear: left; } }
    .basicvariant .predictions span {
      text-transform: uppercase;
      font-size: 10px;
      color: #999;
      font-weight: bold;
      padding-right: 5px; }
    .basicvariant .predictions span.followup {
      padding-left: 20px;
      font-style: italic;
      font-weight: normal;
      position: relative;
      top: -5px; }
  .basicvariant .frequencies {
    width: 180px; }
    .basicvariant .frequencies span {
      text-transform: uppercase;
      font-size: 10px;
      color: #999;
      font-weight: bold;
      padding-right: 5px; }
    .basicvariant .frequencies span.followup {
      padding-left: 20px;
      font-style: italic;
      font-weight: normal;
      position: relative;
      top: -5px; }
  .basicvariant .genotypes {
    display: inline-block; }
    @media only screen and (max-width: 1024px) {
      .basicvariant .genotypes {
        clear: both;
        padding-top: 8px;
        margin-top: 8px; } }
    .basicvariant .genotypes .allele-display {
      max-width: 75px;
      overflow: hidden;
      text-overflow: ellipsis; }
    .basicvariant .genotypes .geno-cell:first-child {
      clear: left; }
    .basicvariant .genotypes .geno-cell {
      width: 85px;
      font-size: 12px;
      text-transform: uppercase; }
      .basicvariant .genotypes .geno-cell .genotype-icon-container {
        padding-bottom: 4px;
        margin-bottom: 2px;
        text-transform: uppercase;
        font-size: 10px;
        color: #999;
        font-weight: bold; }
      .basicvariant .genotypes .geno-cell span.gq {
        font-size: 9px; }
    .basicvariant .genotypes .alt-allele {
      font-weight: 800;
      color: #888;
      font-style: italic;
      position: relative; }
    .basicvariant .genotypes .other-allele {
      font-weight: 800;
      color: #888;
      font-style: italic; }
  .basicvariant .icons {
    text-align: right;
    padding-top: 3px; }
    .basicvariant .icons i {
      color: #A0A0A0;
      font-size: 18px;
      padding: 1px; }
  .basicvariant .actions .action {
    margin-bottom: 4px; }

.variantrow {
  padding: 6px;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd; }

.family-id-container {
  padding: 8px;
  text-align: center; }

.notes-container {
  padding: 8px; }
    .notes-container .name {
        font-weight: bold; }
    .notes-container .date {
        font-size: 11px;
        text-transform: uppercase;
        color: #666; }
    .notes-container .flagtype {
        font-style: italic; }


.greytext {
  text-transform: uppercase;
  font-size: 10px;
  color: #999;
  font-weight: bold; }

.indiv-gene-coverage-container {
  overflow: auto; }

.indiv-gene-coverage {
  float: left;
  padding: 0 8px;
  width: 150px;
  text-align: center; }
  .indiv-gene-coverage .individual {
    font-weight: bold;
    color: #999;
    font-size: 14px; }
  .indiv-gene-coverage div.percentage {
    font-weight: bold;
    padding-right: 6px; }
  .indiv-gene-coverage span.callable {
    color: green; }
  .indiv-gene-coverage span.low_coverage {
    color: red; }
  .indiv-gene-coverage span.poor_mapping {
    color: grey; }

.annotation-view .annotation {
  padding: 5px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee; }
.annotation-view .transcript {
  text-align: right; }
  .annotation-view .transcript .title {
    font-weight: bold;
    font-size: 18px; }
.annotation-view .consequence {
  font-size: 18px; }
.annotation-view .details {
  overflow: auto; }
  .annotation-view .details span {
    font-size: 10px;
    color: #999;
    font-weight: bold;
    padding-right: 5px; }
  .annotation-view .details .detail {
    float: left;
    padding-right: 30px; }

.section-header-2 {
  font-size: 18px;
  color: #777;
  background: white;
  margin: 4px 0;
  font-weight: bold;
  width: 100%;
  display: block;
  padding-top: 10px; }

.separator {
  margin: 10px 0;
  border-bottom: 1px solid #eee; }

.px20 {
  margin: 10px 0; }

.px40 {
  margin: 20px 0; }

.tags {
  padding: 6px 0; }

.project-data {
  font-size: 16px; }
  .project-data .data-label {
    padding: 10px 30px 5px 0;
    color: #666;
    text-align: right; }
  .project-data .project-data-link {
    display: block;
    padding: 10px 0 5px 0;
    font-weight: bold; }

#family-image-slides .item {
  padding: 8% 22%;
  box-sizing: border-box; }
  #family-image-slides .item img {
    max-height: 400px; }
#family-image-slides .carousel-control {
  color: #444;
  background: none; }
  #family-image-slides .carousel-control i {
    position: absolute;
    top: 220px;
    font-size: 35px; }
#family-image-slides .carousel-caption {
  padding-bottom: 0px;
  text-shadow: none;
  color: #222; }

#fountainG {
  margin: 0 auto; }

#fountainG {
  position: relative;
  width: 157px;
  height: 19px; }

.fountainG {
  position: absolute;
  top: 0;
  background-color: #2267F0;
  width: 19px;
  height: 19px;
  -moz-animation-name: bounce_fountainG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -moz-transform: scale(0.3);
  -moz-border-radius: 13px;
  -webkit-animation-name: bounce_fountainG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -webkit-transform: scale(0.3);
  -webkit-border-radius: 13px;
  -ms-animation-name: bounce_fountainG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -ms-transform: scale(0.3);
  -ms-border-radius: 13px;
  -o-animation-name: bounce_fountainG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  -o-transform: scale(0.3);
  -o-border-radius: 13px;
  animation-name: bounce_fountainG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  transform: scale(0.3);
  border-radius: 13px; }

#fountainG_1 {
  left: 0;
  -moz-animation-delay: 0.52s;
  -webkit-animation-delay: 0.52s;
  -ms-animation-delay: 0.52s;
  -o-animation-delay: 0.52s;
  animation-delay: 0.52s; }

#fountainG_2 {
  left: 20px;
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  -ms-animation-delay: 0.65s;
  -o-animation-delay: 0.65s;
  animation-delay: 0.65s; }

#fountainG_3 {
  left: 39px;
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s; }

#fountainG_4 {
  left: 59px;
  -moz-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  animation-delay: 0.91s; }

#fountainG_5 {
  left: 79px;
  -moz-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  animation-delay: 1.04s; }

#fountainG_6 {
  left: 98px;
  -moz-animation-delay: 1.17s;
  -webkit-animation-delay: 1.17s;
  -ms-animation-delay: 1.17s;
  -o-animation-delay: 1.17s;
  animation-delay: 1.17s; }

#fountainG_7 {
  left: 118px;
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s; }

#fountainG_8 {
  left: 137px;
  -moz-animation-delay: 1.43s;
  -webkit-animation-delay: 1.43s;
  -ms-animation-delay: 1.43s;
  -o-animation-delay: 1.43s;
  animation-delay: 1.43s; }

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -moz-transform: scale(0.3);
    background-color: #FFFFFF; } }

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -webkit-transform: scale(0.3);
    background-color: #FFFFFF; } }

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -ms-transform: scale(0.3);
    background-color: #FFFFFF; } }

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: #2267F0; }

  100% {
    -o-transform: scale(0.3);
    background-color: #FFFFFF; } }

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: #2267F0; }

  100% {
    transform: scale(0.3);
    background-color: #FFFFFF; } }

.docs-content p {
  font-size: 14px; }

.seqr-font {
  font-family: 'Open Sans', sans-serif; 
}

.landing-page {
  font-size: 16px;
  color: #111111;
  text-align: center; }
  .landing-page .section {
    padding: 35px 0;
    border-top: 1px solid #dddddd; }
  .landing-page .section:nth-child(odd) {
    background: #f8f8f8; }
  .landing-page .grabber {
    font-size: 80px;
    line-height: 1.0em;
    font-weight: 300;
    padding: 30px 0 30px 0; }
    @media (max-width: 480px) {
      .landing-page .grabber {
        font-size: 50px; } }
  .landing-page .grabber-subhead {
    font-size: 24px;
    font-weight: 300;
    margin: 0 auto;
    line-height: 1.3em;
    padding-bottom: 20px; }
    @media (max-width: 480px) {
      .landing-page .grabber-subhead {
        font-size: 18px; } }
  .landing-page .login {
    font-size: 18px;
    padding: 20px 0 30px 0; }
  .landing-page .sectiontitle {
    line-height: 1.3em;
    font-size: 48px;
    padding: 10px 0; }
  .landing-page p {
    line-height: 1.4em;
    padding: 16px 0 8px 0; }
  .landing-page .teaser {
    margin: 30px 0;
    border-bottom: 1px solid #dddddd; }
    .landing-page .teaser span {
      font-size: 24px;
      font-weight: 300;
      padding: 10px 30px;
      background: #f8f8f8;
      position: relative;
      top: 12px;
      font-style: italic; }
  .landing-page .person-row {
    text-align: left;
    padding: 20px 0; }
    .landing-page .person-row .name {
      font-weight: bold;
      font-size: 20px;
      padding: 18px 0 10px 0; }
    .landing-page .person-row .bio {
      font-size: 16px; }
    .landing-page .person-row .img-container {
      text-align: right;
      position: relative;
      left: 8px;
      top: 8px; }
    .landing-page .person-row img {
      max-width: 100px;
      border: 1px solid #aaa; 
      border-radius:50%;}
  .landing-page .user-types {
    padding-bottom: 30px; }
  .landing-page .user-type {
    text-align: center;
    font-size: 16px;
    padding: 5px 10px; }
    .landing-page .user-type img {
      width: 120px;
      padding: 20px 0; }
    .landing-page .user-type .desc {
      line-height: 1.3em; }
      .landing-page .user-type .desc span {
        font-weight: 800; }
  .landing-page ul.feature-list {
    text-align: left;
    padding-bottom: 8px;
    font-size: 16px; }
    .landing-page ul.feature-list li {
      line-height: 1.4em;
      padding: 5px 0; }

.popover {
  max-width: 400px;
  min-width: 350px; }

#qualSlider {
  margin-bottom: 20px; }

#pedGraph {
  width: 65%;
  float: left;
  text-align: center; }

.graphSampleId {
  font-size: 14px; }

.graphSampleIdHover {
  font-size: 16px;
  font-weight: bold; }

#pedForm {
  width: 100%;
  text-align: center; }

#pedFormLinks {
  text-align: center; }

.indivContainer {
  padding: 10px 18px;
  text-align: center;
  display: inline;
  float: left; }

.dlTitle {
  text-align: center;
  padding-bottom: 10px;
  font-style: italic;
  color: #999; }

.regSelect {
  width: 80%;
  margin: 5px auto; }

.basicSelect {
  margin: 8px auto; }

.input-polyphen-checkbox {
  color: #aaa; }

.familyContainer {
  overflow: auto;
  clear: both;
  padding: 10px 0;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  margin-bottom: 20px; }

.familyContainerTitle span {
  font-weight: bold; }

.cursor {
  cursor: pointer; }

.setWholeFamily {
  clear: both;
  font-style: italic;
  padding: 8px 20px;
  overflow: auto; }

.setWholeFamily label {
  float: left;
  padding-right: 12px;
  padding-top: 4px;
  color: #aaa; }

.setWholeFamily select {
  float: left; }

.mustPassLabel {
  text-align: center;
  font-weight: bold; }

a.pointer {
  cursor: pointer; }

.familyListTitle {
  text-align: center; }

.leftalign {
  text-align: left; }

/*****************************/
label, input, button, select, textarea {
  font-weight: 300; }

#header {
  height: 55px;
  z-index: 1; }

table.table-big th, table.table-big td {
  padding: 14px; }

family-table {
    width: 65%;
    display:inline-table;
}

family-table-wide {
    width: 100%;
    display:block;
}

#logo-container {
  padding-top: 15px; }
  #logo-container a {
    color: white;
    font-weight: 400;
    font-size: 18px; }
  #logo-container a:hover {
    text-decoration: none; }

#header-right {
  float: right;
  padding-top: 30px; }

.bigtext {
  font-size: 14px;
  padding: 5px 0; }

a {
  cursor: pointer; }

.section-header-link {
  float: right; }

.centered {
  text-align: center; }

ul.breadcrumb li.active {
  font-weight: bold; }


.indiv-table, .milestone-table {
  width: 90%;
  margin: 0 auto; }

.right-sidebar-biglinks {
  padding-top: 50px;
  text-align: center; }

.right-sidebar-biglinks a.btn {
  margin-bottom: 20px;
  min-width: 160px; }

.left-select-container select {
  margin: 10px 0; }

.left-select-container {
  text-align: center; }

.left-select-container p.desc {
  padding: 10px 20px; }

#include-individuals-table {
  margin-top: 12px; }

.browse-search-controls {
  text-align: center;
  padding: 20px; }

.lefttext {
  padding-right: 10px;
  padding-top: 14px;
  text-align: right;
  clear: both; }

[class*="ratio"] {
  float: left; }

.ratio25 {
  width: 25%; }

.ratio50 {
  width: 50%; }

.ratio40 {
  width: 40%; }

.ratio70 {
  width: 70%; }

.ratio75 {
  width: 75%; }

#search-results {
  font-size: 16px; }

.header-options-right {
  float: right;
  font-weight: normal; }

.welcome-account-alert {
  margin-top: 25px; }

.button-center {
  text-align: center;
  padding: 10px; }

.results-table-controls ul {
  padding: 8px 0; }

.results-table-controls h5 {
  text-align: center; }

#search-loading {
  margin: 0 auto; }

#include-individuals-table {
  width: 100%; }

.clearfix {
  clear: both; }

.clinical-details {
  overflow: auto; }

.pedigree-image-container {
  float: left;
  width: 80%;
  padding: 0px 20px 0px 0px;
  border: 0px solid #eee;
  border-radius: 5px; }

.pedigree-image-container img {
  max-width: 100%;
  max-height: 100%; }

.bold {
  font-weight: bold; }

.families-table-project label.checkbox {
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  font-size: 11px; }

.families-table-family {
  margin-left: 20px; }

#no-results {
  margin: 20px;
  text-align: center;
  font-weight: bold; }

label.annot-child {
  margin-left: 30px; }

.annot-input-container {
  padding: 5px 20px 5px 10px;
  overflow: auto; }

.annot-input-view {
  margin: 0 auto; }

.toggle-annotation-details-container {
  font-weight: bold;
  float: left;
  margin: 10px 10px 10px 0;
  clear: left; }

div.annot-parent-container {
  float: left;
  white-space: nowrap; }

div.annotation-details {
  clear: both; }

.variant-selector-box {
  float: left;
  padding: 5px 20px 5px 0; }

.variant-selector-box .title {
  font-weight: bold;
  padding-bottom: 4px; }

table.edit-projects-table {
  clear: none; }

table.edit-projects-table th, table.edit-projects-table td {
  border-top: 0; }

.small-linkout {
  font-weight: normal;
  font-size: 11px; }

tr.disease-gene td {
  background: rgba(235, 217, 223, 0.7); }

.bigger {
  font-size: 16px; }

.middle {
  text-align: center; }

ul.big-link-list li {
  margin: 6px;
  padding: 6px;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: center; }

ul.big-link-list li a {
  font-size: 16px;
  font-weight: bold; }

ul.big-link-list h4 {
  padding-top: 6px; }

.dropdown-menu .selected a {
  font-weight: bold; }

.dropdown-menu li {
  width: 100%; }

#status-report-loading {
  padding: 20px;
  text-align: center; }

.big-form-label {
  font-size: 16px; }

.alert-grey {
  color: #48484C;
  background-color: whiteSmoke;
  border-color: #DDD; }

.namecell {
  width: 50px;
  padding-right: 6px;
  float: left;
  clear: both;
  font-size: 10px;
  font-weight: bold;
  color: #999;
  text-align: right; }

.valuecell {
  width: 80px;
  float: left; }

.pi_hat_table .progress {
  margin-bottom: 2px; }

.progress-footer {
  text-align: center;
  font-size: 10px;
  text-transform: uppercase; }

dl.dl-horizontal-wideleft dt {
  width: 260px; }

dl.dl-horizontal-wideleft dd {
  margin-left: 280px; }

.variant-selector-subgroup {
  padding-left: 20px; }

.login-container {
  padding-top: 50px; }

.tabs-left > .nav-tabs {
  padding: 20px 0 80px 10px; }

.tabs-left > .nav-tabs > li > a {
  min-width: 100px; }

.tabs-left {
  min-width: 600px; }

.inheritance-prefill-box {
  padding-top: 40px; }

#default-inheritance {
  padding-left: 20px;
  padding-top: 20px; }

.filter-prefill-box {
  margin-top: 20px;
  text-align: center; }

.indiv-genotype-icon {
  font-size: 18px;
  position: relative;
  top: 1px; }

#resultsTable {
  white-space: nowrap; }

#resultsTable th {
  white-space: nowrap; }

#resultsTableContainer {
  overflow-x: scroll; }

#resultsTableHeaderRow {
  background: white; }

h3 {
  line-height: 30px;
  font-size: 20px; }

.table-description-box {
  max-width: 200px;
  white-space: normal; }

.fixed-header-row {
  position: fixed;
  top: 0px; }

span.gene-type-em {
  font-weight: bold;
  font-style: italic;
  color: #666; }

.big-modal {
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 800px;
  margin: -250px 0 0 -400px; }

.cohort-inheritance-container label.inheritance-mode.active {
  padding: 8px 30px;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.variants-table {
  position: relative;
  width: inherit; }

.variants-by-individual {
  overflow-y: scroll; }

.variants-table tr.highlight td {
  background: #f4f4f4; }

.inheritance-mode-details .left {
  text-align: right;
  font-weight: bold; }

#expression_plot {
  text-align: center;
  margin: 20px;
  border: 1px solid #eee; }
  #expression_plot .axis {
    font-weight: bold;
    font-size: 11px;
    color: #666;
    fill: #888; }

.modal-stack .modal-footer {
  text-align: left; }

.results-stats-container {
  text-align: center;
  font-size: 16px; }

a i {
  font-size: 85%; }

.variant-cell {
  word-wrap: break-word; }

.data-section {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 12px; }

.data-section-more {
  padding: 20px;
  text-align: center; }

.family-box {
  padding: 6px 0;
  margin: 12px 0; }
  .family-box a.title {
    font-size: 16px;
    font-weight: bold; }
  .family-box .description {
    font-style: italic;
    color: #888;
    font-size: 11px; }

.project-box {
  padding: 2px 0; }
  .project-box a.title {
    font-size: 16px;
    font-weight: bold; }

.big-link-text {
  font-size: 16px;
  font-weight: bold; }

.analysis-options-box {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 12px;
  margin: 20px 0; }

.analysis-box {
  padding: 6px 0 0 0; }

.flagged-variant {
  background: #d9edf7; }

.status-label {
  padding: 4px 9px;
  opacity: .7;
  margin-left: 5px; }
  .status-label i {
    margin-right: 4px; }

.recent-update p {
  font-size: 13px; }

input.table-input {
  width: 100px; }

select.table-input {
  width: 100px; }

#edit-indivs-container {
  text-align: center; }

.fullwidth-controls-container {
  text-align: center; }

#edit-individuals-table {
  width: inherit;
  max-width: none;
  margin: 0 auto;
  table-layout: fixed; }
  #edit-individuals-table th {
    word-wrap: break-word; }

.fullwidth-section {
  margin: 20px 0;
  background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .fullwidth-section .fullwidth-content {
    padding: 20px; }
  .fullwidth-section .form-horizontal {
    text-align: left; }

.fullwidth-controls {
  padding: 20px;
  overflow: auto;
  display: inline-block; }
  .fullwidth-controls .col {
    text-align: left;
    float: left;
    padding: 10px; }

.edit-modal-samples-list {
  font-weight: bold;
  list-style: none; }

th.project-phenotype {
  color: blue; }

tr.row-checked {
  background: rgba(0, 0, 0, 0.05); }

.auth-box {
  text-align: center; }

.coverage-by-exon-table .icon-ok {
  color: lightgreen; }
.coverage-by-exon-table .single-exon-coverage {
  font-size: 12px; }
  .coverage-by-exon-table .single-exon-coverage span.ratio {
    font-weight: bold;
    padding-right: 6px; }
  .coverage-by-exon-table .single-exon-coverage span.callable {
    color: green; }
  .coverage-by-exon-table .single-exon-coverage span.low_coverage {
    color: red; }
  .coverage-by-exon-table .single-exon-coverage span.poor_mapping {
    color: grey; }

.flatbutton {
  background: rgba(45, 133, 225, 0.95);
  display: inline-block;
  color: white;
  padding: 10px 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: normal;
  margin: 0 5px; }

a.flatbutton:hover {
  text-decoration: none;
  color: white;
  background: rgba(45, 133, 225, 0.7); }

a.flatbutton:active {
  text-decoration: none;
  color: white;
  background: #2d85e1; }

.links-list-header {
  font-size: 13px;
  color: #888;
  font-weight: bold; }

.settings-list li {
  padding: 5px 0; }

#scrolldownmore {
  font-size: 15px;
  padding-top: 50px;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s; }

#summary-container {
  padding: 20px 20px 0 20px;
  max-width: 600px;
  margin: 0 auto; }

.compact-flag-display {
	display:inline;
  	padding-bottom: 6px; 
}


p.noresults {
  padding: 20px;
  text-align: center;
  font-size: 18px; }

.edit-samples-table-container table.edit-samples-table {
  width: inherit;
  margin: 0 auto; }

form {
  margin: 0; }

.simple-block, .simple-block-form {
  padding: 20px;
  border: 1px solid #eee;
  background: white; }

.toppadding {
  padding-top: 20px; }

.individuals-table {
  width: inherit;
  max-width: inherit;
  margin: 0 auto; }

.fullpage-table-summary {
  max-width: 960px;
  margin: 0 auto;
  padding: 12px 0;
  font-size: 18px;
  text-align: center; }

.big-section-separator {
  margin: 28px auto;
  border-top: 1px solid rgba(0, 25, 212, 0.2); }

table.sequencing-data-table td, table.sequencing-data-table th {
  padding: 4px 7px; }

.multiple-variant-tables-container .single-item {
  padding: 6px 0;
  margin: 3px 0; }
.multiple-variant-tables-container .single-item.active {
  overflow: auto;
  border-left: 8px solid #0019d4;
  padding-left: 10px; }

.fullpage-table {
  position: relative;
  width: inherit;
  margin: 10px auto; }

.fullpage-table-container {
  overflow-x: scroll; }

.rest-resource-list .controls {
  padding-bottom: 20px; }

.rest-resource {
  padding-bottom: 10px; }
  .rest-resource .rest-resource-title {
    font-weight: bold;
    font-size: 18px; }
  .rest-resource .rest-resource-controls .sep {
    padding: 0 5x; }
  .rest-resource .rest-resource-controls .delete {
    color: red; }

a.sec-header-link {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 10px 0 5px 0; }

.confirm-page-container {
  margin-top: 80px; }

h1 small, h2 small, h3 small {
  font-weight: 300; }

.login-form {
  font-size: 12pt;
}

#messages {
  background: #D9EDF7;
  padding: 30px 0;
  font-size: 20px; }

.gene-lookup-header {
  text-align: right;
  font-weight: bold; }


.igv-viewport-div {
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
