#####################################################
####### SETTINGS THAT MAY NEED TO BE MODIFIED #######

CLUSTER_NAME: 'seqr-cluster-prod'

CLUSTER_EXTERNAL_IP: '35.194.17.244'
CLUSTER_HOSTNAME: 'seqr.broadinstitute.org'

ES_DATA_SERVICE_IP: 10.128.0.52
ES_CONFIGURE_SNAPSHOTS: true
ES_SNAPSHOTS_ACCOUNT_NAME: seqr-es-snapshots-prod
ES_SNAPSHOTS_BUCKET: seqr-es-7-snapshots-prod

RUN_CRON_JOBS: true

GUNICORN_WORKER_THREADS: 20    # number of webserver threads

SEQR_POD_MEMORY_LIMIT: 35Gi
REDIS_POD_MEMORY_LIMIT: 10Gi

TERRA_API_ROOT_URL: 'https://api.firecloud.org'
AIRFLOW_WEBSERVER_URL: 'https://rf1b81cf3e6c1c7e7p-tp.appspot.com'

CLOUDSQL_AVAILABILITY_TYPE: 'regional'

GCS_MEDIA_ROOT_BUCKET: 'seqr-media-storage-public-prod'

###########################################################
####### SETTINGS THAT SHOULDN'T NEED TO BE MODIFIED #######

NAMESPACE: default

DEPLOY_TO: 'gcloud-prod'
DEPLOYMENT_TYPE: 'prod'
