{
  "extends": [
    "airbnb",
    "plugin:react-perf/recommended"
  ],

  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "mocha": true,
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  //"reportUnusedDisableDirectives": true, // TODO re-enable
  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "import/no-cycle": 0, // TODO re-enable
    "import/no-useless-path-segments": 0, // TODO re-enable
    "import/prefer-default-export": 0,
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true,
    }],
    "object-curly-newline": ["error", {
      "ObjectExpression": { "multiline": true, "consistent": true },
      "ObjectPattern": { "multiline": true, "consistent": true },
      "ImportDeclaration": { "multiline": true, "consistent": true },
      "ExportDeclaration": { "multiline": true, "consistent": true }
    }],
    "operator-linebreak": [2, "after"],
    "padded-blocks": ["error", { "blocks": "never", "classes": "always", "switches": "never" }],
    "semi": ["error", "never"],

    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/iframe-has-title": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/tabindex-no-positive": 0,

    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/no-access-state-in-setstate": 0, // TODO re-enable
    "react/no-deprecated": 0, // TODO re-enable
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "react/require-optimization": 2,
    "react/sort-comp": 0,  // more freedom in arranging class functions
    "react/state-in-constructor": 0, // TODO re-enable
    "react/static-property-placement": 0, // TODO should be [2, "static public field"],

    "react/jsx-curly-newline": 0, // TODO re-enable
    "react/jsx-filename-extension": [ 1, { "extensions": [".js", ".jsx"]} ],
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-fragments": 0, // TODO re-enable
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-target-blank": 0,
    "react/jsx-one-expression-per-line": 0, // TODO should be [2, { "allow": "single-child" }],
    "react/jsx-props-no-multi-spaces": 0, // TODO re-enable
    "react/jsx-props-no-spreading": 0,
    "react/jsx-tag-spacing": 0, // TODO re-enable
    "react/jsx-wrap-multilines": 0,

    "react-perf/jsx-no-new-array-as-prop": 0, // TODO re-enable
    "react-perf/jsx-no-new-function-as-prop": 0, // TODO re-enable
    "react-perf/jsx-no-new-object-as-prop": 0 // TODO re-enable
  }
}