<script type="text/template" id="tpl-add-variant-note">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Add Variant Note</h2>
            <p>
                Enter your note below:
            </p>
            <div class="p20"></div>
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" name="tag" class="form-control" id="flag_inheritance_notes" width="90%">
                        <input type="hidden" name="search_url" value="<%= self.url %>"></intput>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12" style="text-align:right">
                        <a type="submit" class="btn btn-default btn-primary" id="add-flag-save">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>