{% include 'client_templates/add_variant_note.html' %}
{% include 'client_templates/edit_variant_tags.html' %}
{% include 'client_templates/basic_variants_table.html' %}
{% include 'client_templates/basic_variant.html' %}
{% include 'client_templates/search_controls.html' %}
{% include 'client_templates/select_variants.html' %}
{% include 'client_templates/gene_details_view.html' %}
{% include 'client_templates/select_gene.html' %}
{% include 'client_templates/select_multiple_genes.html' %}


<script type="text/template" id="tpl-gene-modal">

    <div id="modal-content-container"></div>
    <div id="modal-loading"><img src="<%= URL_PREFIX %>static/ajax-loader.gif" alt="Loading..."/></div>

</script>

<script type="text/template" id="tpl-annotation-details">
    <% _.each(variant.gene_ids, function(gene_id) {  if(!gene_id) return; %>
        <h3><strong><%= variant.extras.gene_names[gene_id] %></strong> <br>gene id: <%= gene_id %></h3>
        <% _.each(variant.annotation.vep_annotation, function(annotation, i) { if (annotation.gene != gene_id) return; %>
            <div class="row annotation">
                <div class="col-sm-2">
                    <div class="consequence">
                            <a target="_blank" href="http://useast.ensembl.org/Homo_sapiens/Transcript/Summary?t=<%= annotation.feature %>">
			      <% 

				 var is_chosen_transcript = (i == variant.annotation.worst_vep_annotation_index);
				 print( is_chosen_transcript ? "<b>"+annotation.feature+"</b> " : annotation.feature );
				 if(is_chosen_transcript && annotation.canonical) {
				    print("<br><sup>chosen, canonical transcript</sup>");
				 } else if(is_chosen_transcript)  {
				    print("<br><sup>chosen transcript</sup>");				 
				 } else if(annotation.canonical) {
				    print("<br><sup>canonical transcript</sup>");				 
				 } %>
			    </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="detail"><%= annotation.consequence %> </div>
                </div>
                <div class="col-sm-7">
                    <div class="details">
                        <div class="detail">
                            <span>Codons</span> <%= annotation.codons %> <br/>
                            <span>Amino Acids</span> <%= annotation.amino_acids %> <br/>
                        </div>
                        <div class="detail">
                            <span>cDNA Position</span> <%= annotation.cdna_position %> <br/>
                            <span>CDS Position</span> <%= annotation.cds_position %> <br/>
                        </div>
                        <div class="detail">
                            <span>HGVS.C</span> <%= annotation.hgvsc.split(":")[1] %> <br/>
                            <span>HGVS.P</span> <%= annotation.hgvsp.split(":")[1] %> <br/>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
    <% }); %>
</script>


<script type="text/template" id="tpl-slider-widget">
    <div class="basic-slider-label" style="width:100%;"></div>
    <div class="basic-slider-slider" style="width:100%;"></div>
</script>


<script type="text/template" id="tpl-modal-page">
    <div class="modal big-modal modal-stack">
        <div class="modal-header">
            <h3 id="modal-title"></h3>
        </div>
        <div class="modal-body" id="modal-content"></div>
        <div class="modal-body" id="modal-loading2">
            <img src="<%= URL_PREFIX %>static/ajax-loader.gif" alt="Loading..."/>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary back-button">Back</a>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-modal-queue">
    <div class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close back-button" data-dismiss="modal" aria-hidden="true">&times;</button><br>
                </div>
                <div class="modal-body" id="modal-queue-content"></div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-modal-loading">
    <img src="<%= URL_PREFIX %>static/ajax-loader.gif" alt="Loading..."/>
</script>


<script type="text/template" id="tpl-cohort-select-genotypes">
    <div class="row">
        <div class="col-md-10" id="cohort-inheritance-section-container"></div>
    </div>
</script>


<script type="text/template" id="tpl-choose-genotype-filter">
    <div class="inheritance-section">
        <div class="col-md-8">
            <table class="table table-condensed" id="include-individuals-table">
                <thead>
                <tr>
                    <th>Individual</th>
                    <th>Sex</th>
                    <th>Affected</th>
                    <th>Genotype</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(family.individuals, function(indiv) { if (!indiv.has_variant_data) return; %>
                <tr>
                    <td><%= indiv.indiv_id %><% if (indiv.nickname) print(' (' + indiv.nickname + ')') %></td>
                    <td data-indiv_id="<% indiv.indiv_id %>"><%= { 'M': 'Male', 'F': 'Female', 'U' : 'Unknown' }[indiv.gender] %></td>
                    <td data-indiv_id="<% indiv.indiv_id %>"><%= { 'A': 'Affected', 'N': 'Unaffected', 'U' : 'Unknown' }[indiv.affected] %></td>
                    <td>
                        <select class="col-md-2 select-genotype form-control" data-indiv_id="<%= indiv.indiv_id %>">

                            <option value="">---</option>

                            <optgroup label="Individual Genotype">
                                <% _.each(genotypeOptions, function(option) { 
				   if( option.slug != 'missing') {
				   %>
				
                                <option value="<%= option.slug %>"><%= option.name %></option>
                                <% } }); %>
                            </optgroup>

                            <optgroup label="# Alleles In Gene">
                                <% _.each(burdenFilterOptions, function(option) { %>
                                <option value="<%= option.slug %>"><%= option.name %></option>
                                <% }); %>
                            </optgroup>

                        </select>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

        <% if (!hide_prefill) { %>
        <div class="col-md-4 filter-prefill-box">
            <p>Pre-populate with genotype suggestions for an inheritance model:</p>
            <select id="filter-prefill-select">
                <option value="">---</option>
                <option value="homozygous_recessive">Homozygous Recessive</option>
                <option value="x_linked_recessive">X-Linked Recessive</option>
                <option value="de_novo">De Novo</option>
                <option value="dominant">Dominant</option>
            </select>
        </div>
        <% } %>
    </div>
</script>


<script type="text/template" id="tpl-select-quality-filter">
    <div class="row">
        <div class="col-md-3 left-select-container">
            <div class="filter-prefill-box">
                <p><em>Call Quality</em>: Choose one of our variant quality options</p>
                <div class="row">
                    <div class="col-md-12">
                        <select id="quality-defaults-select" class="form-control">
                            <option value="">Show All Variants</option>
                            <% _.each(defaultQualityFilters, function(qualityFilter) { %>
                            <option value="<%= qualityFilter.slug %>"><%= qualityFilter.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapse-qual">
                            Quality Control
                        </a>
                    </div>
                    <div id="collapse-qual" class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="annot-section-title">
								FILTER value&nbsp;
								<i class="icon-question-sign icon-popover" title="" data-placement="top" data-content="Either show only variants that PASSed variant quality filters applied when the dataset was processed (typically VQSR or Hard Filters), or show all variants." data-original-title="FILTER value"></i>
								</div>
                                <div class="annot-section-content">
                                    <select class="form-control" name="filter-select" id="filter-select">
                                        <option value="">Show All Variants</option>
                                        <option value="pass">PASS variants only</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="annot-section-title">
								Genotype Quality&nbsp;
								<i class="icon-question-sign icon-popover" title="Genotype Quality" data-placement="top" data-content="Genotype Quality (GQ) is a statistical measure of confidence in the genotype call (eg. hom. or het) based on the read data. Use this filter to set a minimum value for GQ." data-original-title="Genotype Quality"></i>
								</div>
                                <div class="annot-section-content">
                                    <div id="gq-quality-container"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="annot-section-title">
								Allele Balance&nbsp;
								<i class="icon-question-sign icon-popover" title="Allele Balance" data-placement="top" data-content="The allele balance is the number of reads that support the alt allele divided by the total number of sequencing reads at that site. Use this filter to set a minimum value for allele balance." data-original-title="Allele Balance"></i>
								</div>
                                <div class="annot-section-content">
                                    <div id="ab-quality-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-saved-variant">
    <div class="row variantrow saved-variant-row">
        <div class="col-md-1">
            <div class="family-id-container">
                <div class="greytext">Family</div>
                <a href="/project/<%= project_id %>/family/<%= family_id %>"><%= family_id %></a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="notes-container">
                <% if (variant.extras.is_causal) { print('<i class="fa fa-star"></i> This variant is causal'); } %>
                <% _.each(tags, function(tag) { %>
                    <% if(tag.user) { %>
                        <b><%= tag.user.display_name %></b> tagged: &nbsp;
                    <% } %>
                    <span class="label" style="background-color:<%= tag.color %>;"><%= tag.tag %></span> <br/>
                    <% if(tag.date_saved) { %>
                        <span class="date"><%= tag.date_saved %></span>
                    <% } %>

                <% }); %>
                <% _.each(flags, function(flag) { %>
                    <div class="compact-flag-display">
                        <span class="name"><%= flag.user.display_name %></span>: <%= flag.note %><br>
                        <span class="date"><%= flag.date_saved %></span><br/>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="col-md-9">
            <div class="variant-container"></div>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-saved-family-variant">
    <div class="row variantrow">
        <div class="col-md-2">
            <div class="notes-container">
                <% _.each(flags, function(flag) { %>
                    <div class="compact-flag-display">
                        <span class="name"><%= flag.display_name %></span><% if (flag.flag_type != 'N') { print(': <span class="flagtype">' + flag.flag_type_display + '</span>') } %>: <%= flag.note %><br>
                        <span class="date"><%= flag.date_saved %></span>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="col-md-10">
            <div class="variant-container"></div>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-basic-cnv">
</script>
