<script type="text/template" id="tpl-diagnostic-search-form">
    <h3 class="section-header">Gene List <small>Select which genes to run a diagnostic report on</small></h3>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <% _.each(gene_lists, function(gene_list) { %>
                <div class="radio">
                    <label>
                        <input type="radio" name="gene_list" value="<%= gene_list.slug %>">
                        <strong><%= gene_list.name %><br/></strong>
                        <%= gene_list.description %>
                    </label>
                </div>
            <% }); %>
        </div>
    </div>

    <h3 class="section-header">Variants <small>Select which NGS variants to consider</small></h3>
    <div id="select-variants-container"></div>
</script>

<script type="text/template" id="tpl-diagnostic-search-results">
    <div id="results"></div>
</script>

<script type="text/template" id="tpl-indiv-gene-coverage">
    <div class="individual"><i class="fa <%= utils.getPedigreeIcon(individual) %>"></i> <%= individual.indiv_id %></div>
    <% if (coverage.ratio_callable == 1) { %>
    <i class="fa fa-check"></i>
    <% } else { %>
    <div class="percentage"><%= Math.round(coverage.ratio_callable*100) %>%</div>
    <span class="callable"><%= coverage.callable %></span> /
    <span class="low_coverage"><%= coverage.low_coverage %></span> /
    <span class="poor_mapping"><%= coverage.poor_mapping %></span>
    <% } %>
</script>