<script type="text/template" id="tpl-individual-list">

<div class="fullpage-table-container">
<table class="table fullpage-table" id="edit-individuals-table" >
    <thead>
        <tr>
            <a style="margin-left:700px" id="delete-selected-samples">Delete selected</a><br><br>
            <th style="width:120px;">
                <input type="checkbox" id="select-all-individuals" />
                Sample ID
            </th>
            <th style="width:80px;">Family ID</th>
            <th style="width:80px;">Nickname</th>
            <th style="width:80px;">Father</th>
            <th style="width:80px;">Mother</th>
            <th style="width:80px;">Gender</th>
            <th style="width:80px;">Affected</th>
	    <% if(project_id.match(/casereview/i)) { %> 
	    
              <th style="width:80px;">Status</th>
	    <% } %>

            <% _.each(project_phenotypes, function(p) { %>
            <th class="project-phenotype" style="width:80px;"><%= p.name %></th>
            <% }); %>

       </tr>
    </thead>

    <tbody>

    <% _.each(individuals, function(indiv) { %>

        <tr class="indiv-row" data-indiv_id="<%= indiv.indiv_id %>" >
            <td>
                <label class="checkbox">
                    <input class="indiv-checkbox" type="checkbox" data-indiv_id="<%= indiv.indiv_id %>" />
                    <strong><%= indiv.indiv_id %></strong>
                </label>
            </td>

            <td>
                <input
                    class="table-input"
                    data-key="family_id"
                    type="text"
                    data-indiv="<%= indiv.indiv_id %>"
                    value="<%= indiv.family_id %>" >
            </td>

            <td>
                <input
                    class="table-input"
                    data-key="nickname"
                    type="text"
                    data-indiv="<%= indiv.indiv_id %>"
                    value="<%= indiv.nickname %>" >
            </td>

            <td>
                <select class="table-input parent-select" data-indiv="<%= indiv.indiv_id %>" data-key="paternal_id" >
                    <option value="."></option>
                    <% _.each(individuals, function(indiv_nested) { if (indiv_nested.family_id == "" || indiv_nested.family_id != indiv.family_id) return; %>
                    <option value="<%= indiv_nested.indiv_id %>"
                    <% if (indiv.paternal_id == indiv_nested.indiv_id) { %>selected="selected"<% } %>
                    ><%= indiv_nested.indiv_id %></option>
                    <% }); %>
                </select>
            </td>

            <td>
                <select class="table-input parent-select" data-indiv="<%= indiv.indiv_id %>" data-key="maternal_id" >
                    <option value="."></option>
                    <% _.each(individuals, function(indiv_nested) { if (indiv_nested.family_id == "" || indiv_nested.family_id != indiv.family_id) return; %>
                    <option value="<%= indiv_nested.indiv_id %>"
                    <% if (indiv.maternal_id == indiv_nested.indiv_id) { %>selected="selected"<% } %>
                    ><%= indiv_nested.indiv_id %></option>
                    <% }); %>
                </select>
            </td>

            <td>
                <select
                    class="table-input"
                    data-key="gender"
                    data-indiv="<%= indiv.indiv_id %>" >
                    <option value="M" <% if (indiv.gender == "M") { %>selected="selected"<% } %> >Male</option>
                    <option value="F" <% if (indiv.gender == "F") { %>selected="selected"<% } %> >Female</option>
                    <option value="U" <% if (indiv.gender == "U") { %>selected="selected"<% } %> >Unknown</option>
                </select>
            </td>

            <td>
                <select
                    class="table-input"
                    data-key="affected"
                    data-indiv="<%= indiv.indiv_id %>" >
                    <option value="N" <% if (indiv.affected == "N") { %>selected="selected"<% } %> >Unaffected</option>
                    <option value="A" <% if (indiv.affected == "A") { %>selected="selected"<% } %> >Affected</option>
                    <option value="U" <% if (indiv.affected == "U") { %>selected="selected"<% } %> >Unknown</option>
                </select>
            </td>

            <% _.each(project_phenotypes, function(p) { %>
            <td>
                <% if (p.datatype == 'bool' ) { %>
                <select
                    class="table-input"
                    data-key="<%= p.slug %>"
                    data-indiv="<%= indiv.indiv_id %>" >
                    <option value="U" <% if (indiv.phenotypes[p.slug] == null) { %>selected="selected"<% } %> > -- </option>
                    <option value="T" <% if (indiv.phenotypes[p.slug] == true) { %>selected="selected"<% } %> >Yes</option>
                    <option value="F" <% if (indiv.phenotypes[p.slug] == false) { %>selected="selected"<% } %> >No</option>
                </select>
                <% } %>
            </td>
            <% }); %>

        </tr>
	
    <% }); %>
    <tr><td>
<br><br>
<center>
    <div class="col">
        <a class="btn btn-primary" id="save-all-individuals">Save All</a>
    </div>
</center>
<br><br>
</td></tr>
    </tbody>

</table>

</div>


<div id="import-from-fam-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="myModalLabel">Upload from FAM file</h3>
    </div>
    <div class="modal-body">
        <p>
            Use the dialog below to select a FAM file.
            This will update the individuals in this project to match this FAM file.
            Individuals will be added if they exist, but individuals not included in the FAM file will not be deleted.
        </p>

        <p>
            This page will refresh after the file is uploaded, so make sure your other changes are saved.
        </p>

        <form class="form" enctype="multipart/form-data" action="/project/<%= project_id %>/update-project-from-fam" method="post">
            <input type="file" name="fam_file" id="id_fam_file" />
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

<div id="base-modal-container" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modal-inner">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

</script>

<script type="text/template" id="tpl-delete-samples">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="myModalLabel">Delete Samples</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to delete the following samples:
        </p>
        <ul class="edit-modal-samples-list" >
            <% for (var i=0; i < to_delete.length; i++) { %>
            <li><%= to_delete[i] %></li>
            <% } %>
        </ul>

        <form class="form" action="/project/<%= project_id %>/delete-individuals" method="post">
            <input type="hidden" name="to_delete" value="<%= to_delete.join('|') %>" />
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>

</script>

<script type="text/template" id="tpl-add-phenotype">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add A Phenotype</h3>
</div>
<div class="modal-body">
    <p>
        This allows you to add a new phenotype to a project.
        It doesn't assign this phenotype to any individuals - that comes later.
        This page will refresh after the file is uploaded, so make sure your other changes are saved.
    </p>

    <form class="form-horizontal" id="add-phenotype-form">

        <div class="control-group">
            <label class="control-label" for="id_name" >Name of phenotype</label>
            <div class="controls">
                <input type="text" id="id_name" name="name" placeholder="Name">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_name" >Category</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="category" value="disease" /> Disease
                </label>
                <label class="radio">
                    <input type="radio" name="category" value="clinical_observation" /> Clinical Observation
                </label>
                <label class="radio">
                    <input type="radio" name="category" value="other" /> Other
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="id_name" >Data type</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="datatype" value="bool" /> Boolean (patient either has or doesn't)
                </label>
                <label class="radio">
                    <input type="radio" name="datatype" value="category" disabled="true" /> Category
                </label>
                <label class="radio">
                    <input type="radio" name="datatype" value="number" disabled="true" /> Number
                </label>
            </div>
        </div>

        <a id="add-phenotype-submit" class="btn btn-primary">Add Phenotype</a>

    </form>
</div>

</script>


<script type="text/template" id="tpl-add-cohort-form">
    <h3>Add A Cohort</h3>
    <p>
        This will create an analysis cohort from the following <%= indiv_ids.length %> samples:
    </p>
    <ul class="edit-modal-samples-list" >
        <% for (var i=0; i < indiv_ids.length; i++) { %>
        <li><%= indiv_ids[i] %></li>
        <% } %>
    </ul>
    <p>
        This page will refresh after the file is uploaded, so make sure your other changes are saved.
    </p>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4" for="id_name" >Name of cohort</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="id_name" name="name" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="id_name" >Description of cohort</label>
            <div class="col-md-8">
                <textarea class="form-control" id="id_description" name="description" placeholder="Give a one or two sentence description..."></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <button id="add-cohort-submit2" type="submit" class="btn btn-primary">Add Cohort</button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-add-individuals">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="myModalLabel">Add Individuals</h3>
</div>
<div class="modal-body">
    <p>
        Copy/paste a list of <em>Individual IDs</em> into the field below to add to this project.
        Should have one ID per line (just one ID is fine).
        Individual IDs should have no whitespace or punctuation ('_' and '-' are fine).
    </p>

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id_name" >List of IDs</label>
            <div class="controls">
                <textarea id="add-individuals-textarea" placeholder="Paste one sample per line..."></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a id="add-individuals-submit" class="btn btn-primary">Add Individuals</a>
            </div>
        </div>
    </div>
</div>

</script>

<script type="text/template" id="tpl-select-from-list">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="myModalLabel">Select From List</h3>
</div>
<div class="modal-body">
    <p>
        Copy/paste a list of <em>Individual IDs</em> into the field below to add to this project.
        Should have one ID per line (just one ID is fine).
        Individual IDs should have no whitespace or punctuation ('_' and '-' are fine).
    </p>

    <p>Then click "Continue" and this modal window will close with those samples selected.</p>

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id_name" >List of IDs</label>
            <div class="controls">
                <textarea id="select-from-list-textarea" placeholder="Paste one sample per line..."></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a id="select-from-list-submit" class="btn btn-primary">Continue</a>
            </div>
        </div>
    </div>

</div>

</script>

<script type="text/template" id="tpl-apply-phenotype">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="myModalLabel">Apply Phenotype</h3>
</div>
<div class="modal-body">
    <p>Choose a phenotype and a value below, and it will apply to the following <%= selected_samples.length %> samples:</p>
    <ul class="edit-modal-samples-list" >
        <% for (var i=0; i < selected_samples.length; i++) { %>
        <li><%= selected_samples[i] %></li>
        <% } %>
    </ul>

    <p>Note that you can only choose boolean phenotypes. Use "Load phenotypes from file" to import numeric phenotypes. </p>

    <p>This will <strong>not</strong> save anything, so you might want to hit "Save All" right after this. </p>

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id_name" >Phenotype</label>
            <div class="controls">
                <select name="" id="apply-phenotype-select">
                    <% _.each(project_phenotypes, function(p) { %>
                    <option value="<%= p.slug %>"><%= p.name %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_name" >Phenotype</label>
            <div class="controls">
                <select name="" id="apply-phenotype-bool-value">
                    <option value="T" >Yes</option>
                    <option value="F" >No</option>
                    <option value="U" >-- No value --</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a id="apply-phenotype-submit" class="btn btn-primary">Apply</a>
            </div>
        </div>
   </div>
</div>

</script>


<script type="text/template" id="tpl-select-with-phenotype">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="myModalLabel">Select with phenotype</h3>
</div>
<div class="modal-body">

    <p>Choose a phenotype and a value below, and samples with that phenotype will be selected. </p>

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id_name" >Phenotype</label>
            <div class="controls">
                <select name="" id="select-with-phenotype-select">
                    <% _.each(project_phenotypes, function(p) { %>
                    <option value="<%= p.slug %>"><%= p.name %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_name" >Phenotype</label>
            <div class="controls">
                <select name="" id="select-with-phenotype-bool-value">
                    <option value="T" >Yes</option>
                    <option value="F" >No</option>
                    <option value="U" >-- No value --</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a id="select-with-phenotype-submit" class="btn btn-primary">Select These Samples</a>
            </div>
        </div>
    </div>


</div>

</script>





<script type="text/template" id="tpl-add-family-group-dialog">
    <h4>Add Family Group</h4>
    <p>
        This will create a family group from the following <%= family_ids.length %> families:
    </p>
    <ul class="edit-modal-samples-list" >
        <% for (var i=0; i < family_ids.length; i++) { %>
        <li><%= family_ids[i] %></li>
        <% } %>
    </ul>

    <div class="form form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4" for="id_name" >Name of family group</label>
            <div class="col-md-8">
                <input class="form-control" type="text" id="id_name" name="name" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="id_name" >Description of family group</label>
            <div class="col-md-8">
                <textarea class="form-control" id="id_description" name="description" placeholder="Give a one or two sentence description..."></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <a id="add-family-group-submit2" class="btn btn-primary">Add Family Group</a>
            </div>
        </div>
    </div>
</script>
