<script type="text/template" id="tpl-families">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <% if (selectable) print('<input type="checkbox" id="select-all-families" />'); %>
                    Family
                </th>
				<th># Individuals</th>
                <th>Pedigree</th>
                <th>Description</th>
                <% if(analysis_statuses) {  %>
                    <th>Analysis Status</th>
                <% } %>
                <th></th>
		        <th>Data Available</th>
                <% if (show_edit_links) print('<th></th>'); %>
            </tr>
        </thead>
        <tbody>
            <% _.each(families, function(family) { %>
                <tr class="family-row" data-family_id="<%= family.family_id %>">
                    <td>
                        <% if (selectable) print('<label class="checkbox"><input type="checkbox" class="family-checkbox" data-family_id="'+family.family_id+'"/>'); %>
                        <% if (family_id_link) { print('<a href="'+family.url+'">'); } %>
                            <strong><% if (family.family_name) { print(family.family_name) } else { print(family.family_id)} %></strong>
                        <% if (family_id_link) { print('</a>'); } %>
                        <% if (selectable) print('</label>') %>
                    </td>
					<td><%= family.num_individuals %></td>
                    <td style='margin:0px; padding:4px 0px 4px 12px;'>
                    	<% if (family.pedigree_image_url) { %>
							<% if (family_id_link) { print('<a href="'+family.url+'">'); } %>
                    			<img style='width:30px;height:25px;border-style:none' src="<%= family.pedigree_image_url %>" >
							<% if (family_id_link) { print('</a>'); } %>
                    	<% } %>

                    </td>
                    <td><%= family.short_description %></td>
                    <td>
                        <% if(analysis_statuses) {
                            var status_found = false;
                            _.each(analysis_statuses, function(analysis_status, analysis_status_id) {
                                 if (family.analysis_status.status == analysis_status_id) {
                                    print('<i class="fa '+analysis_status[1]+'" style="color: #08c; font-size: 16px; padding-right: 3px;"></i>' + analysis_status[0]);
                                    status_found = true;
                                }

                            });
                            if(!status_found) {
			                    print("Unexpected status: " + family.analysis_status.status);
                            }
                        }
                         %>
                    <td>

                    </td>
                    </td><td>
						<span style='font-size:9px;padding-right:3px'>
						<% if (family.data_status == 'loaded') { %>
							 <i class="fa fa-circle" title='Variants (VCF) loaded. Ready for analysis.' style="color: rgba(3, 182, 46, 0.79);"></i>
                        <% } else if (family.data_status == 'loading') { %>   
                             <i class="fa fa-circle" title='Variants (VCF) loading' style="color: yellow;"></i>
                        <% } else if (family.data_status == 'not_loaded' || family.data_status == 'no_variants') { %>
                             <i class="fa fa-circle" title='Variants (VCF) not loaded' style="color: red;"></i>
						<% } else { %>
							 console.log(family, 'unknown status'); 
						<% } %>
						</span>
                    </td>
					<td>
                        <% if (show_edit_links) print('<a href="'+family.url+'/edit">Edit</a>'); %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</script>


<script type="text/template" id="tpl-select-families-with-phenotype">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 id="myModalLabel">Select families with phenotype</h3>
</div>
<div class="modal-body">
    <p>Choose a phenotype and a value below, and families with that phenotype will be selected. </p>
    <p><em>Note: </em>right now can only choose "yes" as a binary value - others are temporarily disabled. </p>
    <div class="select-phenotype-container"></div>
    <a id="select-with-phenotype-submit" class="btn btn-primary">Select These Samples</a>
</div>
</script>


<script type="text/template" id="tpl-gene-diagnostic-info">
    <h2 class="styled"><%= gene_phenotype_summary.symbol %></h2>
    <p><% if (gene_list_info_item) print(gene_list_info_item.description); %></p>


    <div class="row diagnostic-info-row">
        <div class="col-md-2">
            <div class="diag-section">Variants</div>
        </div>
        <div class="col-md-10">
            <div class="variants-container"></div>
        </div>
    </div>

    <div class="big-section-separator"></div>

</script>

<script type="text/template" id="tpl-gene-lookup">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Search a gene:</label>
                    <div class="col-sm-9 searchbox-container"></div>
                </div>
            </div>
        </div>
    </div>
</script>
