<script type="text/template" id="tpl-individuals">
  <% var case_review_status_lookup = {
  'U': 'Uncertain',
  'I': 'In Review',
  'A': 'Accepted',
  'R': 'Not Accepted',
  'Q': 'More Info Needed',
  }; %>

  <% var has_case_review_indivs = _.any(_.filter(individuals, function(indiv) { return indiv.case_review_status })) %>
     <table class="tablesorter table">
        <thead>
            <tr>
                <th>
                    <% if (selectable) print('<input type="checkbox" id="select-all-individuals" />'); %>
                    ID
                </th>
                <th>Family</th>
                <th>Mother</th>
                <th>Father</th>
                <th>Gender</th>
                <th>Affected</th>
		        <th>Data Available</th>
                    <% if (show_edit_links) print('<th></th>'); %>
                    <% if(has_case_review_indivs) { print("<th>Review Status</th>") } %>
            </tr>
        </thead>
        <tbody>
            <% _.each(individuals, function(indiv) {
                if(indiv.in_case_review && (indiv.case_review_status == 'I' || indiv.case_review_status == 'R')) {
                    return; //don't show individuals that are in case review
                }
            %>
                <tr class="indiv-row" data-indiv_id="<%= indiv.indiv_id %>">
                    <td>
                        <div>
                            <% if (selectable) print('<label><input type="checkbox" class="indiv-checkbox" data-indiv_id="'+indiv.indiv_id+'"/>'); %>
                            <% if (indiv_id_link) { print('<a href="">'); } %>
                                <strong><%= indiv.nickname || indiv.indiv_id %></strong>
                            <% if (indiv_id_link) { print('</a>'); } %>
                            <% if (selectable) print('</label>') %>
                        </div>
                    </td>
                    <td>
                        <% if (show_resource_links) print('<a href="'+indiv.family_url+'">'); %>
                        <%= indiv.family_id %>
                        <% if (show_resource_links) print('</a>'); %>
                    </td>
                    <td><%= indiv.maternal_id %></td>
                    <td><%= indiv.paternal_id %></td>
                    <td>
                        <% if (indiv.gender == 'M') { print('Male') } %>
                        <% if (indiv.gender == 'F') { print('Female') } %>
                        <% if (indiv.gender == 'U') { print('Unknown') } %>
                    </td>
                    <td>
                        <% if (indiv.affected_status == 'A') { print('Affected') } %>
                        <% if (indiv.affected_status == 'N') { print('Unaffected') } %>
                        <% if (indiv.affected_status == 'U') { print('Unknown') } %>
                    </td>
                    <td>
                      <% if (indiv.has_variant_data ) { %>
                        <i class="fa fa-circle" title='Variants (VCF) loaded. Ready for analysis.' style="color: rgba(3, 182, 46, 0.79); font-size:9px"></i>
                      <% } else { %>
                        <i class="fa fa-circle" title='Variants (VCF) not loaded.' style="color: red; padding-right: 9px; font-size:9px"></i>
                      <% } %>
		      
                      <% if (indiv.has_read_data) { %>
                        <span style="padding-left:10px"><img src="/static/images/igv_reads_12x12.png" title='Read data available'></span>
                      <% } %>
                    </td>
		    <% if (show_edit_links) print('<td><a href="">Edit</a></td>'); %>
		    <% if(has_case_review_indivs) { %>
           <td> <%= case_review_status_lookup[indiv.case_review_status] %> </td>
        <% } %>
      </tr>
      <% }); %>
      </tbody>
    </table>

  <% if(has_case_review_indivs) { %>
  <br/>
  <hr/>
  <br/>
  <h3 style="display: inline"><b>Finished Case Review:</b></h3> &nbsp; &nbsp; &nbsp;
  <%
  if(user_is_staff) { %>
  <a href="/project/<%= project.guid %>/case_review">Edit Review Status</a><br>
  <% } %>
  <br>


  <table class="tablesorter table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Family</th>
      <th>Mother</th>
      <th>Father</th>
      <th>Gender</th>
      <th>Affected</th>
      <th>Review Status</th>
    </tr>
    </thead>
    <tbody>
    <%
    var prev_family_id = null;
    var family_counter = 0;

    _.each(individuals, function(indiv) {

       console.log(indiv)
    if(!indiv.in_case_review || !indiv.case_review_status || indiv.case_review_status == 'I' || indiv.case_review_status == 'R') {
      return;
    }


    if(indiv.family_id != prev_family_id) {
      family_counter += 1;
      prev_family_id = indiv.family_id;
    }


    %>
    <tr class="indiv-row"  style=<%= family_counter % 2 != 0 ? "background-color:#D3D3D3": "background-color:white" %>>
    <td><div><strong><%= indiv.nickname || indiv.indiv_id %></strong></div></td>
    <td>
      <% if (show_resource_links) print('<a href="'+indiv.family_url+'">'); %>
      <%= indiv.family_id %>
      <% if (show_resource_links) print('</a>'); %>
    </td>
    <td><%= indiv.maternal_id %></td>
    <td><%= indiv.paternal_id %></td>
    <td>
      <% if (indiv.gender == 'M') { print('Male') } %>
      <% if (indiv.gender == 'F') { print('Female') } %>
      <% if (indiv.gender == 'U') { print('Unknown') } %>
    </td>
    <td>
      <% if (indiv.affected_status == 'A') { print('Affected') } %>
      <% if (indiv.affected_status == 'N') { print('Unaffected') } %>
      <% if (indiv.affected_status == 'U') { print('Unknown') } %>
    </td>
    <% print('<td>'+(case_review_status_lookup[indiv.case_review_status] || '')+'</td>'); %>
    <td>

    </td>
    </tr>
    <% }); %>
    </tbody>
  </table>
  <% } %>


  <% if(has_case_review_indivs) { %>
    <br/>
    <hr/>
    <br/>
    <h3 style="display: inline"><b>In Case Review:</b></h3> &nbsp; &nbsp; &nbsp;
        <%
          if(user_is_staff) { %>
            <a href="/project/<%= project.guid %>/case_review">Edit Review Status</a><br>
        <% } %>
    <br>


    <table class="tablesorter table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Family</th>
            <th>Mother</th>
            <th>Father</th>
            <th>Gender</th>
            <th>Affected</th>
            <th>Review Status</th>
        </tr>
        </thead>
        <tbody>
        <% 
	   var prev_family_id = null; 
	   var family_counter = 0;
	   
	   _.each(individuals, function(indiv) {
	   
            if(!indiv.in_case_review || indiv.case_review_status != 'I' || indiv.case_review_status == 'R') {
                return;
            }
	   
	    
	   if(indiv.family_id != prev_family_id) {
	       family_counter += 1;
	       prev_family_id = indiv.family_id;
	   }


        %>
        <tr class="indiv-row"  style=<%= family_counter % 2 != 0 ? "background-color:#D3D3D3": "background-color:white" %>>
            <td><div><strong><%= indiv.nickname || indiv.indiv_id %></strong></div></td>
            <td>
                <% if (show_resource_links) print('<a href="'+indiv.family_url+'">'); %>
                <%= indiv.family_id %> 
                <% if (show_resource_links) print('</a>'); %>
            </td>
            <td><%= indiv.maternal_id %></td>
            <td><%= indiv.paternal_id %></td>
            <td>
                <% if (indiv.gender == 'M') { print('Male') } %>
                <% if (indiv.gender == 'F') { print('Female') } %>
                <% if (indiv.gender == 'U') { print('Unknown') } %>
            </td>
            <td>
                <% if (indiv.affected_status == 'A') { print('Affected') } %>
                <% if (indiv.affected_status == 'N') { print('Unaffected') } %>
                <% if (indiv.affected_status == 'U') { print('Unknown') } %>
            </td>
            <% print('<td>'+(case_review_status_lookup[indiv.case_review_status] || '')+'</td>'); %>
            <td>

	    </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>

</script>
