<script type="text/template" id="tpl-select-phenotype">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id_name" >Phenotype</label>
            <div class="controls">
                <select id="select-phenotype-select">
                    <% _.each(phenotypes, function(p) { %>
                    <option value="<%= p.slug %>"><%= p.name %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_name" >Phenotype</label>
            <div class="controls">
                <select id="select-phenotype-bool-value">
                    <option value="T" >Yes</option>
                    <option value="F" >No</option>
                    <option value="U" >-- No value --</option>
                </select>
            </div>
        </div>
    </div>
</script>