<script type="text/template" id="tpl-project-rare-variants">
    <h2>All Rare Functional Variants</h2>
    <div class="row">
        <div class="col-md-10">
	  <p>
            Below are all rare (&lt; 1% in 1kg and ExAC) coding variants in this gene. All rare coding variants are shown, regardless of annotation or quality.
	  </p>
	</div>
	<div  class="col-md-2">
	  <a class="download-csv" style="float:right;font-size:16px"><b>Download Results</b></a>
	</div>
    </div>
    <div class="variants-container"></div>

</script>


<script type="text/template" id="tpl-rare-variant-project">
    <div class="row variantrow">
        <div class="col-md-12">
            <div class="variant-container"></div>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-project-knockout">
    <div class="row variantrow">
        <div class="col-md-2">
            <div class="greytext">Individual</div>
            <%= individual.indiv_id %>
            <div class="greytext">Family</div>
            <a href="/project/<%= individual.project_id %>/family/<%= individual.family_id %>/mendelian-variant-search" target="_blank">
                <% print(individual.family_id) %>
            </a>
        </div>
        <div class="col-md-10">
            <div class="variants-container"></div>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-project-knockouts">
    <h2>Rare Recessive Variants</h2>
    <div class="row">
        <div class="col-md-10">
	  <p>Below are individuals that have one or more rare (&lt; 1% in 1kg and ExAC) missense or LoF alleles
	    with a homozygous recessive, x-linked, or compound heterozygous
	    pattern of inheritance.</p>
	</div>
	<div  class="col-md-2">
	  <a class="download-csv" style="float:right;font-size:16px"><b>Download Results</b></a>
	</div>
    </div>
    <div class="knockouts-container"></div>
</script>
