<script type="text/template" id="tpl-search-controls">
    <div class="search-controls">
        <% if (show_button) { %>
            <a class="btn btn-lg btn-primary" id="run-search" style="display: inline-block;">Search</a>
        <% } %>
        <span id="search-loading" style="display: none;">
            <div id="fountainG">
                <div id="fountainG_1" class="fountainG">
                </div>
                <div id="fountainG_2" class="fountainG">
                </div>
                <div id="fountainG_3" class="fountainG">
                </div>
                <div id="fountainG_4" class="fountainG">
                </div>
                <div id="fountainG_5" class="fountainG">
                </div>
                <div id="fountainG_6" class="fountainG">
                </div>
                <div id="fountainG_7" class="fountainG">
                </div>
                <div id="fountainG_8" class="fountainG">
                </div>
            </div>
        </span>
    </div>
</script>
