<script type="text/template" id="tpl-select-variants">
    <div class="row">
        <div class="col-md-3 left-select-container">
            <div class="filter-prefill-box">
                <p><em>Severity</em>: Initialize from one of our default severity bins</p>
                <div class="row">
                    <div class="col-md-12">
                        <select class="form-control" id="variant-presets-select">
                            <option value="">---</option>
                            <% _.each(defaultVariantFilters, function(variantFilter) { %>
                            <option value="<%= variantFilter.slug %>"><%= variantFilter.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 variant-select-controls">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse-annot">Annotation</a>
                    </div>
                    <div id="collapse-annot" class="panel-body panel-collapse in">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="annot-section-title">Functional Class</div>
                                <div class="annot-section-content">
                                    <% _.each(annotDefs, function(annotGroup) { %>
                                        <div class="toggle-annotation-details-container">
                                            <a class="toggle-annotation-details" data-annot="<%= annotGroup.slug %>">+</a>
                                        </div>
                                        <div class="annot-parent-container">
                                            <label class="annot-parent checkbox">
                                                <input type="checkbox" data-annot="<%= annotGroup.slug %>" class="checkbox input-annot-parent" />
                                                <%= annotGroup.name %>
                                            </label>
                                        </div>
                                        <div class="annotation-details" data-annot="<%= annotGroup.slug %>" style="display:none;">
                                            <% _.each(annotGroup.children, function(annot) { %>
                                                <label class="checkbox annot-child"><input type="checkbox" data-parent="<%= annotGroup.slug %>" data-annot="<%= annot.slug %>" class="checkbox input-annot-child">
                                                    <%= annot.name %>
                                                </label>
                                            <% }); %>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="annot-section-title">Variant Type</div>
                                <div class="annot-section-content">
                                    <div id="vartype-widget-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse-freq">
                            Allele Frequency
                        </a>
                    </div>
                    <div id="collapse-freq" class="panel-body panel-collapse in">
                        <div class="row">
                            <% _.each(reference_populations, function(pop) { %>
                                <div class="col-sm-3">
                                    <div class="annot-section-title"><%= pop.name %></div>
                                    <div class="annot-section-content">
                                        <div class="sliderContainer">
                                            <div class="freq-slider-label" data-population="<%= pop.slug %>"></div>
                                            <div class="freq-slider" data-population="<%= pop.slug %>"></div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse-predictions">Deleteriousness Predictions</a>
                    </div>
                    <div id="collapse-predictions" class="panel-body panel-collapse collapse">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="annot-section-title">PolyPhen</div>
                                <div class="annot-section-content" id="polyphen-widget-container"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="annot-section-title">SIFT</div>
                                <div class="annot-section-content" id="sift-widget-container"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="annot-section-title">MutationTaster</div>
                                <div class="annot-section-content" id="muttaster-widget-container"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="annot-section-title">FATHMM</div>
                                <div class="annot-section-content" id="fathmm-widget-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapse-region">
                            Location
                        </a>
                    </div>
                    <div id="collapse-region" class="panel-body panel-collapse collapse">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="annot-section-title">Genes</div>
                                <div class="annot-section-content">
                                    <textarea class="form-control" rows="4" id="region-genes"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="annot-section-title">Genomic Coordinates</div>
                                <div class="annot-section-content">
                                    <textarea class="form-control" rows="4" id="region-coords"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>