<script type="text/template" id="tpl-select-variants">
    <div class="row">
        <div class="col-md-3 left-select-container">
            <div class="filter-prefill-box">
                <p><em>Select Severity</em>:</p>
                <div class="row">
                    <div class="col-md-12">
                        <select class="form-control" id="variant-presets-select">
                            <option value="">---</option>
                            <% _.each(defaultVariantFilters, function(variantFilter) { %>
                            <option value="<%= variantFilter.slug %>"><%= variantFilter.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 variant-select-controls">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse-annot">Annotation</a>
                    </div>
                    <div id="collapse-annot" class="panel-body panel-collapse in">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="annot-section-title">Functional Class</div>
                                <div class="annot-section-content">
                                    <% _.each(annotDefs, function(annotGroup) { %>
                                        <div class="toggle-annotation-details-container">
                                            <a class="toggle-annotation-details" data-annot="<%= annotGroup.slug %>">+</a>
                                        </div>
                                        <div class="annot-parent-container">
                                            <label class="annot-parent checkbox">
                                                <input type="checkbox" data-annot="<%= annotGroup.slug %>" class="checkbox input-annot-parent" />
                                                <%= annotGroup.name %>
                                            </label>
                                        </div>
                                        <div class="annotation-details" data-annot="<%= annotGroup.slug %>" style="display:none;">
                                            <% _.each(annotGroup.children, function(annot) { %>
                                                <label class="checkbox annot-child"><input type="checkbox" data-parent="<%= annotGroup.slug %>" data-annot="<%= annot.slug %>" class="checkbox input-annot-child">
                                                    <%= annot.name %>
                                                </label>
                                            <% }); %>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <% if (showVartypeFilter) { %>
                                    <div class="annot-section-title">Variant Type</div>
                                    <div class="annot-section-content">
                                        <div id="vartype-widget-container"></div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#collapse-freq">
                            Allele Frequency
                        </a>
                    </div>
                    <div id="collapse-freq" class="panel-body panel-collapse in">
                        <div class="row">
                            <% _.each(reference_populations, function(pop) { %>
                                <% pop.name = pop.name.replace("1000 Genomes", "1000G") %>
                                <% if(!pop.description) {
                                    if(pop.slug == "1kg_wgs_phase3") {
                                        pop.full_name = "1000 Genomes Samples";
                                        pop.description = "Filter out variants that are found at a frequency higher than this threshold in the 1000 Genomes Phase 3 release (5/2/2013) dataset containing 2504 whole genome samples";
                                    }
                                    else if(pop.slug == "1kg_wgs_phase3_popmax") {
                                        pop.full_name = "1000 Genomes Samples Popmax";
                                        pop.description = "Filter out variants that have a higher allele count (AC) in the 1000 Genomes Phase 3 release (5/2/2013), or a higher allele frequency (popmax AF) in any one of these five subpopulations defined for 1000 Genomes Phase 3: AFR, AMR, EAS, EUR, SAS";
                                    }
                                    else if(pop.slug == "exac_v3") {
                                        pop.full_name = "ExAC";
                                        pop.description = "Filter out variants that are found at a frequency higher than this threshold among all individuals in ExAC";
                                    }
                                    else if(pop.slug == "exac_v3_popmax") {
                                        pop.full_name = "ExAC Popmax";
                                        pop.description = "Filter out variants that have a higher allele count (AC) in ExAC, or a higher allele frequency (popmax AF) in any one of these six subpopulations defined for ExAC: AFR, AMR, EAS, FIN, NFE, SAS";
                                    }
                                }; %>
                                <div class="col-sm-<%= showPopAcFilter ? '4' : '3' %>" style="min-height: 90px;">
                                    <div class="annot-section-title">
                                        <%= pop.name %>
                                        <% if (pop.description) {  %>
                                            <i class="icon-question-sign icon-popover" title="<%= pop.full_name || pop.name %>" data-placement="top" data-content="<%= pop.description %>"></i>
                                        <% }; %>
				                    </div>
                                    <div class="annot-section-content row">
                                        <% if (showPopAcFilter) { %>
                                            <div class="col-sm-3">
                                                <div>AC</div>
                                                <select class="ac-select" data-population="<%= pop.slug %>">
                                                    <% var filterValues = ['---', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
                                                    <% filterValues.forEach(function(value) { %>
                                                        <option value="<%= value %>"><%= value %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        <% }; %>
                                        <% if (pop.has_hom_hemi) { %>
                                            <div class="col-sm-3">
                                                <div>H/H</div>
                                                <select class="hom-hemi-select" data-population="<%= pop.slug %>">
                                                    <% var filterValues = ['---', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
                                                    <% filterValues.forEach(function(value) { %>
                                                        <option value="<%= value %>"><%= value %></option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        <% }; %>
                                        <div class="sliderContainer col-sm-<%= showPopAcFilter ? (pop.has_hom_hemi ? '6' : '9') : '12' %>" style="margin-top:10px">
                                            <div class="freq-slider-label" data-population="<%= pop.slug %>" style="min-width: 30px; min-height: 20px">&nbsp;</div>
                                            <div class="freq-slider" data-population="<%= pop.slug %>"></div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                            <div class="col-sm-<%= showPopAcFilter ? '4' : '3' %>" style="min-height: 90px; align:center;">
                                <div class="annot-section-title">
                                    Adjust All
                                </div>
                                <div class="annot-section-content">
                                    <div>
                                        <% if (showPopAcFilter) { %>
                                            AC:&nbsp;
                                            <select id="set-all-ac-filters" style="margin-top: 15px;">
                                                <% var filterValues = ['---', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
                                                <% filterValues.forEach(function(value) { %>
                                                    <option value="<%= value %>"><%= value %></option>
                                                <% }); %>
                                            </select>
                                            &nbsp;H/H:&nbsp;
                                            <select id="set-all-hom-hemi-filters" style="margin-top: 15px;">
                                                <% var filterValues = ['---', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
                                                <% filterValues.forEach(function(value) { %>
                                                    <option value="<%= value %>"><%= value %></option>
                                                <% }); %>
                                            </select>
                                            &nbsp;AF:&nbsp;
                                        <% }; %>
                                        <select id="set-all-freq-filters" style="margin-top: 15px;">
                                            <% var filterValues = ['---', 0, 0.0001, 0.0005, 0.001, 0.005, 0.01, 0.02, 0.03, 0.05, 0.1, 1]; %>
                                            <% filterValues.forEach(function(value) { %>
                                                <option value="<%= value %>"><%= value %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if (thisCallsetFilter) { %>
                            <div class="row" style="border-top: 1px solid #EEE;">
                                <div class="col-sm-4" style="min-height: 90px;">
                                    <div class="annot-section-title">
                                        This Callset <i class="icon-question-sign icon-popover" title="This Callset" data-placement="top" data-content="Filter out variants that have a higher allele count (AC), or a higher allele frequency (AF) among the samples in this family plus the rest of the samples that were joint-called as part of variant calling for this project."></i>
                                    </div>

                                    <div class="annot-section-content row">
                                        <div class="col-sm-3">
                                            <div>AC</div>
                                            <select class="ac-select" data-population="AF">
                                                <% var filterValues = ['---', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; %>
                                                <% filterValues.forEach(function(value) { %>
                                                    <option value="<%= value %>"><%= value %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <div class="sliderContainer col-sm-9" style="margin-top:10px">
                                            <div class="freq-slider-label" data-population="AF" style="min-width: 30px; min-height: 20px">&nbsp;</div>
                                            <div class="freq-slider" data-population="AF"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }; %>
                    </div>
                </div>
                <% if (showDeleteriousnessPredictorFilters) { %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" href="#collapse-predictions">Deleteriousness Predictions</a>
                        </div>
                        <div id="collapse-predictions" class="panel-body panel-collapse collapse">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="annot-section-title">PolyPhen</div>
                                    <div class="annot-section-content" id="polyphen-widget-container"></div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="annot-section-title">SIFT</div>
                                    <div class="annot-section-content" id="sift-widget-container"></div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="annot-section-title">MutationTaster</div>
                                    <div class="annot-section-content" id="muttaster-widget-container"></div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="annot-section-title">FATHMM</div>
                                    <div class="annot-section-content" id="fathmm-widget-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapse-region">
                            Location
                        </a>
                    </div>
                    <div id="collapse-region" class="panel-body panel-collapse">
                        <div class="row">
                            <div class="col-sm-4">
									<div class="annot-section-title">
										Genes &nbsp; <i class="icon-question-sign icon-popover" title="Genes" data-placement="top"
												data-content="One or more gene symbols (eg. CFTR) or gene ids (eg. ENSG00000158941) - each on a separate line."></i>
										<label>
                                            <input id="exclude-gene-list-checkbox" type="checkbox" style="margin-left:75px"/> Exclude &nbsp;
										    <i class="icon-question-sign icon-popover" title="Exclude Genes" data-placement="top"
										         data-content="Use this checkbox to search for variants not in these genes."></i>
                                        </label>
									</div>
									<% if(hbc.gene_lists && hbc.gene_lists.length > 0) { %>
										<select id="gene_list_select" class="form-control" style='margin-bottom:10px'>
                            				<option value="---">---</option>
											<% _.each(hbc.gene_lists, function(gene_list) { %>
												<option value="<%= gene_list.slug %>"><%= gene_list.name %></option>
											<% }); %>
                        				</select>
									<% } %>
                                	
									
                                <div class="annot-section-content">
                                    <textarea class="form-control" rows="4" id="region-genes" style='width:100%'></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="annot-section-title">Genomic Coordinates &nbsp; <i class="icon-question-sign icon-popover" title="Genomic Coordinates" data-placement="top"
									       data-content="One or more genomic ranges (eg. 3:12345-54321) and/or chromosome names (eg. chrX) - each on a separate line. It doesn't matter whether 'chr' is included in the chromosome name."></i></div>
                                <div class="annot-section-content">
                                    <textarea class="form-control" rows="4" id="region-coords" style='width:100%'></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
