<script type="text/template" id="tpl-variant-notes">
    <h2>Variant Notes</h2>
    <% _.each(flags, function(flag) { %>
        <div class="compact-flag-display">
            <%= flag.note %><br>
            <span class="name"><%
                if flag.user is None:
                    print("[unknown user]")
                else:
                    print(flag.user.display_name)
                %></span> | <span class="date"><%= flag.date_saved %></span>
        </div>
    <% }); %>
</script>