name: Hail Search Unit Tests

# Run the test suite on pushes (incl. merges) to master and dev
# Run the test suite when a PR is opened, pushed to, or reopened
on:
  push:
    branches:
      - master
      - dev
    paths:
      - 'hail_search/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'hail_search/**'

jobs:
  hail_search:
    runs-on: ubuntu-latest
    container: hailgenetics/hail:0.2.128

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip wheel
          pip install -r hail_search/requirements-test.txt
      - name: Run coverage tests
        run: |
          export HAIL_SEARCH_DATA_DIR=./hail_search/fixtures
          export REFERENCE_DATASETS_DIR=./hail_search/fixtures/reference_data
          export MAX_GENE_INTERVALS=3
          export MACHINE_MEM=24
          export JAVA_OPTS_XSS=16M
          coverage run --source="./hail_search" --omit="./hail_search/__main__.py","./hail_search/test_utils.py" -m pytest hail_search/
          coverage report --fail-under=99
