name: VLM Unit Tests
permissions:
  contents: read

# Run the test suite on pushes (incl. merges) to master and dev
# Run the test suite when a PR is opened, pushed to, or reopened
on:
  push:
    branches:
      - master
      - dev
    paths:
      - 'vlm/**'
      - '.github/workflows/*vlm*.yaml'
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'vlm/**'
      - '.github/workflows/*vlm*.yaml'

jobs:
  vlm_clickhouse:
    runs-on: ubuntu-latest
    container: hailgenetics/hail:0.2.128

    services:
      clickhouse:
        image: bitnami/clickhouse:latest
        ports:
          - 8123:8123   # HTTP interface
        options: >-
          --health-cmd "clickhouse-client --query 'SELECT 1'"
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5
          --name clickhouse
        env:
          CLICKHOUSE_USER: clickhouse_test_user
          CLICKHOUSE_PASSWORD: clickhouse_test_password
          ALLOW_EMPTY_PASSWORD: no

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip wheel
          pip install -r vlm/requirements-test.txt
      - name: Set up Clickhouse Settings and Data
        run: python3 vlm/setup_clickhouse_test_data.py clickhouse 8123 clickhouse_test_user clickhouse_test_password
      - name: Run coverage tests
        run: |
          export SEQR_BASE_URL=https://test-seqr.org/
          export NODE_ID=TestVLM
          export CLICKHOUSE_SERVICE_HOSTNAME=clickhouse
          export CLICKHOUSE_SERVICE_PORT=8123
          export CLICKHOUSE_VLM_USERNAME=vlm_test_user
          export CLICKHOUSE_VLM_PASSWORD=vlm_test_password
          export CLICKHOUSE_DATABASE=test_seqr
          coverage run --source="./vlm" --omit="./vlm/__main__.py","./vlm/setup_clickhouse_test_data.py" -m pytest vlm/
          coverage report --fail-under=95

